[2019-05-12 01:49] Accio1 opened #1 "We need a favicon"
The logo for the Forum Helpers is a rectangle, but favicons (the little picture which is displayed in the tab) needs to be a square. Would anyone be interested in making a square version of the Forum Helpers logo?

[2019-05-12 12:46] NilsTheBest commented on #1
If I recall correctly, the dimensions of a favicon are 64x64, so we can't really do much. I might give it a try.

[2019-05-12 13:24] adsuri commented on #1
I'm guessing it'll be initials (FH)?

[2019-05-12 13:43] adsuri commented on #1
Would this be good? I think the size is correct.

[2019-05-12 13:44] adsuri commented on #1
Whoops Here it is:
http://u.cubeupload.com/adsuri/mqYTKA.png

[2019-05-12 13:47] Accio1 commented on #1
I like that, but I was wondering if we could keep the peace sign from the original logo (the one which is the studio thumbnail), so that it is more recognisable.

[2019-05-12 15:13] NilsTheBest commented on #1
![FHthumbnail1](https://user-images.githubusercontent.com/41824646/57584252-3b1d1e00-74d9-11e9-90ec-2a707054f104.png)
Is this ok?

[2019-05-12 15:48] adsuri commented on #1
Nice!! I prefer NilsTheBest's one.

[2019-05-12 15:49] NilsTheBest commented on #1
Thanks :) I'll try to see how I can improve it and make it more recognizable though.

[2019-05-12 15:49] Accio1 commented on #1
I really like this! To me the FH is visible enough.

[2019-05-12 15:51] NilsTheBest commented on #1
I have a hard time seeing it

[2019-05-12 16:08] adsuri commented on #1
Try a slightly darker color?

[2019-05-12 16:09] NilsTheBest commented on #1
yeah

[2019-05-12 16:24] NilsTheBest commented on #1
Much better:
![FHtest3](https://user-images.githubusercontent.com/41824646/57585047-e1215600-74e2-11e9-838a-52a10a836cf2.png)
Favicon:
![fhtest3](https://user-images.githubusercontent.com/41824646/57585063-22196a80-74e3-11e9-9c85-7c5dca2005cc.png)

[2019-05-12 17:17] Accio1 commented on #1
Great! I like that one! That will be our favicon unless anyone objects.

[2019-05-12 17:42] Accio1 opened #2 "How should the site look?"
I was thinking that we would have a header with "The Forum Helpers", a small paragraph about us, and then a directory linking to different pages. For example, Forum Helpers and biographies, funny quotes/posts/topics, etc.

Thoughts?

[2019-05-12 17:51] NilsTheBest commented on #2
Yeah!
We should keep the same color palette as the thumbnail of the main studio though. I'll give you the hex color codes for the shades of blue that are in the thumbnail if you need them.
In the header, we should have dropdowns with "our members" which would contain little bios about us (e.g. which forums we usually go on, etc.), and some of your suggestions.

[2019-05-12 18:03] Accio1 commented on #2
Okay! I've started desigining on my own a page for the list of Forum Helpers, and even with very little HTML knowledge, you could help me implement it, as for each user you would just copy and paste some code and change a link to their profile picture.

[2019-05-12 18:06] NilsTheBest commented on #2
Gotcha. How would we ask for each forum helper's bio?

[2019-05-12 18:11] Accio1 commented on #2
Perhaps we could apply some kind of filter to their profile picture once it's in the site, making it slightly grey to signify that they're inactive.

[2019-05-12 18:17] NilsTheBest commented on #2
Alright.

For the bios thing, I'm thinking of a menu with every forum helper's logo where when you click on one, you have a little box with their short bio and their logo + username at the top left (or right). Would that be not to hard to make?

[2019-05-12 18:20] Accio1 commented on #2
That seems like it would be pretty difficult. What would be easier would be having all of them on one page, and then a table of contents which links to the part of the page with that user.

[2019-05-12 18:23] NilsTheBest commented on #2
I see. Kind of like on wiki articles where at the beginning there is a summary, and when you click on a link it brings you a certain part of the page?

[2019-05-12 18:24] Accio1 commented on #2
Yes, very similar to that.

[2019-05-12 18:26] NilsTheBest commented on #2
Like this?
![Capture du 2019-05-12 20-26-38](https://user-images.githubusercontent.com/41824646/57586292-4467b400-74f4-11e9-8cc3-012221f3f227.png)

[2019-05-12 18:33] Accio1 commented on #2
![Screenshot 2019-05-12 at 2 32 50 PM](https://user-images.githubusercontent.com/48496940/57586363-d8b92300-74c2-11e9-93bc-425a3e46287b.png)
This is what I have so far

[2019-05-12 18:37] NilsTheBest commented on #2
Ah, yeah! I'm thinking of a better, more readable/enjoyable font. Comfortaa would be a good font for the username. For the content of the bio, I'm thinking of something like Arial or Arimo.

[2019-05-12 18:40] Accio1 commented on #2
Yes, I just wanted to get the positioning before I start adding fonts or other stuff.

[2019-05-12 18:44] NilsTheBest commented on #2
I'm also thinking of a possible "updates" section later on

[2019-05-12 18:44] Accio1 commented on #2
Like changes to policy and things?

[2019-05-12 18:45] Accio1 commented on #2
I'm going to create a page for the list of Forum Helpers, so that you can see the code.

[2019-05-12 18:53] Accio1 commented on #2
Ok, I made this page https://theforumhelpers.github.io/Forum_Helpers/ you can see the code for it here https://github.com/theforumhelpers/theforumhelpers.github.io/blob/master/Forum_Helpers/index.html

[2019-05-12 18:58] NilsTheBest commented on #1
Nice! I'll improve it later on but we'll stick with this then :)

[2019-05-12 18:58] #1 closed

[2019-05-12 19:00] NilsTheBest commented on #2
Nice. We also need to define what is inactive and what isn't, so this way we don't have both the active version and inactive version that appear.

[2019-05-12 19:02] Accio1 commented on #2
I'm thinking if they don't give a biography, they're inactive.

[2019-05-12 19:02] NilsTheBest commented on #2
Oh, duh x)

[2019-05-12 19:05] Accio1 commented on #2
Okay, I'll work on that now.

[2019-05-12 19:07] NilsTheBest commented on #2
Sure, it'd go smth like that:
"Hey! I spend most of my time in Questions about Scratch, suggestions, and the french forums. I have recently hit 2.5K posts :') and think I'm addicted to the forums."

[2019-05-12 19:28] Accio1 commented on #2
For some reason your gif profile picture is way too large, I'm trying to find a fix.

[2019-05-12 19:30] NilsTheBest commented on #2
Perhaps use this one? (the one I currently have on github)

[2019-05-12 19:33] Accio1 commented on #2
I would, but the thing is that lots of people have profile pictures like that, and having them all provide a static image would be a pain.

[2019-05-12 19:34] NilsTheBest commented on #2
What's the max logo file size?

[2019-05-12 19:36] Accio1 commented on #2
I found a fix, implementing now.

[2019-05-12 19:44] Accio1 commented on #2
Okay, here is what I have so far: https://theforumhelpers.github.io/Forum_Helpers/

[2019-05-12 19:48] Accio1 commented on #2
Would you like me to start adding more fancy elements, like a header, footer, etc?

[2019-05-12 19:49] NilsTheBest commented on #2
Sure :)

[2019-05-12 20:03] Accio1 commented on #2
Do you have the hex codes for the thumbnail?

[2019-05-12 20:04] NilsTheBest commented on #2
Ah, sure. I'll get straight to it.

[2019-05-12 20:14] NilsTheBest commented on #2
![Capture du 2019-05-12 22-14-13](https://user-images.githubusercontent.com/41824646/57587304-4f761080-7503-11e9-9b18-0dc83efd6644.png)

[2019-05-13 12:18] Accio1 commented on #2
Okay, I’ve finished the majority of the nav bar. If you head to the main page ( theforumhelpers.github.io ) and you click on the link for the list page, it should bring you there. Clicking the logo will bring you back to the main page.

[2019-05-13 15:29] NilsTheBest commented on #2
Nice! What should be on the main menu? Should it be an explanation on what/who we are?

[2019-05-13 15:33] Accio1 commented on #2
Yes, that’s what I was thinking. When I get the chance, I’ll add a footer to both pages as well. Do you have any ideas for other pages and/or stuff to put in the footer?

[2019-05-13 15:36] NilsTheBest commented on #2
A link to the main studio?

[2019-05-13 15:38] Accio1 commented on #2
Good Idea, I might even put that in the nav bar/header as well.

[2019-05-13 15:53] NilsTheBest commented on #2
Yeah, I'd rather put the link to the main studio in the header too.

[2019-05-13 19:48] Accio1 commented on #2
Okay, I'll work on that now. Are you online, because if so, I have a small task for you.

[2019-05-13 21:57] NilsTheBest commented on #2
Sure? I'm going to bed in like 10 minutes though. Tomorrow morning school starts at 10 am so I might be able to help out ^^

[2019-05-13 22:24] Accio1 commented on #2
If you want to go through the profiles of the Forum Helpers, and use inspect element to find the link to their profile picture, and paste that with their username somewhere, that would be a big help.

[2019-05-13 22:30] NilsTheBest commented on #2
Gotcha. Will do that when I wake up tomorrow morning (cuz it's 0:30 am here right now) since school starts late.

[2019-05-13 22:33] Accio1 commented on #2
Okay, I might start tonight, so I'll let you know If I have started or not before then.

[2019-05-14 01:16] Accio1 commented on #2
Nevermind doing that, I did it already. For the footer, I was thinking of having a back to top link, as well as the following sentence(s): "This website was created by -Accio- (Accio1 on Github) and NilsTheBest (NilsTheBest on Github) on behalf of the Forum Helpers."

[2019-05-14 01:21] adsuri commented on #2
Just wondering, is there any way I can view what the webpage currently looks like?

[2019-05-14 01:25] Accio1 opened #3 "Fix links in nav bar"
The links in the nav bar should be white, not black+underline. To fix, give classes to links in page+change a:hover, etc. to "class":hover.

[2019-05-14 01:27] Accio1 opened #4 "Table of contents"
Make a table of contents with curator+manager for the list page.

[2019-05-14 01:29] Accio1 opened #5 "Add adsuri and -ShadowOfTheFuture-'s bios with next commit."

[2019-05-14 07:18] NilsTheBest commented on #2
https://theforumhelpers.github.io/

[2019-05-14 11:40] #3 closed

[2019-05-14 11:40] #5 closed

[2019-05-14 12:18] Accio1 commented on #2
Would you still like there to be a table of contents with each person, or just Curators and Managers? I think that having a table of contents with each person would make it very long, and therefore a bit unnecessary, but if you want there to be one I would be fine with adding it.

[2019-05-14 15:25] NilsTheBest commented on #2
If this is what you were suggesting:
1 - managers
 1.1 - example
 1.2 - exAmple
 1.3 - exampll
2 - curators
 2.1 - someone
 2.2 - someone else
 2.3 - another person

etc.

Support!

[2019-05-14 15:37] Accio1 commented on #2
Do you want a table of contents which links to the names of every Forum Helper listed on the page. Or one which just links to the manager and curator headings on the page?

[2019-05-14 18:04] NilsTheBest commented on #2
If I'm understanding correctly, you want two separate "curators" and "managers" buttons in the header?

[2019-05-14 18:24] Accio1 commented on #2
No, there will be a table of contents with links to curators and managers. The table of contents won’t be in the header. It will be similar to tables of contents on the wiki.

[2019-05-14 18:27] NilsTheBest commented on #2
Oh nvm, I see. XD
Yeah! How do we make a table of contents like that?

[2019-05-14 18:37] Accio1 commented on #2
It’s not as hard as it seems. You give the headers ids, and then the table of contents is just a div with links to the ids.

[2019-05-14 18:48] NilsTheBest commented on #2
Go ahead :P

[2019-05-14 18:57] Accio1 commented on #2
Ok, do you want to start drafting the about us paragraph which will go on the homepage of the site.

[2019-05-14 18:58] NilsTheBest commented on #2
Will get straight to it.

[2019-05-14 19:17] NilsTheBest commented on #2
oof sorry for the long wait, I had stuff IRL. How does this sound?

"Hi there! Welcome to The Forum Helpers! We are a small group of people who help around the Scratch forums daily. We mostly help answering questions, give our thoughts on suggestions by scratchers from all over the world, and answer bug reports."

Should I also specify which forums we usually go on and a link to them?

[2019-05-14 20:06] Accio1 commented on #2
That sounds good. I think links would be a good idea.

[2019-05-14 20:21] NilsTheBest commented on #2
ok I'll try reformulating slightly some things and add the links to see how it would look like

[2019-05-14 20:26] NilsTheBest commented on #2
Didn't change much, but here we go:

Hi there! Welcome to The Forum Helpers! We are a small group of people who help around the Scratch forums daily. We mostly help answering questions, answer bug reports, give our thoughts on suggestions by scratchers from all over the world.

Suggestions: https://scratch.mit.edu/discuss/1/
Bugs and Glitches: https://scratch.mit.edu/discuss/3/
Questions about Scr

[2019-05-14 20:30] Accio1 commented on #2
Okay, that looks good. Do you have any ideas for anything else to fill the first page, as it has to be large enough to be scroll able, so that the footer will stay at the bottom.

[2019-05-14 20:31] NilsTheBest commented on #2
I'll see if I can think of anything

[2019-05-14 20:39] NilsTheBest commented on #2
btw I've changed my mind about my bio, do you mind if I change it directly via https://github.com/theforumhelpers/theforumhelpers.github.io/blob/master/Forum_Helpers/index.html ?

[2019-05-14 21:05] Accio1 commented on #2
Feel free to. I had actually removed your bio, because I thought it was just a rough one for testing. To change it, scroll down to your name, and change "No Biography Provided" to your bio.

[2019-05-14 22:12] Accio1 commented on #2
Have you thought of anything else to add to the main page. I found a way to get the footer to stay at the bottom, but it looks odd without content which fills the page.

[2019-05-14 23:53] Accio1 opened #6 "bbciplayer+SpaceDragon1 links are blue"
Apply link class to change them to black.

[2019-05-15 00:13] #4 closed

[2019-05-15 11:03] Accio1 commented on #2
I thought of other things to add, so it's more than a page now. I also added the table of contents to the List of Forum Helpers page, so both pages are basically done, unless you want to add something else to them.

[2019-05-15 12:39] NilsTheBest commented on #2
Neat! We also need to change the font to make it look better. I think the background of the main page should also be a bit brighter and welcoming.

[2019-05-15 12:50] NilsTheBest commented on #2
oops no that looks back I'm reverting this

[2019-05-15 13:52] NilsTheBest opened #7 "Better fonts"
We should try to find better fonts for text in different parts of the website. I suggest trying Arial or Arimo. Of course, we can look for other things too. This is just so that we can have a more readable font and make the site look better.

[2019-05-15 19:20] NilsTheBest commented on #2
FYI, I added ZZ9PluralZAlpha's bio as he requested it :)

[2019-05-15 19:31] Accio1 commented on #2
Thanks. The only thing is, in the future can we please wait until we are making another commit, or until lots of people have requested them to be added, so that we're not making commits just to add bios.

[2019-05-15 19:33] Accio1 commented on #7
What fonts in particular are you suggesting to be changed? I can read it perfectly fine as is.

[2019-05-15 21:59] NilsTheBest commented on #7
I can read it perfectly fine too, it's just that it doesn't really look that "welcoming" if you see what I mean.

I suggest something that looks more like the font Scratch uses for some parts of the front page - Helvetica Neue (it's flat, simple, etc.)

[2019-05-16 00:42] Accio1 commented on #7
I prefer the way it is now, but if you want to change it, that's fine. Would you prefer it look like the picture I've included?
![Different Fonts](https://user-images.githubusercontent.com/48496940/57818412-cdc7f200-7751-11e9-9e20-169333292f4d.png)

[2019-05-16 21:36] NilsTheBest commented on #7
Yeah, that's definitely more pleasant to read. It's more welcoming, "flat" and simple, easy to read ^^

[2019-05-17 00:13] Accio1 commented on #7
I think what you mean is that the font pictured above a sans-serif font, meaning that there are no extra lines on top or underneath, or on the sides of letters.

Although I prefer serif fonts, I think a good compromise would be having the content be sans-serif, and the header and footer text being serif. (This is the way it's pictured above).

If you approve, I will switch the fonts to the way tha

[2019-05-17 20:18] Accio1 opened #8 "Encouraging More Biographies/Inactive Users"
Right now, the list of Forum Helpers page is very empty, as not many users have provided biographies. I'm wondering if there would be any way to encourage more users to provide biographies. Here are a few of my ideas:

1. Leave comments on the profiles of users without bios.
-We could leave a comment which would say something like this: "Hi there! We are in the process of creating a Forum Helpers

[2019-05-17 20:18] #6 closed

[2019-05-18 19:49] NilsTheBest commented on #8
+1

[2019-05-18 19:52] NilsTheBest commented on #7
Yeah, that does sound like a good idea to me.

[2019-05-18 19:56] Accio1 commented on #8
Okay, are you okay with the following comment?

Hi there! We are in the process of creating a Forum Helpers website, and one of the pages has a list of Forum Helpers and biographies. Would you be able to provide a biography which we would be able to use on that page? Random # to avoid spam:

[2019-05-18 19:57] Accio1 commented on #7
Okay, I'll change that now.

[2019-05-18 20:04] Accio1 commented on #8
I'll start commenting that on users who haven't provided bios now.

[2019-05-18 20:23] Accio1 commented on #8
Done

[2019-05-18 22:18] NilsTheBest commented on #2
We need this

There's a quote from @cheddargirl that absolutely needs to be there

[2019-05-18 22:19] Accio1 opened #9 "Bios To Be Added"
✔️ MakeTheBrainHappy: https://scratch.mit.edu/users/makethebrainhappy/#comments-57937395
❓ BY147258369: https://scratch.mit.edu/users/BY147258369/#comments-57936161
✔️ XCat: https://scratch.mit.edu/users/XCat/#comments-57942234
✔️ awesome-llama: https://scratch.mit.edu/users/awesome-llama/#comments-57949407
✔️ cs156175: https://scratch.mit.edu/users/cs156175/#comments-57974701
✔️ Abstract-: https:

[2019-05-18 22:26] MakeTheBrainHappy commented on #9
Is this all the code for the website?

[2019-05-18 22:59] Accio1 commented on #9
Yes, I can add you to the organisation if you want.

[2019-05-18 23:05] Accio1 commented on #2
Okay, I'll create an "In Development" page where we can work on this.

[2019-05-19 01:36] MakeTheBrainHappy commented on #9
Sure, although I haven't programmed many websites before.

[2019-05-19 14:20] Accio1 commented on #7
This has been implemented, and therefore, this issue can be closed.

[2019-05-19 14:20] #7 closed

[2019-05-19 17:19] Accio1 commented on #8
To keep everything consistent, should all biographies be converted to first person, as that's what they are in so far?

[2019-05-19 19:46] Accio1 opened #10 "Quotes Page"
How should the quote/funny topic page look?

I was thinking to have it set up similar to the list of Forum Helpers page, but I want to hear everyone else's thoughts as well.

[2019-05-20 12:47] Accio1 commented on #2
Another page that I was thinking of adding was a page where there would be frequently posted replies, with buttons to copy each reply to your clipboard. This would make it easier, because you wouldn't have to type out the reply each time, you could just go to the page and copy and paste it.

Thoughts?

[2019-05-20 22:08] NilsTheBest commented on #10
I can't really think of anything else either, we might just stick with that until we find something original

[2019-05-28 19:46] NilsTheBest commented on #10
Is there any way I could help though? I'm looking forwards to contribute to the making of it, and not do nothing :P

[2019-05-28 21:10] Accio1 commented on #10
Sure! What would you like to help with?

Step one is obviously gathering quotes, and deciding on a layout.

[2019-06-01 18:22] NilsTheBest commented on #10
"By any chance are you using Safari or Chrome browser? There's a known issue where using either one of those two browsers result in **demon robot voice output**. " - Cheddargirl, 2019
https://scratch.mit.edu/discuss/post/3536182

[2019-06-16 00:54] Accio1 commented on #10
I made a mockup of what the quotes page could look like.

Thoughts?

![Screenshot 2019-06-15 at 8 52 55 PM](https://user-images.githubusercontent.com/48496940/59557744-9eeea700-8faf-11e9-8c21-54e1b2fd484a.png)

[2019-06-18 07:21] NilsTheBest commented on #10
That looks pretty accurate! I don't really think we need the two categories though, you could just have "iconic quotes", and all the rest is miscellaneous stuff.

[2019-06-18 11:13] Accio1 commented on #10
Is this better?
![Screenshot 2019-06-18 at 7 13 09 AM](https://user-images.githubusercontent.com/48496940/59677753-9b6a4400-9198-11e9-947a-38745ea22396.png)

[2019-06-19 15:23] NilsTheBest commented on #10
:+1:

[2019-06-20 01:36] Accio1 commented on #10
Great! We should probably get some more quotes before we start making the page on the actual site.

[2019-06-23 19:02] Accio1 commented on #2
This discussion isn't really required anymore.

[2019-06-23 19:02] #2 closed

[2019-06-23 19:02] Accio1 commented on #8
@NilsTheBest

[2019-07-19 16:30] NilsTheBest commented on #10
Woww, sorry I haven't checked this in so long. I guess after the exams I just switched to vacation mode. At this point, I think the quotes page is the last thing to do, right?

[2019-07-20 14:42] Accio1 commented on #10
Yes, for now. But we need more quotes before we can start it.

[2019-12-21 16:02] Nambaseking01 commented on #9
It seems like you have to add me and a couple of other Scratchers to the list! I'll give my bio after you respond.

[2019-12-21 16:03] Nambaseking01 commented on #8
I know this wasn't directed at me but you should probably leave it at first person since it is about the person and no one will get suspicions.

[2019-12-21 16:05] Nambaseking01 commented on #10
We need to start working on this, seems like this hasn't been discussed in a while,

[2019-12-21 17:34] Accio1 commented on #9
https://scratch.mit.edu/studios/3688309/comments/#comments-67136411

[2019-12-22 14:58] awesome5185 commented on #10
oof only 4 (incl me) people commented on this page.

[2019-12-22 17:58] Accio1 commented on #10
Honestly, I'm not sure that this page is required. It would be a lot of work to maintain, and we need several more quotes to even start creating it.

[2019-12-22 17:59] Accio1 commented on #10
@NilsTheBest what do you think?

[2019-12-24 14:05] bybb opened #13 "License file needed"
Currently this software is proprietary (all rights reserved) to whoever wrote the initial copy and thus is (by technicality) illegal for anyone to copy / develop upon it themselves. I'd recommend the MIT license to go alongside the ethics of Scratch and MIT.

[2019-12-24 14:08] ghost opened #14 "Capitalisation in paths"
I notice a commit stating "rename `quotes/` to `Quotes/`". It generally isn't aesthetically pleasing to use camelcase paths in URLs, nor to use underscores. I'd recommend renaming of all files back to lowercase, and using spaces (0x20 // %20) instead of underscores.

We can then address files at these locations via URI encoding (e.g. `theforumhelpers/forum%20helpers/` for the folder "forum helpers

[2019-12-24 14:10] bybb commented on #10
It wouldn't be too much worse if more users contributed, and people were given roles. Also using Jekyll and encoding the data within a JSON document for the page to be auto-generated would help a lot.

[2019-12-24 14:12] bybb commented on #9
Bios would be best handled via Jekyll, in my opinion. GitHub pages has native support for Jekyll afterall.

[2019-12-24 15:11] Nambaseking01 commented on #14
Support.

This would make everything more organized - the current names aren't really good for web development.

[2019-12-24 15:11] Nambaseking01 commented on #13
I was about to say MIT.  ;P You said it

[2019-12-24 20:13] bybb opened #16 "Fix indentation style of CSS."
I have never seen an indentation style like this and it makes the CSS incredibly hard to read. In addition you use tabs (`\t`) for indentation globally. Can we agree on 2 characters or 4 characters of ` ` (space) rather than tabs for sake of ease of modification.

If you aren't already, install git locally and use `git push` to upload files modified locally using a sane text editor (I'd recommend

[2019-12-24 20:14] bybb commented on #16
Personally I'm very fond of 4 character space indentation.

[2019-12-25 01:57] Accio1 commented on #16
Tabs make more sense to me, and are easier to work with than spaces. You just have to press tab once instead of space 2 or 4 times. The code works fine either way, so changing this isn't necessary.

[2019-12-25 01:57] #16 closed

[2019-12-26 17:58] bybb commented on #16
Changing this *is* necessary. Your use of tabs goes against standard programming practises and you shouldn't *have* to be manually indenting anything. Please download Git locally and use a text editor such as Notepad++, Sublime Text, Atom.io, VSCode, or anything that performs automatic indentation.

[2019-12-26 18:00] bybb commented on #8
A lot of the accounts in the list are abandoned and people have moved on to new accounts. A good example is KawaiiCatGirl- who has moved to M1mikyu

[2019-12-26 19:42] Accio1 commented on #16
Just because most people use spaces, that doesn't mean that using tabs is wrong. [This](https://courses.cs.washington.edu/courses/cse154/17au/styleguide/html-css/spacing-indentation-css.html) website says that "Many developers choose to use 4-space or 2-space indentation" that doesn't mean that other ways are wrong, it just means that spaces are more common.

My computer doesn't support Git

My te

[2019-12-26 22:29] bybb commented on #16
... what computer are you using that doesn't support Git?

ChromeOS support it via Termux, Windows supports it via GitHub Desktop.

[2019-12-26 23:07] Accio1 commented on #13
Fixed

[2019-12-26 23:07] #13 closed

[2019-12-27 16:39] Accio1 commented on #16
I can't use either

[2019-12-30 11:31] Nambaseking01 commented on #16
I personally use Sublime Text, and it's a pretty good text editor. I recommend writing your code there then doing copy and paste if you can't use Git.

[2020-01-01 22:36] Nambaseking01 opened #17 "White below collaborators in macOs"
I'm on a Mac at the moment (I usually use Windows, but today this due to personal reasons) and I don't know why but below the "This website was made by -Accio- (Accio1 on Github) and NilsTheBest (NilsTheBest on Github) on behalf of the Forum Helpers" text box there is a whole lot of unneeded white space. Can someone please fix that? Thanks!

[2020-03-20 17:30] Accio1 commented on #17
This will be addressed after #20 is merged.

[2020-03-20 17:30] Accio1 commented on #14
This will be addressed after #20 is merged.

[2020-03-20 22:21] Accio1 commented on #17
Can you please confirm that this is still happening? I don't see any white space on my version of the site.

I don't use MacOS, so I can't fix this. If it is still happening, please use chrome developer tools to find a solution, and then create a pull request to fix the issue.

[2020-03-20 22:24] Accio1 commented on #14
I'm going to do some more research on this, and come back with an answer when I have made a decision. Feel free to add discussion weighing the pros and cons of each method.

[2020-03-21 14:55] Accio1 opened #21 "[Bug] 54329 is the first curator"
**Describe the bug**
54329 is the first curator listed, but he isn't the first curator in the studio.

**To Reproduce**
Go to the list of Forum Helpers, scroll down to curators.

**Expected behavior**
They should be closer to the bottom

**Browser Information**
My browser / operating system: ChromeOS 12739.94.0, Chrome 80.0.3987.137, No Flash version detected

**Additional context**
None

[2020-03-21 18:45] Accio1 commented on #21
In the JSON file, 54329 is in their correct spot, but when the website is loaded, they are at the top of the list.

[2020-03-22 00:19] Accio1 commented on #9
This is no longer needed, because from now on, I will add biographies right away, or track them in an ongoing pull request.

[2020-03-22 00:19] #9 closed

[2020-03-22 02:51] Accio1 opened #22 "[Bug] awesome-llama has replaced Sigton"
**Describe the bug**
awesome-llama's pfp and bio are under Sigton's name, and awesome-llama's spot is missing.

**To Reproduce**
Scroll down to Sigton on the Forum Helpers page

**Expected behavior**
awesome-llama and Sigton should be separate

**Browser Information**
N/A (Applies to everyone)

**Additional context**
None

[2020-03-24 19:44] Accio1 commented on #17
@Nambaseking01

[2020-03-25 13:19] Nambaseking01 commented on #17
Wait though, I can't use it because my dad has symptoms of (the thing) and I can't use his Mac.

[2020-03-30 14:20] #22 closed

[2020-05-01 20:49] Accio1 commented on #17
@Nambaseking01 any updates? Are you able to use the Mac now?

[2020-05-13 17:10] Nambaseking01 commented on #17
i'm able to :) will see tomorrow, because- (no time)

[2020-05-16 18:30] Accio1 commented on #17
I'm going to close this issue. If this problem is still present, please comment on it, or submit a PR to fix it.

[2020-05-16 18:30] #17 closed

[2020-05-17 15:29] Nambaseking01 commented on #17
Okay.

[2020-05-17 15:33] Nambaseking01 commented on #17
It's not white but light-blue, which seems to have fixed it. Feel free to end discussion here.

[2020-05-18 20:06] #21 closed

[2020-12-03 02:06] Accio1 commented on #14
Blocked pending site overhaul. I am leaning towards implementing this suggestion. Eg. Forum Helpers page would now be found at  https://theforumhelpers.github.io/forumhelpers/ This would make it more consistent with common site URLS.

[2020-12-03 02:10] Accio1 commented on #8
Resolved

[2020-12-03 02:10] #8 closed

[2020-12-03 02:11] Accio1 commented on #10
This conversation has gone stale. @NilsTheBest do you think that this page should still be implemented?

[2020-12-04 02:50] Accio1 opened #30 "[Bug] Issues with list of Forum Helpers"
Upon inspecting the list of Forum Helpers after #28 was merged, I noticed the following issues when the list of Forum Helpers was compared to the list of curators/managers in the studio.

- LegoManiac04 should come before Geonaut in the list of Forum Helpers
- awesome_guy_360 is missing (between jakel181 and orochi67). Looking through commit logs, it looks like they were simply missed in the origi

[2020-12-04 02:52] Accio1 commented on #30
Triage Information

Priority: High (This displays incorrect information about who is a part of the Forum Helpers, and therefore should be fixed ASAP. However, it isn't a site-breaking bug, and therefore doesn't warrant the "URGENT" label.)
Timeline for fix: Within the next week

[2020-12-04 03:02] Accio1 opened #31 "Feature Request: Additional Features for the "List of Forum Helpers" Page."
The List of Forum Helpers page contains information about the people who are currently Forum Helpers, but I feel as though it is lacking some features that could be beneficial.

- [ ] It would be neat to add different filters for sorting the list. For example, sorted by date joined (default used currently), or sorted alphabetically. I'm not sure how feasible this is based of of how the JSON is org

[2020-12-04 03:06] Accio1 commented on #31
Triage Info

**Priority:** Low priority because it contains optional features that may be added in a future update.
**Timeline:** This will be worked on as a part of the site overhaul taking place near the end of this year/start of next year.

[2020-12-04 13:13] leahcimto commented on #30
I could help if you would like me to.

[2020-12-08 01:33] leahcimto commented on #30
I could help if help is wanted.

[2020-12-08 09:00] MTM828 opened #32 "[Idea] add css transitions for links and edit their style"
ive noticed that they dont really blend in, especially when they're clicked. and i think the underline looks quite ugly idk.

just a small suggestion

perhaps the colour of links should be the same as the background, and on hover (add transitions so it looks way better) make it the same as the top navigation bar. and as i said remove the outlines if it looks ugly.

how will we do this?
well its do

[2020-12-10 00:31] Accio1 commented on #30
@leahcimto please go ahead and work on this!

[2020-12-10 00:48] #10 closed

[2020-12-10 19:23] MTM828 commented on #32
um... HELLO?

[2020-12-10 19:55] Accio1 commented on #32
I don't understand what you are saying. Please provide mockup screenshots or submit a PR with your proposed changes. Also, I have a busy life right now and don't have time to reply to issues instantly. Please be patient or just @ me in the future if I haven't replied within a week instead of rudely trying to get my attention.

[2020-12-10 20:06] MTM828 commented on #32
@Accio1 ;_; All I said was "um... HELLO?". basically what im saying is that links could look better, my suggestion is that you use my css or create your own, mine is here to give you an idea, but it still could be used. <p style="font-size: 50%;">how do u del issues?</p>

[2020-12-10 20:28] Accio1 commented on #32
You can't delete issues since you aren't a repository admin. I don't really see what is wrong with the current links, so I just want you to explain a bit more what you are suggesting or give a screenshot of what you think they should look like.

[2020-12-11 00:42] leahcimto commented on #30
Awesome, I'll get started tomorrow.

[2020-12-11 00:44] Accio1 commented on #30
Fantastic! I've assigned you to this issue

[2020-12-11 00:54] leahcimto opened #36 "Idea: Update credits area"
The credits area in the footer currently says "This website was made by -Accio- (Accio1 on Github) and NilsTheBest (NilsTheBest on Github) on behalf of the Forum Helpers", however, there are some other users who have helped this website, like the people in [the forum helpers organization](https://github.com/orgs/theforumhelpers/people), and others who are not in that list.

[2020-12-11 01:05] Accio1 commented on #36
Thanks for creating an issue for this. I have mentioned it in the to do list for the site overhaul ( https://github.com/theforumhelpers/theforumhelpers.github.io/discussions/35 ) (Make sure to check out and post in the new discussion section of this repository!). I was thinking that there could be either:
a) A credits page that shows who has contributed to the site
b) Badges next to people's names

[2020-12-11 08:40] MTM828 commented on #32
i just thought itd look better if you removed the underline and add transitions so it looks smoother, but i guess they look just fine. can you just delete it please? ty.

[2020-12-12 00:04] leahcimto commented on #30
@Accio1 I can't seem to find awesome_guy_360 in the studio. The Scratch account does not curate the studio. Was that a mistake?

[2020-12-12 00:15] leahcimto commented on #30
Anyways, I made the PR. Let me know if anything should be changed.

[2020-12-12 00:20] leahcimto commented on #36
I think the first option would be easier, but the second option would probably look nicer. I would go for the second option, however this will most likely be harder to implement.

[2020-12-12 18:06] #30 closed

[2020-12-13 17:05] MTM828 opened #40 "[Bug] Byron_Inc's PFP hasn't been updated"
This isn't SOO important but yeah, Byron's PFP is old.

[2020-12-13 17:08] MTM828 commented on #40
Why does this have the "needs info" tag?

[2020-12-13 17:09] Accio1 commented on #40
It is up to date for me. This might have been a caching issue. Try clearing your cache and reloading the page.

The way that this site is designed, it is impossible for a profile picture to not be up to date. It pulls the picture right from Scratch using the person's user ID.

[2020-12-13 17:10] MTM828 commented on #40
Hmm, OK thanks. Resolved I guess.

[2020-12-13 17:10] #40 closed

[2020-12-14 20:11] Accio1 commented on #32
Closed by request of the person who made this issue

[2020-12-14 20:11] #32 closed

[2020-12-15 17:23] MTM828 commented on #32
I requested it to be deleted too.

[2020-12-15 19:52] Accio1 commented on #32
I'm leaving it closed instead of deleting it in case a related issue arises it so that they can be linked.

[2020-12-16 09:46] MTM828 commented on #32
Can you delete it when the site is complete?

[2020-12-16 22:37] leahcimto opened #42 "[Bug] cnd2 to uploads"
Currently, this site uses cnd2 to get a user's profile picture. Recently, the 'image hosting' Scratch uses, was changed from cnd2.scratch.mit.edu to uploads.scratch.mit.edu. In the list of forum helpers, it gets the user's profile picture through cnd2. It still works, but it should be updated to a uploads.scratch.mit.edu image link in case Scratch gets rid of all images hosted on cnd2.

**The new

[2020-12-16 22:38] leahcimto commented on #14
Are we going to do /forum%20helpers or just /forumhelpers ?

[2020-12-17 03:37] Accio1 commented on #42
URGENT label because it could possibly break a large portion of the site if not fixed. I will do research about this and then submit a PR to fix this within the next day or two.

[2020-12-17 03:38] Accio1 commented on #14
I'm leaning towards /forumhelpers. I personally don't like the use of %20 or other symbols in URLs. Do you agree or do you prefer /forum%20helpers ?

[2020-12-17 03:48] Accio1 commented on #42
To do before I submit the PR:

- [ ] Switch the URL for both curators and mangers inside the JS used to generate the page
- [ ] Ensure that the default PFP works correctly (Scratch was having issues with that recently)
- [ ] Ensure that all file types display correctly (PNG, JPG, GIF)
    - [ ] Ensure that images are sized correctly (including gif images)
    - [ ] PNG images should be transparent

[2020-12-17 14:14] leahcimto commented on #42
@Accio1 I am looking into more evedence, but the best I can find right now is right clicking images and going to their URL. I also found that if you want the image size in the URL, you can simply replace the cnd2 part with uploads, making the link look like https://uploads.scratch.mit.edu/get_image/user/USERID_50x50.png

[2020-12-18 12:55] MTM828 commented on #32
@Accio1 ... (I know you're busy, OK?)

[2020-12-18 19:01] leahcimto commented on #14
I like /forumhelpers too.

[2020-12-21 10:12] MTM828 commented on #32
Hey, I'm pretty sure I saw you update the site. Did you perhaps for get this issue?

[2020-12-21 22:45] leahcimto commented on #40
Also, it might be an issue with your cache. Try doing ctrl+shift+R, or clear your cache (it is different depending on what browser you use)

[2020-12-22 07:33] MTM828 commented on #40
@leahcimto Yeah, it probably is, thanks. And I'm using Edge.

[2020-12-22 07:35] MTM828 commented on #32
@Accio1 How rude. (ノಠ益ಠ)ノ

[2020-12-22 13:52] Accio1 commented on #32
Ok, I am not able to check this repository every day. Your first comment was less than a week ago so just be patient. This is borderline spam at this point so if you continue, I will block you from commenting on this repository.

As for this, I don't understand what you mean. The site will never be "complete" because it will be constantly be updated in order to add improvements and new features. T

[2020-12-22 21:06] #42 closed

[2020-12-22 21:24] Accio1 commented on #36
@leahcimto I would also prefer the icons but I'm not sure how easy it will be to pull off. I will try both options and choose the one that is more realistically possible.

[2020-12-23 01:15] leahcimto commented on #14
@Accio1 I could do this if help is wanted.

[2020-12-23 01:27] Accio1 commented on #14
Okay, I will assign you to this issue. Here is a checklist of things to change and tests

- [ ] Change folder names to reflect the new URL styles
- [ ] Change the actual relative links in each page to redirect to the page with the correct capitalization
- [ ] Do not change links to QuickReply. It is capitalized intentionally because it is the name of a specific tool (this may be changed in the fut

[2020-12-23 21:12] #14 closed

[2020-12-24 18:28] Accio1 opened #50 "New Issue/Bug Report Templates"
Before going forward with the site overhaul, I was thinking that it would be a good idea to create new or update old issue templates, as well as create new pull request templates. This needs some discussion before I start to work on it.

For issue templates, I was thinking:
**Bug Template**
Assignees: Accio1
Labels: bug
Title: Bug:

Categories:
- Describe the bug
- Steps to reproduce
- How big of

[2020-12-24 18:46] MTM828 commented on #32
@Accio1

You: "This is borderline spam at this point so if you continue, I will block you from commenting on this repository."

Can you explain how? I am very confused and further clarification would be very useful.

You: "Why do you want the issue to be deleted as well?"

Well, you (all the people who are building this site) seem to have everything under control, when I came along, I was like a f

[2020-12-24 21:40] leahcimto commented on #50
@Accio1 I think there should also be a “List of Forum Helpers” option for adding someone, changing a bio, etc. I would also like to be assigned to that if you wind up making it.

[2020-12-24 22:22] Accio1 commented on #50
@leahcimto yes I mentioned that in the issue but forgot to bold it

[2020-12-24 22:49] leahcimto commented on #50
I think that would be fine. I use it on other projects and it works.

[2020-12-25 00:10] leahcimto opened #51 "Idea: More readme info"
I think that our readme is pretty empty, and could use some more information, like who we are, a link to the studio, and how to join and contribute.

[2020-12-25 01:55] Accio1 commented on #32
@MTM828 I've broken down your post above and given my thoughts on each major topic that you pointed out.

Constantly commenting, especially only leaving comments such as "How rude. (ノಠ益ಠ)ノ" isn't constructive. As I said in the past, I am busy and don't have time to reply to comments right away. I apologise for saying that I would block you, but I was annoyed by the amount of comments that you were

[2020-12-25 14:23] MTM828 commented on #32
@Accio1
I deleted the unnecessary comments I posted, I hope that helps. And sorry!

I understand that it'll never be finished, and I've created a fork to help you get what I mean too, sorry for being slightly unclear with what I'm trying to say.

The Scratch Team thing is sort of hard to explain, I think Za-Chary knows how to explain it well. And I'd like it if this issue doesn't get steered off,

[2020-12-27 10:47] MTM828 commented on #36
I honestly think taht the credits should have their own page and the footer should have page links and such, like Scratch's. But yeah, I understand that it's fine just the way it is.

[2020-12-27 17:48] leahcimto opened #52 "Idea: Use Vercel"
I think that we should use [Vercel](https://vercel.com) for our pull requests, mainly for the preview option it offers. All that would need to be done would be to configure it to this repository [here](https://github.com/apps/vercel). After configuring it to this website, it will tell you to make a Vercel account, type the URL of this repository, and then finally deploy it. Then, whenever a pull r

[2020-12-27 19:26] Accio1 commented on #52
I'll look into using this or similar services, as I agree that it would be useful.

[2020-12-28 03:17] Accio1 commented on #36
@MTM828 @leahcimto maybe a combination of both? There could be badges indicating someone has helped with the site, and then a credits page with a more detailed description of each contributer?

[2020-12-28 13:49] leahcimto commented on #36
I like that idea 👍

[2020-12-28 14:34] MTM828 commented on #36
@Accio1 Yeah, yeah, great idea!

[2020-12-28 17:03] #50 closed

[2020-12-28 17:30] leahcimto commented on #36
Just throwing this out there, we could also use something like [this](https://allcontributors.org/). I know that ScratchAddons was able to make it so the bot also puts things on their credits page, not just the readme.

[2020-12-28 19:58] Accio1 opened #54 "Bug: Pull request templates don't work"
**Describe the bug**
Pull request templates don't work

**To Reproduce**
Create a pull request, observe that there are no templates to choose from and no default template.

**Expected behavior**
There should be a selection of templates to choose from and they should have pre filled descriptions.

[2020-12-29 13:39] leahcimto commented on #54
CR

[2020-12-29 13:43] leahcimto commented on #54
@Accio1 That is so strange. It looks like everything is correct from looking at [this.](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository)

[2020-12-30 19:53] Accio1 opened #56 "Site Overhaul: Fix CSS"
Currently, this site uses a variety of CSS styles for its various parts. For example, different fonts, inconsistent CSS, etc.

In order to make the site more visually appealing, and make future development easier, the following need to be changed to make styles consistent across the site.

### CSS Formating
- [x] **As often as possible, CSS should be located in sytlesheets, not as inline CSS.**
Th

[2020-12-30 20:20] leahcimto commented on #56
Yup, I will get to working on it as soon as I can.

[2020-12-30 20:22] Accio1 commented on #56
Great! Is there anything you want to change/discuss about the points listed above?

[2020-12-30 21:44] leahcimto commented on #56
Yes actually, I would like to ask what you mean by the "class names" because I don't work with CSS a lot and wondering where they go in the stylesheet. Could you give me an example?

[2020-12-30 21:48] Accio1 commented on #56
Class names are used to identify certain parts of a page/site.

Inline, they look like this: <h1 class="Home_title">The Forum Helpers</h1>
In a stylesheet, they look like this: .Home_title
The period indicates that is the class that is being referred to.

This website has a pretty good demonstration of what classes are and how to use them: https://www.w3schools.com/html/html_classes.asp

[2020-12-30 21:49] leahcimto commented on #56
I see. Thanks for telling me!

[2020-12-30 21:50] Accio1 commented on #56
You're welcome! I don't know why the first example isn't working. Just quote it to see the actual code.

[2020-12-30 21:50] leahcimto commented on #56
Also, for the Montserrat font are we going to use [regular 400](https://fonts.google.com/specimen/Montserrat?category=Sans+Serif&preview.text=The%20Forum%20Helpers.&preview.text_type=custom&sidebar.open=true&selection.family=Montserrat)?

[2020-12-30 21:51] Accio1 commented on #56
Yes

[2020-12-30 21:53] leahcimto commented on #56
One last thing; should I edit the existing stylesheet or start from scratch?

[2020-12-30 21:58] Accio1 commented on #56
I know that over the summer I was working on redoing the CSS for a site that I was working on (still haven't finished it :P) and I found it helpful to just restart the stylesheet. Then you aren't trying to merge old and new code together. It is up to you though. Just make sure to try to follow the same indenting style that is currently used.

[2020-12-30 22:00] leahcimto commented on #56
Ok, I think I will redo it from scratch. I'll start editing it!

[2020-12-30 22:13] leahcimto commented on #56
When you say the text should be black, does that include the text in the navbar?

[2020-12-30 22:15] Accio1 commented on #56
No, I forgot about the nav text. Navbar and footer text should stay white.

[2020-12-31 00:10] leahcimto commented on #56
@Accio1 I created a draft pull request here: #57. Please share what you think should be changed.

[2020-12-31 05:59] MTM828 commented on #56
On it!

[2021-01-01 13:43] leahcimto commented on #56
@Accio1, would you like me to make sure all of the div classes match up with the stylesheet?

[2021-01-01 14:56] Accio1 commented on #56
@leahcimto I'm going to do a full review today. That will include me checking all of the points that I have listed above.

[2021-01-01 15:29] MTM828 commented on #56
Looks like I'm too late... :P

[2021-01-03 13:29] leahcimto commented on #56
@Accio1 Part one created at #58

[2021-01-08 22:33] leahcimto commented on #56
@Accio1 could you please review #58?

[2021-01-09 02:33] Accio1 commented on #56
@leahcimto yes, I will work on that now. I apologize for not getting to it earlier, as I was very busy this week.

[2021-01-09 13:50] leahcimto commented on #56
That's fine!

[2021-01-10 16:54] Accio1 opened #59 "Integrate Actions Labeller"
Github Actions Labeller  https://github.com/actions/labeler is a GitHub Action that will automatically label Pull Requests based on which files they change.

To do this, a workflow.yml file needs to be set up, as well as a labeler.yml file.

In the labeler.yml file, the following labels will be added to PRs based on what they change

- Any changes- unreviewed
- Changes to managers.json or curators

[2021-01-11 21:12] leahcimto opened #61 "Feature Request: Update Front Page"
**Is your feature request related to a problem?**
Yes. The problem is that the application process for the forum helper studio has changed a lot in the past few hours. The grading system was abolished, and other things are still being discussed. The front page should be updated to reflect the new changes.

**Describe alternatives you've considered**
Err.. not really any, as this fixes the front pa

[2021-01-11 21:20] leahcimto commented on #56
Part 2 in progress.

[2021-01-11 21:52] Accio1 commented on #61
As there is still ongoing discussion in the Manager studio about this new change, requirements, etc. I am marking this a blocked until everything is officially changed. Once the new process has been implemented and the description has been changed to reflect the new process, then this issue will become unblocked so that the front page can be updated.

[2021-01-13 22:56] leahcimto commented on #56
Part 2 created at #62

[2021-01-19 23:36] leahcimto commented on #61
After getting more information, it looks like applicants still fill out the application form, but a manager simply accepts or rejects, no grading needed.

[2021-01-20 01:51] Accio1 commented on #61
There are still a few pending suggestions in the manager studio, so I'm going to leave this as blocked for now.

[2021-01-21 12:45] leahcimto opened #63 "Feature Request: Pending Curators To Be Added"
With the new application system, more users have been getting in a lot quicker, meaning that there are a few applicants that need to be added to the list:

A checkbox indicates that a bio was provided. Bios must be submitted before 4:00 PM EST today (Jan 23)

- [x]  dogsmakemehappy (id: 17609915)
- [x]  garnetluvcookie (id: 56239390)
- [x] Jeffalo (id: 34018398)
- [x]  scratchykit5743 (id: 3913655

[2021-01-22 12:51] leahcimto commented on #59
Support, this would make things more organized.

[2021-01-22 15:27] Accio1 commented on #61
@leahcimto I have unblocked this since it seems like the grading process has been finalized. Feel free to submit a PR now if you want to.

[2021-01-23 16:19] leahcimto commented on #63
-Charon- bio: Howdy, I'm Charon! You can find me most often in the Questions about Scratch and the Things I'm Reading and Playing forum categories. When I'm not on the forums, I like to make random garbage and play video games like the doofus I am.

[2021-01-23 16:20] leahcimto commented on #63
BearSlothCoding bio: Hey, I'm BSC. I used to be active in QaS and Suggestions but now school has left me only posting weird two to three paragraph almost essays no one asked for in TIRAP.

[2021-01-23 16:20] leahcimto commented on #63
jeffalo bio: jeffalo

[2021-01-23 16:21] leahcimto commented on #63
Remove fdreerf from managers.json 😭

[2021-01-23 16:26] leahcimto commented on #63
Move Ihatr and Bluebatstar to managers.json

[2021-01-23 18:30] SausageMcSauce commented on #63
I think fdreerf could go in a Former Members section.

[2021-01-23 18:31] leahcimto commented on #63
@SausageMcSauce We could, but then we would have to include other former members. Maybe "Notable members"?

@Accio1  What are your thoughts on this?

[2021-01-23 18:33] leahcimto commented on #61
In progress

[2021-01-23 18:35] leahcimto commented on #61
Nevermind, I will do this after the inline CSS is merged so there are no merging conflicts.

[2021-01-24 13:23] leahcimto commented on #63
scratchykit5743 bio:
Hey, I’m scratchykit! I’m an autistic 7th grader who has interest in glee, the New York islanders and cinematic furry memes. I get a lot of 60-second rules and am very anger-prone, so keep note of that.

[2021-01-24 17:11] leahcimto commented on #63
Garnetluvcookie bio:
s h r e k

[2021-01-25 15:29] jeffalo opened #64 "Bug: margins on mobile"
margins on small devices make reading content impossible

[2021-01-25 15:30] jeffalo commented on #52
vercel is also fast like sonic. highly recommended. it also has some automatic building tools, but keep in mind you won't be able to keep the current github.io domain

[2021-01-25 15:33] jeffalo opened #65 "Feature Request: ocular status"
hello it's me business man jeffalo, i am here to suggest showing ocular status under bios on the user list.

**Is your feature request related to a problem?**
i like ocular status

**Describe alternatives you've considered**
n/a ocular is too original

**Additional context**
https://my-ocular.jeffalo.net/docs

[2021-01-25 20:38] Accio1 commented on #56
@leahcimto Part 2 has been merged. Part 3 focuses on adding/changing CSS so that it is more up to date with how the site should look. The changes to be made are listed under the "Styles" header above.

[2021-01-25 20:41] Accio1 commented on #64
I'm going to work on this on a local copy of this repo. I've added the involved label because this is something that impacts a large portion of the site and may require many changes to fix.

[2021-01-25 21:00] leahcimto commented on #65
i also like ocular status

[2021-01-25 21:05] leahcimto commented on #56
On it

[2021-01-25 21:07] leahcimto commented on #65
kinda already mentioned at #31

[2021-01-25 21:11] jeffalo commented on #64
uhh I'm not familiar with your codebase, but shouldn't changing a margin amount on smaller screens be pretty simple?

[2021-01-25 21:40] Accio1 commented on #64
@jeffalo, sorry I should have been more clear. I was more concerned about the header and footer since those are embeds and it is somewhat difficult to resize both the embeds and it's content

[2021-01-26 06:58] jeffalo commented on #64
ah that makes more sense 👍

hey by any chance have you considered rewriting in nuxt, it can generate static sites and vercel supports it. that way the nav could be a Vue component, maybe each user could be a Vue component etc. then you have nice reusable components you can say like `<user name="Jeffalo"/>` instead of messing with iframes and stuff

[2021-01-26 21:09] Accio1 commented on #64
I'd like this site to have as little dependencies as possible so that it is easy for anyone to contribute to.

[2021-01-29 00:14] leahcimto commented on #61
I will do this in the next few days

[2021-01-29 00:33] leahcimto commented on #63
I have finished updating and will create a PR tomorrow.

[2021-01-29 23:26] leahcimto commented on #63
@Accio1 Created at #66

[2021-02-01 02:36] Accio1 opened #68 "Test for allcontributers"

[2021-02-01 02:37] Accio1 opened #69 "Test issue for All Contributors Bot"
Comment below to be added to the readme as a contributor

Related to #36 and #51

[2021-02-01 02:42] Accio1 commented on #69
@all-contributors please add @Accio1 for code, ideas, design, and management

[2021-02-01 15:26] #59 closed

[2021-02-01 22:56] leahcimto commented on #56
@Accio1 Sorry for the wait, the PR should be up by tomorrow.

[2021-02-01 23:51] Accio1 commented on #56
No worries, take your time

[2021-02-01 23:57] Accio1 commented on #63
Closed in #66

[2021-02-01 23:57] #63 closed

[2021-02-03 00:14] leahcimto commented on #56
@Accio1 Could you elaborate on T"ry to get the headers on the list of Forum Helpers page to stand out more"?

[2021-02-03 02:14] Accio1 commented on #56
@leahcimto how does this look? Do you think it stands out too much?
![image](https://user-images.githubusercontent.com/48496940/106688144-8de71500-659b-11eb-8c57-d3fefc1f0613.png)

[2021-02-03 21:27] leahcimto commented on #56
@Accio1 I think that looks ok.

[2021-02-03 21:46] Accio1 commented on #56
@leahcimto okay,
adding the following code to forumhelpers_subheaders,
margin-right: 20px;
background: #31ACBA;
padding: 10px;
border-radius: 10px;

and the following code to hr should work:
margin-right: 20px;

[2021-02-03 23:12] leahcimto commented on #56
@Accio1 PR up at #71

[2021-02-04 00:50] leahcimto commented on #36
Are there anymore ideas on this?

[2021-02-04 01:32] Accio1 commented on #36
I've looked into using all contributors but it seems a little bit like overkill for the small number of contributors that this project has. After fix styling issue is resolved, I will start working on this in order to prevent merge conflicts.

[2021-02-04 01:38] #61 closed

[2021-02-04 01:45] Accio1 commented on #56
@leahcimto Fantastic! I just merged it. At this point, all that is left is step 4, which is getting rid of duplicate/unneeded CSS.

[2021-02-06 00:58] leahcimto opened #74 "Bug: Labeler Occasionally not Working"
**Describe the bug**
The auto labeler worked in the test but the last 3 pull requests I made were not auto-labeled.

**To Reproduce**
Make a Pull Request
See that it does not get auto labeled upon opening it, even if the checks pass.

**Expected behavior**
The pull request should be auto-labeled.

**Browser Information**
Mac OS Big Sur 11.1, Chrome 88.

**Additional context**
If the pull request i

[2021-02-06 01:18] Accio1 commented on #74
I noticed this also. According to the 5 minutes of research that I did, it won't label PRs that come from forks (seems weird because that is where the majority of PRs come from). If it isn't going to label PRs from forks, then I might just disable it because it seems to defeat the purpose of having a labeller if it only labels some PRs.

[2021-02-12 16:07] leahcimto commented on #56
@Accio1 Part 4 created at #73

[2021-02-16 15:43] Accio1 commented on #56
After part 4 is merged, these are the next steps:

- Fix headers and footers to work better on mobile
    - The footer shouldn't change much, it should just get taller as needed to display the text without it overlapping.
    - The header might have to be converted into a dropdown on mobile devices because there isn't enough space for all the links.
    - Related issue: #64

- Add credits page

[2021-02-17 00:00] Accio1 commented on #56
@leahcimto thank you so much for all of your help! This issue can now be closed as it was resolved by #73

[2021-02-17 00:00] #56 closed

[2021-02-17 00:01] leahcimto commented on #56
Yay! Thanks for reviewing the PRs!

[2021-02-17 00:12] leahcimto opened #78 "Feature Request: Pending Curators To Be Added"
Basic88
Nezon
moonliight--
NotDucki_
-InsanityGames-
bobcat0701
PoIygon
Steve0Greatness
-EmeraldThunder-
LankyBox01

Bios are pending for all users. I'll get them soon, and add these users to the list.

[2021-02-19 21:59] leahcimto opened #79 "Feature Request: .com Domain Name (www.theforumhelpers.com)"
Hello. I would like to purchase a .com domain for this website, so it can be located at theforumhelpers.com. After I buy it, I can simply share the domain info with you (@Accio1) and you can then add it to the site. Please let me know if you are interested.

Please note that I have zero experience with domains and have no idea how to put it on the site, I just know how to get one.

I will get one

[2021-02-19 22:01] leahcimto commented on #79
Alternatively, you can make me a repo admin (temporarily) and I can figure out how to configure the domain myself. Here are some instructions I got from a Scratch user:

<img width="408" alt="Screen Shot 2021-02-18 at 5 08 36 PM" src="https://user-images.githubusercontent.com/68165163/108566236-1243d280-72d4-11eb-96ee-be968b8484a2.png">

i don't exactly know what that means but i can figure it out

[2021-02-21 23:54] leahcimto commented on #79
bump

[2021-02-23 22:46] leahcimto commented on #79
@Accio1 just figured out how to connect a domain. all you have to do is put the domain in the repo settings. then, it will make a CNAME file. then i can just make a CNAME file on my end and it will be connected (that is if i get the domain)

[2021-02-25 00:40] Accio1 commented on #79
@leahcimto, thanks for your initiative in order to think of ways to improve the site! However, I have a few comments about this:

1. At $12 USD per year for theforumhelpers.com, I'm not sure that it is worth the price.
2. theforumhelpers.github.io looks fine, so I'm not really sure that a new domain is needed. My guess would be that >200 people visit this site for month, so it doesn't need to have

[2021-02-25 00:53] leahcimto commented on #79
Got it. Thanks!

[2021-02-25 00:53] #79 closed

[2021-03-01 20:54] leahcimto commented on #78
Draft PR up at #81. I'll convert it to a normal PR at 6:30 PM EST.

[2021-03-01 20:58] leahcimto opened #82 "Feature Request: Update Front Page (again)"
The front page needs to be updated (for like the 4th time) to reflect the new application process where managers have the ability to object.

I will do this after #81 is merged to avoid merging conflicts.

[2021-03-02 00:31] #78 closed

[2021-03-04 01:24] leahcimto commented on #36
@Accio1 Agreed. When do you plan on working on this?

[2021-03-04 01:50] Accio1 commented on #36
@leahcimto I'm very sorry about the delay. School and another project that I am working on is taking up the majority of my time right now. Since I am busy, I think for now I will work on just a very simple static credits page with just a list of names and icons. Then, when I have more time on my hands, I will work on adding more complex features such as badges on the list of forum helpers page or

[2021-03-04 12:56] leahcimto commented on #36
Got it!

[2021-03-06 19:52] CodeGuy92 opened #85 "pls change biography"
https://scratch.mit.edu/studios/3688309/comments/#comments-133243932

[2021-03-06 19:52] CodeGuy92 commented on #85
btw yes its me lanky
dont tell anyone that i made this account

[2021-03-06 21:18] Accio1 commented on #85
@leahcimto

[2021-03-06 21:19] leahcimto commented on #85
@Accio1 Could you merge #83 so we don't run into merge conflicts?

[2021-03-06 21:23] #74 closed

[2021-03-06 21:23] Accio1 commented on #85
For sure. I don't think it would cause merge conflicts since it affects different files, but I'll go ahead just to be sure.

[2021-03-06 21:24] leahcimto commented on #85
Thanks

[2021-03-06 21:24] Accio1 commented on #85
@leahcimto also, if you are going to update this, please also address #82 in the same PR.

[2021-03-06 21:34] leahcimto commented on #85
@Accio1 PR up at #86

[2021-03-06 21:48] Accio1 commented on #36
In progress right now. I am thinking of having a grid of people similar to the Scratch Credits page with their GitHub profile and username. Does this sound good?

[2021-03-06 21:49] leahcimto commented on #36
Sounds good to me! Also, the labeler is working :D

[2021-03-06 22:21] Accio1 commented on #36
@leahcimto how do you think it should be organised? Alphabetical? Most to least contributions? Oldest to earliest?

Also I'm glad that the labeler is working!

[2021-03-06 22:23] leahcimto commented on #36
I think most to least contributions, but you can do alphabetical if you think that's better :)

[2021-03-06 23:05] Accio1 commented on #36
@leahcimto how does this look?
![image](https://user-images.githubusercontent.com/48496940/110224057-6a6aff00-7ea6-11eb-9770-bf1207b77b62.png)

[2021-03-06 23:05] leahcimto commented on #36
@Accio1 That looks amazing!

[2021-03-06 23:11] Accio1 commented on #36
@leahcimto Thanks! I'm going to make the PR now!

[2021-03-06 23:34] #85 closed

[2021-03-06 23:48] Accio1 commented on #82
Closed in #86

[2021-03-06 23:48] #82 closed

[2021-03-07 00:51] #52 closed

[2021-03-07 02:58] #36 closed

[2021-03-07 10:08] SausageMcSauce commented on #65
Speaking of Ocular, I think Ocular colo(u)rs could be used as well as background colo(u)rs for a member's section on the studio members page.

[2021-03-07 12:27] leahcimto opened #89 "Bug: Footer links are too close together"
**Describe the bug**
The links in the footer are right on top of each other, making them hard to read.
<img width="1440" alt="Screen Shot 2021-03-07 at 7 25 11 AM" src="https://user-images.githubusercontent.com/68165163/110239718-61197b00-7f16-11eb-91ca-89e70d6bf417.png">

**To Reproduce**
Scroll down to the footer

**Expected behavior**
The links should be easy to read.

**Browser Information**
n

[2021-03-07 14:05] Accio1 commented on #89
Somewhat related to #64 as that involves updating the header and footer to make it more accessible on mobile. This is actually an involved issue because of how the header and footer are displayed using embeds.

[2021-03-07 14:11] leahcimto opened #91 "Question: What is defined as a contribution?"
Title.

cc @Accio1

[2021-03-07 14:14] Accio1 commented on #91
Committing, opening issues, discussing/ideas, etc. Basically anyone who has helped in some way with the development of the site, and has a GitHub account, is a contributor.

[2021-03-07 14:15] leahcimto commented on #91
Got it! Thanks.

[2021-03-07 14:15] #91 closed

[2021-03-07 14:32] SausageMcSauce opened #93 "Feature Request: Replace Be Moist in the footer with a current trend"
Be Moist (currently in the footer) is not as common as it is right now, so I think it could replaced with another recent trend such as 'Be whirled' (whirl cat).

Edit: I will likely make the pull request myself.

[2021-03-07 16:06] Accio1 commented on #93
But "Be Moist" is iconic. Also, whirled cat isn't even listed as a forum trend on the Scratch Wiki, so I don't think that it is notable enough to change. If the footer trend were to be changed, it would likely be changed to one that is well known across the forums, such as the kumquats or 60 second rule posts, or ninja'd. @leahcimto thoughts?

[2021-03-07 17:06] leahcimto commented on #93
@Accio1 @SausageMcSauce Whirl cat isn't very popular. You can see [here](https://en.scratch-wiki.info/wiki/Talk:Account_and_User_Icon_Trends) that wiki editors decided that it was not popular enough to be added. I don't think the trend is notable enough. I might be a bit bias though because I really don't like the trend.

[2021-03-07 17:25] Accio1 commented on #93
@SausageMcSauce Based on @leahcimto's response, I don't think this is something that needs to be changed. In the future, please refrain from making a PR until someone has assigned an issue to you and said that you are okay to go ahead and work on it.

[2021-03-07 17:25] #93 closed

[2021-03-07 17:54] leahcimto commented on #65
In my opinion that would kinda screw up the color scheme and make the page look really rainbow. @Accio1 what are your thoughts on that?

[2021-03-09 21:24] #51 closed

[2021-03-09 21:26] leahcimto opened #96 "Bug: labeler not labeling things with unreviewed"
**Describe the bug**
The labeler works but it does not label things unreviewed.

**To Reproduce**
make a pr and see that it does not mark things as unreviewed.

**Expected behavior**
it should mark things as unreviewed

**Browser Information**
n/a

**Additional context**
none

[2021-03-10 12:02] CodeGuy92 commented on #85
but dont remove the changes

[2021-03-11 13:19] Accio1 commented on #96
I've also noticed this. It was working before the most recent update so I don't know what broke. (It also seems to be removing the unreviewed label if it was added manually). I will do some research and see why this is happening. Low-prio for now because honestly the actions labeller seems to be causing more issues than it is helping resolve.

[2021-03-13 11:46] FunctionalMetatable commented on #65
made a pull request about this i guess

[2021-03-13 12:33] leahcimto commented on #65
/cc @Accio1

[2021-03-13 18:41] leahcimto opened #99 "Forum Helpers List: test"
**Describe the changes needed**
What needs to be changed? Is it a bio, or do some users need to be added to the page? Please specify and include usernames and new bios if applicable. If a bio needs to be changed, but you are not the person who the bio belongs to, please provide a link to where that person asked for their bio to be changed.

**Additional context**
Add any other context about the ch

[2021-03-13 18:41] leahcimto commented on #99
cool it works

[2021-03-13 18:41] #99 closed

[2021-03-13 18:42] leahcimto commented on #65
What kind of distinction could be made to separate the status from the bio and username?

[2021-03-13 18:45] Accio1 commented on #65
@jeffalo is there currently a character limit on ocular statuses? What security measures are in place to prevent XSS?

@leahcimto this applies to what you asked above. If they are short enough, then they could be displayed next to the name with a little bubble around them to indicate that they are different than the username. Perhaps a tooltip could also be added to show where these statuses come

[2021-03-13 18:49] leahcimto commented on #65
@Accio1 I don't think there is a character limit because I once put in 100,000 digits of pi, but jeffalo (or another ocular admin) normally removes the statuses that are too long. Also idk what security measures are in place but it sounds like something jeffalo would add.

[2021-03-13 18:56] leahcimto commented on #65
@Accio1 see https://ocular.jeffalo.net/xss-info

[2021-03-13 19:02] Accio1 commented on #65
@leahcimto that is for ocular displaying posts, not my-ocular displaying statuses.

[2021-03-13 19:05] leahcimto commented on #65
o

[2021-03-14 13:43] jeffalo commented on #65
there is a 250 character max-length on ocular statuses.

none. you should set `innerText` instead of `innerHTML`, an example implementation can be seen at https://github.com/ScratchAddons/ScratchAddons/blob/master/addons/my-ocular/discuss.js

[2021-03-17 21:16] leahcimto opened #100 "Forum Helpers List: add curators"
A checkbox indicates a user has provided a bio.

**Describe the changes needed**
add the following people:

- [x] ninjaMAR
- [x] Futurebot5
- [x] Steve0Greatness
- [ ] ScratchCatHELLO
- [x] mybearworld
- [x] Jeffalo
- [x] dogsmakemehappy
- [x] -EmeraldThunder-
- [x] scratchykit5743
- [x] 9gr
- [ ]  Nezon

**Additional context**
ill do it soon

NOTE: If you are a user on this list please do provide

[2021-03-18 21:39] FunctionalMetatable commented on #100
sorry for bothering you but I think you need to add scratchykit5743 and 9gr (me as i just joined)

[2021-03-18 21:40] leahcimto commented on #100
@FunctionalMetatable No worries! I'll add you both to the list now. If you don't mind, could you provide a bio here?

[2021-03-18 21:46] FunctionalMetatable commented on #100
Thanks!

+bio: yeet lol

[2021-03-18 22:09] Scratchykit-Iz-Github commented on #100
Okay, so I had to snag myself a GitHub account to do this, so...(I’m @scratchykit5743 on scratch mind you): I’m an autistic, myxophobic tween forumer and furry artist that does her magic primarily in QaS. I’m a part of the Forest cloud multiplayer collab and do pretty much everything but add collabs on the collaborations directory (I co-run the directory, and if you read the posts in that topic yo

[2021-03-18 22:10] Scratchykit-Iz-Github commented on #100
Userid is 39136554.

[2021-03-19 02:13] Steve0Greatness commented on #100
UserID:60889474

`Hey there! I'm @Steve0Greatness on Scratch... uh...`

[2021-03-19 06:07] jeffalo commented on #100
id: 34018398
hi im jeffalo and i like to make scratch addons websites and tools to make your scratch experience better

[2021-03-19 06:30] EmeraldThunder1 commented on #100
ID 70349036
Hello, I am -EmeraldThunder- and I have a passion for coding. I am very active on the forums and occasionally on the wiki under my old accounts username.

[2021-03-19 11:27] leahcimto commented on #100
Mybearworld's bio and ID:

Hi, I'm mybearworld! I like maths, and I'm at scratch pretty often! Happy foruming! &#x1F43B;"
ID: 61394416

[2021-03-19 11:28] leahcimto commented on #100
ninjaMAR's bio and ID:

I'm ninjaMAR, a coder who mainly uses python. I am often found it the Advanced Topics helping people. I enjoy experimenting and I also have 1000+ posts

ID: 35527172

[2021-03-19 11:31] leahcimto commented on #100
Futurebot5's bio and ID:

Hi! I got accepted into The Forum Helpers in March 2021. You'll find me most in Suggestions.

ID: 61883320

[2021-03-20 02:20] Accio1 commented on #100
@leahcimto TheAdriCoolManDude just submitted their bio on my profile.

ID: 28856568

Bio: Hello, I am Adri, I became a Scratch Forum Helper a few years ago. I am active whenever I can, and I am mainly active in the Suggestions & Things I Am Reading & Making Forums. I help out whenever I can.

[2021-03-21 12:41] leahcimto commented on #100
dogsmakemehappy's bio and ID:

ID: 17609915
Bio: I help out people on the forums, mostly in QaS, but somtimes BaG and suggestions

[2021-03-21 12:44] leahcimto commented on #65
dogsmakemehappy says:

I was waiting to see if I was going to get a github account, but at the moment not. For ocular status colors, maybe make each user their own page with the background being default if no ocular status, or ocular status

https://scratch.mit.edu/users/leahcimto/#comments-129544107

[2021-03-21 13:44] FunctionalMetatable commented on #65
maybe like shefwerld user viewer?

[2021-03-22 12:10] leahcimto commented on #100
k 5 days have passed making pr

[2021-03-23 16:18] jeffalo commented on #65
ps. if this is added please refer to statuses as ocular statuses and not my-ocular statuses. the api will remain at my-ocular but users will update their status at ocular.jeffalo.net starting around april.

[2021-03-23 20:33] leahcimto commented on #100
nezon: bio

[2021-03-24 18:01] leahcimto commented on #65
Moved to In Progress since things seem to be kind of coming together.

Another reason this wouldn't work so well is that it could screw up the CSS since the text is black and if someone had their color be black it would be impossible to read.

[2021-03-24 19:55] FunctionalMetatable commented on #65
i **could** try make this

[2021-03-25 18:54] leahcimto commented on #100
Time is up, bios are no longer being accepted here.

[2021-03-25 20:17] CodeGuy92 opened #103 "Permission to make website."
Hello. I somehow got the domain [https://theforumhelpers.glitch.me](https://theforumhelpers.glitch.me), the domain [https://the-forum-helpers.glitch.me](https://the-forum-helpers.glitch.me), and also the domain [https://tfh.glitch.me](https://tfh.glitch.me).

And i am requesting permission to create a website on behalf of The Forum Helpers.
The website i am trying to make is basically a Scratch St

[2021-03-25 20:25] CodeGuy92 commented on #103
Sorry, i meant scratch **forum** statistics.

[2021-03-25 21:41] leahcimto commented on #103
@CodeGuy92 So basically like scratchstats.com or shefwerld? I am a bit confused about what is being asked.

[2021-03-26 11:16] CodeGuy92 commented on #103
I am not asking a question. I am requesting permission to create the website on behalf os The Forum Helpers.

Basically, this website will get your statistics from scratch, and display them for you.
But this isn't a copy of shefwerld, this will have many advanced features such as live post count, or displaying your latest posts, or even showing you your siggy.

[2021-03-26 17:30] FunctionalMetatable commented on #103
i could help with this

[2021-03-26 17:34] FunctionalMetatable commented on #103
this could be easily integrated with this website though

[2021-03-26 17:36] FunctionalMetatable opened #104 "Translate this into a Jekyll Style/nuxt page"
issues relating to C:\\ drives will begone because of localhost

[2021-03-26 17:57] CodeGuy92 commented on #103
Eehhhh... it is a lot more complicated, but i guess i'll try to fork the repo and make a PR
Thanks!

[2021-03-26 17:57] #103 closed

[2021-03-26 18:00] CodeGuy92 commented on #103
Now going to the links will redirect you to the repo

[2021-03-26 19:51] CodeGuy92 opened #106 "Remove LankyBox01 from the contributors page"
Please delete the account LankyBox01 from https://theforumhelpers.github.io/contributors/
It is my friend's account, i asked him to do stuff for me since i was too lazy to make my own github account.

Instead, use CodeGuy92, which is already on the list.

[2021-03-26 19:53] CodeGuy92 commented on #106
Also if -accio- sees this, pls also review #105

[2021-03-26 19:56] Accio1 commented on #106
They opened a PR in this repo, which makes them a contributor. Therefore, they will remain on the page.

[2021-03-26 20:13] CodeGuy92 opened #107 "Response"
The thing is, their account is _deleted_

That is why i made the repo.

[2021-03-26 20:14] CodeGuy92 commented on #107
https://github.com/LankyBox01/

[2021-03-26 20:14] CodeGuy92 commented on #107
see? Deleted.

[2021-03-26 20:14] CodeGuy92 commented on #107
@Accio1

[2021-03-26 20:22] Accio1 commented on #107
1. In the future, please reply to the closed issue instead of making a new one.
2. When I checked before I closed the issue, their account still existed. Now that it has been deleted, I will reopen the issue and it will be updated the next time the credits page is updated.

[2021-03-26 20:22] #107 closed

[2021-03-26 20:25] Accio1 commented on #106
Reopening since the account has been deleted and therefore should be removed from the page.

[2021-03-26 21:25] CodeGuy92 commented on #107
It was probably some cache issues or something; it appeared deleted for me.

[2021-03-26 21:26] CodeGuy92 commented on #106
It was deleted before you closed the issue too...

[2021-03-26 21:28] Accio1 commented on #104
Related to #15
This was decided against because I would prefer for this site to have as little dependencies as possible in order to allow for anyone to work on it locally without having to download additional dependencies.

[2021-03-26 21:29] Accio1 commented on #106
If it was deleted recently then it was likely a caching issue.

[2021-03-26 21:32] CodeGuy92 commented on #106
Yes, i said that in the previous response issue.

[2021-03-26 21:49] #106 closed

[2021-03-26 22:02] Accio1 commented on #103
@leahcimto thoughts on this. You can go ahead and create this site if you want to, but I'm unsure about having it incorporated as a part of this site. It seems like more of an independent project similar to shefwerld.

[2021-03-27 07:54] FunctionalMetatable opened #109 "In the Curators/Manager JSON, use null instead of "No biography provided""
In the curator/manager JSON, use null instead of "No biography provided" and add the "no biography provided" bit if its null into the JS script so we save a bit on size

if you guys want i can make a PR?

[2021-03-27 11:38] leahcimto commented on #104
@Accio1 Yeah, I'm not too interested in using dependencies for the following reasons:

- People would have to download extra things when contributing, and I know that some people (like me) aren't too interested in downloading things from 3rd party sites.
- I've heard of Jekyll, but have never used it and have zero experience with it. I also don't really see why it's needed for such a simple websit

[2021-03-27 12:06] FunctionalMetatable commented on #104
alrighty then

[2021-03-27 12:38] leahcimto commented on #103
Agreed.

[2021-03-27 12:39] leahcimto commented on #103
@CodeGuy92 Also, (just an idea) you could ask jeffalo or catsunited about this stuff if you want to add it to shefwerld or ocular since the topics seem similar.

[2021-03-27 12:42] CodeGuy92 commented on #103
Nah, i will make a separate website with log-in system.

[2021-03-27 12:44] CodeGuy92 commented on #109
Yeah make a pull request.
It's a lot easier just to set variable "null" to "No biography provided." and set curators' bios to "null" with no quotation marks.

[2021-03-27 14:43] FunctionalMetatable commented on #109
@Accio1 can i be assigned?

[2021-03-30 23:16] #100 closed

[2021-03-30 23:19] leahcimto opened #113 "Bug: Inconsistency with "No Biography Provided.""
**Describe the bug**
When a user does not provide a biography, their bio is set to "No Biography Provided.". However, some bios are missing a period after provided.

**To Reproduce**
Look at the list of forum helpers page.

**Expected behavior**
There should be a period after provided.

**Browser Information**
Not applicable.

**Additional context**
None

[2021-03-30 23:20] leahcimto commented on #54
Closing as #101 was merged

[2021-03-30 23:20] #54 closed

[2021-03-30 23:22] leahcimto commented on #113
Low-prio since it's not very noticeable but still triggers me and should be fixed.

[2021-03-31 01:09] Accio1 opened #114 "Change the way that the header and footer is implemented."
Right now, the header and footer are embeds, meaning that it is very difficult to make changes to them or resize them, especially getting them to look good on a range of devices. Therefore, a better way to insert the header and footer into each page is needed. One way of doing this, which recently worked well for me on another site is by using JavaScript to insert the HTML directly into the page.

[2021-03-31 11:05] leahcimto commented on #114
I think that sounds good.

[2021-03-31 21:12] leahcimto opened #116 "Forum Helpers List: add wangat to list"
**Describe the changes needed**
add wangat to list bio pending

**Additional context**
no

[2021-03-31 21:38] leahcimto opened #118 "Feature Request: 404 page"
It would be nice to have a 404 page for this site. I could work on this if that's ok with you (@Accio1).

[2021-04-01 19:37] jeffalo opened #119 "Forum Helpers List: change jeffalo's bio"
**Describe the changes needed**
can i please have my status changed? i'd like it changed to "admin panel enthusiast" if thats okay.

[2021-04-01 19:39] leahcimto commented on #119
sure

[2021-04-02 21:34] #113 closed

[2021-04-02 21:35] #119 closed

[2021-04-02 21:42] Accio1 commented on #118
Yes, feel free to go ahead and work on this. Please include on the page:

- [ ] 404: Page not found text
- [ ] Link to homepage
- [ ] Funni hahas (may I suggest [Taco Wizard](https://github.com/theforumhelpers/theforumhelpers.github.io/blob/nothing-to-see-here/resources/Taco-wizard.svg))

[2021-04-02 21:52] leahcimto commented on #118
Alright, I'll make sure I add the funni hahas before everything else as they are main priority.

[2021-04-03 00:10] leahcimto commented on #118
@Accio1 #120

[2021-04-03 00:53] #118 closed

[2021-04-03 12:06] FunctionalMetatable opened #121 "Feature Request: forum helpers leaderboards"
**Is your feature request related to a problem?**
no, its a shefwerld-based forum helpers leaderboard

**Describe alternatives you've considered**
n/a this is my best api yet

**Additional context**
[this](//functionalmetatable.github.io/shefwerld) - the current one

[2021-04-03 12:40] leahcimto commented on #119
Closed as resolved.

[2021-04-03 19:48] Accio1 commented on #121
This seems like it should be an extension of shefwerld, not this site. @leahcimto thoughts?

[2021-04-03 20:57] FunctionalMetatable commented on #121
This could be easily implemented with the tfh site, but for some reason I didnt bother making a leaderboard based on the tfh website, if you guys want I can?

[2021-04-03 23:02] leahcimto commented on #121
@Accio1 @FunctionalMetatable I would say it could maybe be implemented in the future but right now it doesn't have much difference than shefwerld other than it only contains forum helpers. Maybe if you change some things up and make it match more with the current website here it could be implemented, or you could try to get it implemented in shefwerld itself.

[2021-04-05 00:15] Shluffy commented on #65
still, there will be a problem with text color, like black on a black background. the option would we to allow the viewer to change the color.

[2021-04-05 18:44] jeffalo commented on #65
it should be fairly simple to generate an appropriate text colour for the background. [you can even do it with just css](https://css-tricks.com/switch-font-color-for-different-backgrounds-with-css/). otherwise you can always just display favourite colour as a small dot (like how ocular does it) or use drop shadows.

[2021-04-06 19:00] Shluffy commented on #65
even so, the dot may clash with the background

[2021-04-06 20:50] FunctionalMetatable commented on #65
@Accio1 Please can I be assigned?

[2021-04-06 21:43] leahcimto opened #123 "Bug: Nav block in the list of forum helpers page has no bottom margin"
**Describe the bug**
Nav block has no bottom margin in the FH page.
<img width="164" alt="Screen Shot 2021-04-06 at 5 42 58 PM" src="https://user-images.githubusercontent.com/68165163/113782036-8e1ca180-96ff-11eb-8f18-b41035c21521.png">

**To Reproduce**
Go to the list of forum helpers page

**Expected behavior**
there should be a bottom margin

**Browser Information**
n/a

**Additional context**

[2021-04-06 21:46] Shluffy commented on #65
I was hoping I could...

[2021-04-06 23:22] Accio1 commented on #65
@FunctionalMetatable @Shluffy Thanks for the discussion! No, I don't think that each user should have their own page. Since ocular statuses are limited to 250 chars, I think it is fine to just display them on the list of Forum Helpers page. I will take a crack at this over the weekend to see how it could be implemented while still looking nice.

[2021-04-07 13:05] Shluffy opened #124 "Feature Request: More languages for website"
**Is your feature request related to a problem?**
The site only exists in english, which isn't very inclusive, especially for people that don't speak english as their language.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-04-07 20:36] Accio1 commented on #124
@Shluffy I don't even know how this would be implemented. Scratch has a translation team of dozens of people, and they use react to generate their webpages so that the strings can be easily translated. If anyone has ideas/experience on how to translate websites, please feel free to share here. Realistically, this seems like a large undertaking for such a small site.

[2021-04-07 21:04] leahcimto commented on #124
@Shluffy @Accio1 We don't really have the resources for this. Sure, google translate could be used but that would have a lot of errors. We would have to get people that speak multiple languages to do this and I don't really see how it's worth the effort and time for this as it is such a small website and these days almost all browsers come in with a built-in translation tool. If this were to be im

[2021-04-07 21:32] leahcimto opened #125 "Feature Request: Better Lables"
My suggestion is to have better labels for better organization.

Here's what the labels would look like:

- `approved` ➡️ `pr - approved` (could be `pr: good to merge` as well)

- `blocked` ➡️ `pr: blocked`

- `bug` ➡️ `type: bug`

- `discussion` ➡️ delete this as we now use the discussion tab

- `documentation` ➡️ `type: documentation`

- `duplicate` ➡️ `status: duplicate`

- `enhancement` ➡️ `ty

[2021-04-07 21:39] #124 closed

[2021-04-08 21:28] CodeGuy92 opened #127 "Remove "Be Moist""
Can the "Be Moist" message be removed from the footer? It died like a year ago

[2021-04-08 21:33] Accio1 commented on #127
Basically a duplicate of #93

Be moist is iconic

[2021-04-08 21:46] leahcimto commented on #127
😎 Be moist

[2021-04-08 21:50] CodeGuy92 commented on #127
Oh.

[2021-04-08 21:50] #127 closed

[2021-04-08 21:51] CodeGuy92 commented on #127
I will make an extension that removes "Be moist" from your website.

[2021-04-08 22:26] Accio1 commented on #127
Good to know. Seems like a good use of time

[2021-04-08 22:52] Shluffy commented on #127
is it ever worth the time?

[2021-04-09 19:51] CodeGuy92 opened #128 "Bug: Favicon doesn't show up on the QuickReply Page."
The favicon doesn't show up on the QuickReply Page, but it does on the other The Forum Helpers pages.
![1](https://user-images.githubusercontent.com/79767244/114233513-2035db80-9986-11eb-9c79-8f6f8e5dbfa9.PNG)

![2](https://user-images.githubusercontent.com/79767244/114233515-20ce7200-9986-11eb-980c-035198b32542.PNG)
![3](https://user-images.githubusercontent.com/79767244/114233516-21ff9f00-9986-1

[2021-04-09 22:21] leahcimto commented on #125
@Accio1 Is this ok with you?

[2021-04-09 22:32] #116 closed

[2021-04-09 22:35] Accio1 commented on #125
Is this really necessary though? It seems like it would add clutter to the labels and make them longer than they need to be.

[2021-04-09 22:39] Accio1 commented on #123
I think this happened here: https://github.com/theforumhelpers/theforumhelpers.github.io/pull/73/files#diff-7fd1b6dcc066b73a18d795f6a23edf4c39d7c8b1b9d1791915f8a04608fa643dR100
Changing the height back to 150px should fix this issue.

[2021-04-09 23:03] leahcimto commented on #125
I don't really think it would have too much clutter.[ SA uses it and it looks fine](https://github.com/ScratchAddons/ScratchAddons/issues). [It's also considered good practice on github. ](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63)

[2021-04-11 14:20] Shluffy opened #129 "Feature Request: An april fools part to the website"
**Is your feature request related to a problem?**
no, but this would fit with the scratch wiki, as well as scratch

**Describe alternatives you've considered**
N/a

**Additional context**
n/a

[2021-04-11 14:22] Accio1 commented on #129
@Shluffy I'm not sure what you are suggesting here. We did have an April Fool's version of the site. It has been removed now because it is no longer April Fool's.

[2021-04-11 14:33] Shluffy commented on #129
Ah. didn't notice. Where is the code?

[2021-04-11 14:33] leahcimto commented on #129
@Shluffy https://github.com/theforumhelpers/theforumhelpers.github.io/tree/nothing-to-see-here

[2021-04-11 16:12] Accio1 commented on #129
Closing as resolved I guess

[2021-04-11 16:12] #129 closed

[2021-04-11 17:13] leahcimto opened #130 "Forum Helpers List: bio change for -insanitygames-"
**Describe the changes needed**
change bio to this: Creative, Innovative, Constructive!

**Additional context**
if anyone would like to work on this feel free to ask and I'll assign you.

[2021-04-11 17:14] leahcimto commented on #123
@FunctionalMetatable @Shluffy pinging you in case you want to work on this

[2021-04-11 17:26] FunctionalMetatable opened #131 "Bug: nav links redirect to this repository's version"
**Describe the bug**
when you work on this repo locally or on a fork, when you click a nav button it redirects you to this repo's version instead of the local version.

**To Reproduce**
1. download a local version
2. open the homepage
3. press a nav button (not the studio one)
4. it redirects you to this repo's version and not the local version

**Expected behavior**
uses the local version for the

[2021-04-11 18:12] FunctionalMetatable commented on #123
@leahcimto i'm happy to work on this - so could I please be assigned?

[2021-04-11 18:16] Accio1 commented on #123
@FunctionalMetatable I've assigned you. Feel free to submit a PR

[2021-04-11 18:16] FunctionalMetatable commented on #123
Thanks!

[2021-04-11 18:27] leahcimto commented on #123
Looks like Accio1 beat me to it :P

[2021-04-11 19:48] Shluffy commented on #130
i could

[2021-04-11 19:51] Shluffy opened #133 "Forum Helpers List: Change dogsmakemehappy bio"
**Describe the changes needed**
Change my bio to "I manipulate scratch through the console, as well as being an avid coder" please
**Additional context**
i could do this if assigned

[2021-04-11 19:51] Shluffy commented on #131
I have a copy of this repo on my computer and The 404 page redirects to index.html, or the main page. but it seems to be everything else

[2021-04-11 19:52] Shluffy commented on #133
Lol, typoed in bio first try, although fixed

[2021-04-11 20:37] leahcimto commented on #130
@Shluffy Great! I'll assign you to this. Please also do #133 in the same PR.

[2021-04-12 11:25] Shluffy commented on #130
perfect, thanks

[2021-04-12 18:27] CodeGuy92 opened #135 "Feature Request: Dark Mode"
**Is your feature request related to a problem?**
No, this is just a fun idea i think would be cool to have.

**Describe alternatives you've considered**
No alternatives thought.

**Additional context**
Dark Mode would be useful for browsing on the forums at night.

[2021-04-12 18:28] CodeGuy92 commented on #135
Just to be clear, i want a dark mode feature to be added to the site.

[2021-04-12 18:45] Accio1 commented on #135
I'm tired of issues where the sections aren't filled out completely. The point of issue templates are to provide a guide when submitting issues. Please recreate this or edit it so that the sections are filled or properly.

[2021-04-12 18:54] CodeGuy92 commented on #135
Done.
e

[2021-04-12 19:15] Accio1 commented on #135
Thank you. If anyone has any suggestions for a colour scheme for dark mode, feel free to suggest it here.

[2021-04-12 19:19] #123 closed

[2021-04-12 19:19] Accio1 commented on #133
Resolved by #134

[2021-04-12 19:19] #133 closed

[2021-04-12 19:20] Accio1 commented on #130
Resolved by #134

[2021-04-12 19:20] #130 closed

[2021-04-12 19:39] CodeGuy92 commented on #135
Could i please be assigned?
I wanna make a pr

[2021-04-12 19:42] CodeGuy92 commented on #131
Yes. this could be fixed by replacing /resources/header.html with this:
[code]

[2021-04-12 20:22] FunctionalMetatable commented on #131
won't work because if you work on it locally it will redirect to the main drives directory e.g
If my copy of the repo stayed in
C:/Users/_/repos/theforumhelpers.github.io/
when you press the navbar it will redirect you to the C:/ directory part (because C:/ is the root of the drive).

[2021-04-12 20:32] Accio1 commented on #135
Discussion is needed about how this will be implemented and which colour scheme will be used.

[2021-04-12 20:33] Accio1 commented on #131
Blocked right now because it is related to #115

[2021-04-12 20:34] leahcimto commented on #131
CR, I tried it with this code.

[2021-04-13 01:52] Accio1 commented on #65
@jeffalo, I started working on this and have a question: Is there a rate limit? I don't want to spam your server(s), and 100+ requests will have to be made each time the list of Forum Helpers page is loaded.

[2021-04-13 15:54] CodeGuy92 commented on #135
#424242
#242424
#141414

Some color stuff

[2021-04-13 18:22] jeffalo commented on #65
@Accio1 don't worry about spamming my server.. i have cloudflare in front of it, which should cache and prevent too much load on my little server.

i might include a bulk request thing in the future, but for now this should work.

if you really wanted to, maybe you could implement some algorithm for lazy loading the statuses, but honestly i don't care lol. ocular / scratch addons already spams my

[2021-04-14 14:59] Accio1 commented on #65
This is what I have so far. What are everyone's thoughts? The border is the color that the individual selected for their ocular status.
![image](https://user-images.githubusercontent.com/48496940/114732252-5d94c300-9d10-11eb-9ebb-663be9741cac.png)

[2021-04-14 15:02] FunctionalMetatable commented on #65
I dont think the prefix "Ocular Status: " will look good, maybe remove that part?

[2021-04-14 15:35] Shluffy commented on #65
maybe move the status to under the bio

[2021-04-14 15:59] Accio1 commented on #65
I wanted to ensure that people who visit the page know why some people have two biographies, and if they don't have two, how they would be able to set their own.

It is already

[2021-04-14 17:41] Shluffy commented on #65
i mean on the side of the pic.

[2021-04-14 21:08] leahcimto commented on #65
@Accio1 That looks awesome! Just a suggestion, but maybe we could get rid of the ocular status thing and put one of those question mark things next to it that you can hover over that provide info about how to change your ocular status, what it is, etc.

[2021-04-14 21:31] leahcimto opened #136 "Bug: mybearworld's user id is incorrect"
**Describe the bug**
mybearworld's user id is incorrect making the default avatar show.

**To Reproduce**
Go to the list of forum helpers page and scroll down to mybearworld.

**Expected behavior**
You should see their profile pic.

**Browser Information**
n/a

[2021-04-14 21:32] leahcimto commented on #65
Like this: https://tutorialzine.com/2014/07/css-inline-help-tips

[2021-04-15 02:08] Accio1 commented on #136
This seems like it could be updated with the next set of bio updates.

[2021-04-15 09:23] jeffalo commented on #65
@Accio1 very clean. i agree that "Ocular Status: " is not neccesary. perhaps put it as the element title so it shows up when you hover over it.

[2021-04-15 12:57] Shluffy commented on #136
I could do this, and @FunctionalMetatable can probably also do it.

[2021-04-15 16:10] Accio1 commented on #65
Alright, I've added the title attribute as @jeffalo suggested. I also added a little bit of info to the top of the page to make it clear that the boxes contain Ocular Statuses. I have also added a 0.25s delay between requesting each status so that it doesn't spam jeffalo's servers. I also switched the JS to use fetch, as that is more modern and easier to work with than XMLRequest. Right now, I jus

[2021-04-15 20:05] leahcimto commented on #136
I'll organize one big issue with all changes that are required with changes to the FH list.

[2021-04-15 20:05] #136 closed

[2021-04-17 20:29] #65 closed

[2021-04-17 21:18] leahcimto opened #140 "Forum Helpers List: Bio Updates + Promotions + New User"
**Describe the changes needed**
- [x] Promote BSC, under E=MC3
- [ ] Add PUNNAMOODU to curators
- [x] Change mybearworld user ID (related to #136)
- [x] Austinato bio update - "Hello! I've been on the site for over seven years, and became one of the first managers of TFH. I mainly post on the "Questions about Scratch" and "Requests" forums, and occasionally the "Suggestions" forum as well. As you

[2021-04-17 21:32] Accio1 opened #141 "Bug: 404 page doesn't work sometimes"
**Describe the bug**
If a URL is opened that should direct to the 404 page, it only displays properly sometimes.

If an invalid URL does not end in a slash, the page works fine, but if it ends in a slash the page doesn't display properly.

**To Reproduce**
Visit https://theforumhelpers.github.io/a - Observe that the 404 page works correctly
Now visit https://theforumhelpers.github.io/a/ Observe th

[2021-04-17 22:09] FunctionalMetatable commented on #141
Related to #131.

[2021-04-17 23:22] Accio1 commented on #140
Additionally, Austinato would like their bio updated. You can find the bio here: https://scratch.mit.edu/users/-Accio-/#comments-135250637

[2021-04-18 16:10] jeffalo commented on #140
incase the comment goes away

[2021-04-18 23:50] leahcimto commented on #140
Thank you!

[2021-04-19 14:19] gosoccerboy5 commented on #141
I'm getting this bug on my own github page too.
I think the problem is that when you include the slash, it thinks it's a directory, and then trying to load a css or js file as **index.css** makes it think it's **theforumhelpers.github.io/randomword/index.css** instead of **theforumhelpers.github.io/index.css**, for example.
I think this could be fixed by including the full link to **theforumhelper

[2021-04-19 14:22] gosoccerboy5 commented on #141
Yep. I just made a fix to my own page for this bug, and all you have to do is probably replace **resources/stylesheet.css** with **//.../resources/stylesheet.css** or just **//theforumhelpers.github.io/resources/stylesheet.css** to make it clear to the browser what file you want loaded.

[2021-04-19 17:29] Accio1 commented on #141
This wouldn't work for anyone who would be developing this locally though. The / would direct to the base of their file system (file:///C:/ on windows) and the link would not work.

[2021-04-20 06:49] jeffalo commented on #141
use relative paths like ./ and stuff

[2021-04-20 23:37] leahcimto commented on #31
Part of this has been completed.

[2021-04-21 00:12] Accio1 commented on #31
@leahcimto Edited to reflect which ones are done. I'm not sure if number one is worth the time it would take to implement. Thoughts?

[2021-04-21 06:21] FunctionalMetatable commented on #141
I think this whole site should move to jekyll or nuxt/vue. all the problems with this would go away as it would use "localhost" instead of C:\.

[2021-04-21 06:27] FunctionalMetatable commented on #104
reopening because #140 and #141 have risen

[2021-04-21 11:27] Accio1 commented on #104
As stated before, I'm interested in keeping this repository with as little dependencies as possible so that it is easy for anyone to contribute. Right now, it is easy to download this repository and work on it, but using thigs like nuxt or jekyll would make it significantly more difficult.

[2021-04-21 11:27] #104 closed

[2021-04-21 11:45] leahcimto commented on #31
@Accio1 I agree.

[2021-04-21 15:41] Accio1 commented on #31
Okay, I'm going to go ahead and close this.

[2021-04-21 15:41] #31 closed

[2021-04-22 11:50] leahcimto commented on #109
@Accio1

[2021-04-25 18:38] leahcimto opened #143 "Feature Request: Add FunctionalMetatable and Shluffy to contributions page"
**Is your feature request related to a problem?**
No. FunctionalMetatable and Shluffy should be added to the contributions page as they have contributed to this (issues)

**Describe alternatives you've considered**
N/A

**Additional context**
FunctionalMetatable would go after CodeGuy92 and Shluffy would go after MTM828

[2021-04-25 19:48] FunctionalMetatable commented on #143
I can be assigned for this if its okay with you guys

[2021-04-25 20:09] FunctionalMetatable commented on #109
@Accio1 could I be assigned for this?

[2021-04-25 20:33] Accio1 commented on #143
For people that have contributed by committing (not opening issues), they are listed in order of number of commits (according to [this](urhttps://github.com/theforumhelpers/theforumhelpers.github.io/graphs/contributors) page. Therefore, FunctionalMetatable would be after shefwerld, and Shluffy would be after ShadowOfTheFuture.

Sure, go ahead. Just adding the usernames to the array on the contribu

[2021-04-25 20:38] Accio1 commented on #109
This seems unnecessary to be honest. It won't save that much size (about 0.0025MB if I did my math right), and usually the list is updated by copy-pasting existing JSON objects, so typing No Biography Provided vs null isn't much of an issue.

[2021-04-25 20:56] gosoccerboy5 commented on #109
I mean, 9gr (functionmetatable) seems pretty eager to go ahead with this, I think I made a fork that works.. it wouldn't be a hard fix and it would probably make me and 9gr feel a bit better :P

[2021-04-25 21:08] gosoccerboy5 commented on #89
I made a quick fix.
Basically, I removed the \<br> tags from the footer, removed the \<p> element from the footer, and wrapped the two links and "Be Moist" slogan in a div with class "**FooterDiv**". From there, I just put ```.FooterDiv {
  padding-top: 6;
}``` and I now had a centered, better spaced footer. (I'm not sure if that fix would show as well on other computers as this one.)
Unfortunatel

[2021-04-25 21:16] #143 closed

[2021-04-26 01:33] #140 closed

[2021-04-26 15:42] Accio1 opened #146 "Update Contributors Page"
The contributors page should be updated to state that Ocular Statuses are provided by Ocular (created by Jeffalo), and post counts are from ScratchDB (created by DatOneLefty).

I'll work on this when I get the chance this week.

[2021-04-26 21:04] leahcimto commented on #143
Oops, sorry I totally forgot about their recent PRs :P

[2021-04-27 22:11] leahcimto commented on #125
@Accio1 Do you have anymore thoughts on this

[2021-04-28 20:21] gosoccerboy5 opened #148 "Feature Request: Better styling"
I'm personally very glad that there's some CSS on the site. It looks decent. But still, it also looks like a site from the early 2000's or something (I haven't been alive for that many years, but still).

I would like a slightly cleaner design.

Maybe a starting point would be basic stuff, like changing the background color, thinning out the h1/h2 elements, etc. Would it require a total overhaul o

[2021-04-28 20:24] Shluffy commented on #148
I think that while there are better sites out there, but it looks pretty good and isn't bad.

[2021-04-28 20:29] #96 closed

[2021-04-28 21:22] leahcimto opened #149 "Feature Request: Helpful Projects Page"
**Is your feature request related to a problem?**
No. I found this on the studio comments section and thought it would be a cool idea. The comment said:

it would be cool if someone made a "helpful projects to the forums" section on the tfh website that grabs information from the scratch api from this studio and displays all of the projects on the website like turbowarp. got the idea from turbowar

[2021-04-29 00:34] Accio1 commented on #149
I'm not opposed to this idea in general, but I am opposed to making requests to the Scratch API. As of right now, the Scratch API requires a CORS proxy and there has to be a way to ensure that not too many requests are sent in a short period of time. Therefore, I don't think that it is worth the hassle to do an API request for this. I would not be opposed to doing this idea without API requests th

[2021-04-29 00:39] Accio1 commented on #148
I tried to design this site in a similar style to Scratch 3.0-friendly without being overly childish. Do you have any specific ideas about what could make the site look more modern?

[2021-04-29 00:45] Accio1 commented on #125
I still feel as though this might add unneeded complexity, especially with such a small project with ~2 issues a week. However, if you think that this is a better system and that it will make things more organised, then go ahead and implement it.

[2021-04-29 02:37] gosoccerboy5 commented on #149
Maybe we could use some static json for the project links and update the json file when a project is added/removed..?

[2021-04-29 02:38] gosoccerboy5 commented on #148
I'm drawing a blank right now, maybe I should experiment a bit and see what works.

You're right. Maybe I shouldn't complain, because it's fine in the first place

[2021-04-29 13:13] silvxrcat opened #150 "[FEATURE] Revamp CSS"
**Is your feature request related to a problem?**
No. The website is good but the styling makes it look too round-ish.

**Describe the changes needed**
I'd like a revamp of the CSS as it can use some improvements as like a better navigation bar and/or dialog boxes (HTML6 tag styling), and better UI as like buttons and text areas

**Additional context**
I can help revamp the CSS if needed. I really

[2021-04-29 13:45] Accio1 commented on #150
The round-ish was intended. The site was supposed to look friendly without being overly childish, similar to Scratch 3.0. As for the nav bar, issues surrounding that are currently blocked pending #115. I'm not really sure what you mean by better UI elements, since the site isn't really interactive aside from the nav bar and QuickReply (if this issue is about QuickRply, please open it in the QuickR

[2021-04-29 13:54] silvxrcat commented on #150
Here: https://scratchpro.dabdatbass.repl.co/

It was CSS for the Scratch Pro website I made myself

[2021-04-29 14:02] silvxrcat commented on #150
Or, use Scratch CSS

but I see that not working

[2021-04-29 14:34] Accio1 commented on #150
That looks nice, but I don't really see what it has to do with this.

[2021-04-29 15:23] silvxrcat commented on #150
I'm basically saying:

1. The CSS is child-friendly but needs to be redone because it's too childish.
2. The link I shared was an example of CSS I would like and would fit well (more examples if needed will be sent).
3. The GUI needs to be clean for a nicer website to make it look more simplistic.

[2021-04-29 20:02] Accio1 commented on #150
Please provide specific examples of how the site is too "childish". Also, if you are going to suggest new styling, please provide actual mockups because it is difficult to see what you are saying otherwise. I'm also not sure what you mean by saying that the site needs to look "more simplistic". It is already quite simple with only a couple of pages, and each page has a definitive purpose.

@leahci

[2021-04-29 20:06] #125 closed

[2021-04-29 20:09] leahcimto commented on #125
Same with issue templates.

[2021-04-29 20:14] leahcimto commented on #150
Personally, I think it looks fine the way it is. My opinion might change though if someone provides examples, but to me, the site seems pretty simple right now and if you ask me 3.0 looks more childish than this. With the rounded corners on the FH list, I like those and I think it would feel strange having everything have perfect corners. Notice on GitHub the issue boxes are rounded. I don't think

[2021-04-30 17:08] gosoccerboy5 commented on #109
While we're finding things within the JSON, I'd like to note that on [line 242 of the JSON](https://github.com/theforumhelpers/theforumhelpers.github.io/blob/73c47040bec9afb24d179c16ba0b62c4bbdf8ad3/forumhelpers/curators.json#L242), the format changes from using strings for ID to using numbers for ID.

[2021-04-30 21:43] Accio1 commented on #109
I'm going to go ahead and close this as wontfix because as of right now, there isn't really a reason for this to be changed. If this changes in the future, then this issue will be referenced.

[2021-04-30 21:43] #109 closed

[2021-05-04 14:11] gosoccerboy5 commented on #141
You love jekyll, huh

Er, you may disagree with this, but I think I'd rather have it at least work for the users, than have it work for no one..

[2021-05-04 14:30] gosoccerboy5 commented on #141
Also, the homepage link on the 404 page is broken too. So users could get confused and lost.

[2021-05-05 11:40] #141 closed

[2021-05-06 11:44] #146 closed

[2021-05-06 23:34] leahcimto opened #154 "Forum Helpers List: Move jeffalo to after bluebatstar"
**Describe the changes needed**
Jeffalo should be moved to after Bluebatstar as they left the studio and rejoined. Change managers.json.

**Additional context**
Feel free to ask to be assigned.

[2021-05-06 23:36] leahcimto opened #155 "Bug: Labeler and Issue Templates Using Wrong Labels"
**Describe the bug**
The labeler and issue templates are using the wrong labels as we recently changed them.

**To Reproduce**
1. make an issue/pr
2. notice that if you make an issue there will be no labels and if you make a pr it will make the labels.

**Expected behavior**
The issues and prs should be marked with the new labels

**Browser Information**
N/A

**Additional context**
None

[2021-05-06 23:37] leahcimto commented on #155
I looked over labeler.yml and was wondering if this would work:

[code]
As type has a colon after it. Does anyone know?

[2021-05-06 23:43] leahcimto opened #156 "Bug: Austinato has a circle for an ocular status"
**Describe the bug**
Austinato has a circle for an ocular status. They don't have an ocular status, but a circle is showing.

Screenshot:
<img width="339" alt="Screen Shot 2021-05-06 at 7 41 28 PM" src="https://user-images.githubusercontent.com/68165163/117378277-0f07be00-aea3-11eb-918f-1a73aef62641.png">

**To Reproduce**
1. Go to FH list page
2. Scroll down to Austinato
3. notice they have a cir

[2021-05-06 23:50] Accio1 commented on #156
The circle appears because they have set it as their ocular colour. I think this should be intended in case someone wants to set a colour but not a status.

[2021-05-07 00:06] Shluffy commented on #156
true, but maybe make the circle filled in?

[2021-05-07 01:56] gosoccerboy5 commented on #114
You could go one step further, and insert favicon, stylesheet, etc with Javascript, like I did. Probably not the best idea, but food for thought

[2021-05-07 02:09] gosoccerboy5 opened #157 "Feature Request: Find manager/curator"
**Is your feature request related to a problem?**
It would be cool if you could search for a certain manager or curator, because it's a big list to search through.
A small bit of code I've gotten that may help is `document.querySelectorAll("h4")[0].childNodes[0].innerText`.
This could be made with a form element, or separate \<input> and \<button> elements

**Describe alternatives you've considere

[2021-05-07 02:18] Accio1 commented on #157
Wouldn't CTRL+F work?

[2021-05-07 02:21] gosoccerboy5 commented on #157
I suppose

[2021-05-07 02:33] Accio1 commented on #155
Related: Issue templates have to be updated as well in order to add automatic labels.

[2021-05-07 02:34] Accio1 commented on #155
I'm not sure. I can do a bit of research on the repo for the actions labeller to see if labels with colons in them will work.

[2021-05-07 02:47] gosoccerboy5 commented on #157
I threw something together, the design isn't perfect, but it works. Next step is to figure out how to do all this pull request/fork/git stuff 😅

[2021-05-07 11:44] Accio1 commented on #157
I took a look at your changes, and I like the concept, but there are a few things that I would change. Namely, the search bar and button should be styled with CSS. I'll take a look at this over the weekend and then tag you when I make a PR.

For future reference, you can make a PR by going to the "Pull Requests" tab, and then pressing the "New Pull Request" button, then pressing the blue "compare

[2021-05-07 13:30] gosoccerboy5 commented on #157
Understandable, it was kinda late last night and I didn't have much time. You can feel free to make your own changes to it, or just ask me to make some.

Ah, ok. Thanks! 🙂

[2021-05-08 07:39] FunctionalMetatable commented on #154
I'll do it if you guys don't mind

[2021-05-08 12:42] leahcimto commented on #154
@FunctionalMetatable Would you still like to work on this (i got an email for some reason)

[2021-05-08 12:45] FunctionalMetatable commented on #154
why do i keep deleting my comments anyway

Sure, i'll do it

[2021-05-08 14:15] gosoccerboy5 commented on #154
Isn't jeffalo already at the end/after Bluebatstar? https://github.com/theforumhelpers/theforumhelpers.github.io/blob/8fcfae0611b156a3b8e00d095a0db6bee93336c3/forumhelpers/managers.json#L338-L350
I must be seeing something wrong..

[2021-05-08 14:25] Accio1 commented on #154
@gosoccerboy5 good catch! @leahcimto are you seeing jeffalo before Bluebatstar when you load the page?

[2021-05-08 15:10] leahcimto commented on #154
@Accio1 Lol I'm so dumb yes jeffalo is after bluebatstar. Sorry for the confusion

[2021-05-08 15:10] #154 closed

[2021-05-08 16:49] #148 closed

[2021-05-08 17:03] gosoccerboy5 commented on #156
Does this look OK? Using the background-color css property:
<img width="1150" alt="Screen Shot 2021-05-08 at 12 03 20 PM" src="https://user-images.githubusercontent.com/82768218/117547481-6e75e300-aff5-11eb-89b4-83e90e4c24b5.png">

[2021-05-08 19:57] Accio1 commented on #156
I feel like the full length stripe of colour would be a bit jarring to look at. If you could find a way to get it to be just a circle, that would be fantastic!

[2021-05-08 20:04] gosoccerboy5 commented on #156
<img width="433" alt="Screen Shot 2021-05-08 at 3 03 09 PM" src="https://user-images.githubusercontent.com/82768218/117552001-87d75900-b00e-11eb-83e4-02f32120783c.png">
does that work?

[2021-05-08 20:10] Accio1 commented on #156
Perfect! Go ahead and submit a PR!

[2021-05-08 20:31] #156 closed

[2021-05-08 23:55] leahcimto commented on #157
I think this is a cool idea!

[2021-05-09 00:32] #64 closed

[2021-05-09 00:32] #114 closed

[2021-05-09 00:32] #131 closed

[2021-05-09 09:44] FunctionalMetatable opened #161 "Feature Request: Lint all the code"
**Is your feature request related to a problem?**
the code is kinda messy and needs some linting

**Additional context**
please somebody make a PR that lints all the files

[2021-05-09 11:13] leahcimto commented on #161
Someone could make a directory on the wiki tab here?

[2021-05-09 12:47] Accio1 commented on #161
I think they mean "lint" as in "clean up". @FunctionalMetatable Could you provide some examples of specifically what code needs linting?

[2021-05-09 12:49] leahcimto commented on #161
Oops sorry

[2021-05-09 14:25] FunctionalMetatable commented on #161
resources/stylesheet.css

[2021-05-09 16:09] gosoccerboy5 commented on #89
I can make a PR that will fix this.

[2021-05-09 16:14] Accio1 commented on #89
@gosoccerboy5 At this point, since we are no longer worried about the height of the footer, the easiest thing to do would likely just be to add a couple `<br>` tags between each line so that they are spaced out further. Also , you should just be able to set footer height to "auto" in resources/stylesheet.css to make sure that it resizes no matter how big the content is.

[2021-05-09 16:34] gosoccerboy5 commented on #89
Thanks for assigning me - should I wait until any fixes are made on PR #159, so that there won't be any conflicts?

[2021-05-09 16:47] gosoccerboy5 commented on #89
Turns out, `<br>` tags make the footer huge.
I hate to be picky/annoying, but I think [my fix](https://github.com/gosoccerboy5/theforumhelpers.github.io/tree/fix-footer) is better. If you really want me to slap some `<br>` tags in imports.js, I can do that.
If you like, you can preview the changes you've requested at [gosoccerboy5/theforumhelpers.github.io/tree/fix-footer-take-two](https://github.

[2021-05-09 18:11] gosoccerboy5 commented on #161
](https://github.com/theforumhelpers/theforumhelpers.github.io/blob/master/resources/stylesheet.css)

You mean the bad placement of closing curly brackets?
https://github.com/theforumhelpers/theforumhelpers.github.io/blob/c19bc9f6d4af02cdb4daeec1420ff39b8dc39932/resources/stylesheet.css#L4-L7

[2021-05-09 18:21] leahcimto commented on #161
@gosoccerboy5 I'll admit that is quite irritating

[2021-05-09 18:23] gosoccerboy5 commented on #161
@FunctionalMetatable would be easily able to fix this, we should probably assign him, since he made the issue (?)

[2021-05-09 18:47] FunctionalMetatable commented on #161
there could be a prettier workflow

[2021-05-09 21:03] leahcimto commented on #155
After testing on a [test repo](https://github.com/leahcimto/a-test-repository) it seems like it does not work with labels with colons.

[2021-05-09 21:06] leahcimto commented on #155
Scratch that I'm testing one more time

[2021-05-09 22:18] #89 closed

[2021-05-09 23:01] leahcimto commented on #155
You know what, github actions is hard to work with I'm not going to test this lol

[2021-05-10 15:30] jeffalo opened #163 "Feature Request: use relative urls"
looking through the source code, there are so many places where stuff points to theforumhelpers.github.io. this makes development tedious. why not just use relative urls like
[code]

instead of

[code]

another example of this was in #152 where some obscure `<base>` element was used when it could have just been as simple as adding a slash before the paths. like `<link rel="stylesheet" type="text/c

[2021-05-10 15:33] jeffalo commented on #163
are you running stuff as a file url (aka double clicking a html file)? there are security reasons browsers do this to prevent html files from being malicious.

[2021-05-10 15:35] gosoccerboy5 commented on #163
Yea, just opening it from vscode with the "open in browser" extension. Why, is there some way I can work around the fetch being blocked?

[2021-05-10 15:36] jeffalo commented on #163
theres probably some browser option for it.. but why not run in a proper localhost development server? [heres mine](https://marketplace.visualstudio.com/items?itemName=jeffalo.lived) it tries to simulate github pages.

[2021-05-10 22:55] leahcimto commented on #163
@Accio1 @jeffalo You know for the links and the whole C:/ or file:// thing you could simply replace the code in the header with this:

[code]

(Changes all links to ./folder/index.html)

The <base> wouldn't be nessesary.

[2021-05-10 23:18] leahcimto opened #166 "Bug: 404.html needs new header"
**Describe the bug**
404 page needs new header code

**To Reproduce**
Go to https://theforumhelpers.github.io/404

**Expected behavior**
You should see the header

**Browser Information**
N/A

**Additional context**
None

[2021-05-11 01:10] gosoccerboy5 commented on #166
All we have to do is remove the embeds and add the script tag

[2021-05-11 11:47] leahcimto opened #167 "Forum Helpers List: Add Chiroyce and han614698"
**Describe the changes needed**

Add Chiroyce to list of forum helpers.

User ID: 58524660

Bio: "Hello! I'm Chiroyce, a 13 year old boy from India who joined Scratch on the 25th of March, 2020, as I was bored staying at home and doing nothing. I love making unique projects that test the limits of Scratch to prove that anything is possible. I also love helping around in the forums, especially Bugs

[2021-05-11 20:50] DawnRooney27 opened #169 "Feature Request: Embed some of the studio projects."
**Is your feature request related to a problem?**
No. I just would like to see this happen.

**Describe alternatives you've considered**
None yet.

**Additional context**
Nothing Yet.

[2021-05-11 20:53] Accio1 commented on #169
Duplicate of #149

[2021-05-11 20:53] #169 closed, assigned to Accio1

[2021-05-11 22:31] Accio1 commented on #163
@leahcimto feel free to submit a fix for this!

[2021-05-11 23:24] leahcimto commented on #163
@Accio1 Working on it now

[2021-05-12 16:47] gosoccerboy5 commented on #167
Would this count as a good first issue?

[2021-05-12 16:55] gosoccerboy5 commented on #166
I have a branch that fixes this

[2021-05-12 19:21] Accio1 commented on #166
@gosoccerboy5 feel free to submit a PR!

[2021-05-13 19:38] gosoccerboy5 opened #177 "Typo on /contributors"
Expected appearance:
<img width="672" alt="Screen Shot 2021-05-13 at 2 37 14 PM" src="https://user-images.githubusercontent.com/82768218/118177765-be3f1a80-b3f8-11eb-9b62-3ed61f3d7b18.png">
Actual appearance:
<img width="658" alt="Screen Shot 2021-05-13 at 2 37 01 PM" src="https://user-images.githubusercontent.com/82768218/118177793-c8611900-b3f8-11eb-9b3c-87ac0dbf1c67.png">

Small typo, ig you ca

[2021-05-13 20:07] Accio1 commented on #177
Go ahead and submit a fix for this if you'd like!

[2021-05-13 20:09] #166 closed

[2021-05-13 20:10] gosoccerboy5 commented on #177
wait why is priority high

[2021-05-13 20:11] Accio1 commented on #177
Spelling errors make the site look unprofessional, and it is a simple fix. High priority but not high severity.

[2021-05-13 20:12] gosoccerboy5 commented on #177
Oh.

[2021-05-13 20:16] #177 closed

[2021-05-13 23:19] leahcimto opened #180 "Feature Request: Get rid of drag and select for header home icon"
**Is your feature request related to a problem?**
No, not really. This suggestion came from #176. I noticed one thing that looked like a really good idea.

When you go to the homepage, notice that you can drag the icon in the header around and select it. On most sites this does not happen, for example, Scratch.

To make this happen, the following code should be added to the css for nav-homeicon:
[

[2021-05-14 01:36] gosoccerboy5 commented on #180
Is this on desktop? I couldn't reproduce the bug.

[2021-05-14 11:44] leahcimto commented on #180
@gosoccerboy5 go to the site and notice that you can select the home icon with your cursor and drag it around the screen

[2021-05-14 14:05] gosoccerboy5 commented on #180
Weird, I can't replicate. Maybe I should try on a mobile device if I ever get the chance

[2021-05-14 15:09] TheColaber commented on #180
In that case, could I create a PR for this? Or just reopen #176 because it includes this change?

[2021-05-14 15:31] Accio1 commented on #180
@TheColaber go ahead and create a new PR that applies these changes to nav_homeicon

[2021-05-14 15:56] gosoccerboy5 commented on #157
I can probably make a PR, if you want. I don't have to, if you feel like this is a bad idea or needs fixing

[2021-05-15 15:14] Looky1173 opened #182 "Typo On The QuickReply List"
There are three typos in the QuickReply list, all in the following text:

They are:
- **offical** — It should be spelled as _official_.
- **KEWORDS** (mentioned twice in the text) — It should be spelled as _KEYWORDS_.

Should I make a PR with the fixes?

[2021-05-15 15:29] #180 closed

[2021-05-15 19:57] leahcimto commented on #167
Sure. First let me get a bio from han614698 though.

[2021-05-15 20:04] #157 closed

[2021-05-16 02:02] gosoccerboy5 commented on #167
Can I add mine?
[code]

[2021-05-16 03:36] Steve0Greatness commented on #135
how would those be used? What would be the header? What would be the background? What color would the text be?

[2021-05-16 10:29] leahcimto commented on #167
Sure!

[2021-05-16 11:42] leahcimto commented on #167
@gosoccerboy5 Everyone has a bio and this is now ready to be worked on!

[2021-05-16 11:47] leahcimto commented on #163
Sorry for the delay, I hope to have it done soon.

[2021-05-16 13:30] Accio1 commented on #163
All good! No rush

[2021-05-16 17:18] BarelySmooth commented on #135
I tried experimenting with some color combinations and this one looks fine,

#0D1111 for the header and footer
#FFFFFF for the headings ( the h1, h2, and h3 elements)
#AFAB9E (or #C5C2B6) for other text and
#363B3B for the background of the nav-buttons when they are hovered on.

Here is a preview of the home page with the above color scheme (using #AFAB9E for normal text):

![image](https://user-i

[2021-05-16 17:43] Steve0Greatness commented on #135
thanks.

This might need to use cookies(cause otherwise it's almost useless, like the ability to remove the sections in the forums, i.e. WtS)

[2021-05-16 19:42] leahcimto commented on #167
@gosoccerboy5 I've assigned you! Let me know if you don't want to do this though.

[2021-05-16 19:43] gosoccerboy5 commented on #167
I'm fine with it

[2021-05-16 19:46] gosoccerboy5 commented on #167
what order should they be in? chiroyce => han614698?

[2021-05-16 19:51] leahcimto commented on #167
helped_code should be false, and it should be chiroyce then han614698

[2021-05-16 20:04] leahcimto opened #186 "Feature Request: Remove helped_code in json"
**Is your feature request related to a problem?**
Not really. The helped_code thing in managers.json and curators.json is unneeded and can be removed.

**Describe alternatives you've considered**
None.

**Additional context**
Nothing should have to be changed in FHP.js.

[2021-05-16 20:04] gosoccerboy5 commented on #167
Oops. I may or may not have teensy-weensy pressed the auto-format button in vscode, which rearranged a bunch of lines lol. I have HW so just give me a while

[2021-05-16 20:05] leahcimto commented on #167
No rush!

[2021-05-16 20:05] gosoccerboy5 commented on #186
If I finish adding chiroyce and han614698 and then you guys merge this, will there be merge conflicts? Should I wait until this is possibly fixed?

[2021-05-16 20:06] leahcimto commented on #186
There shouldn't be since they change different files.

[2021-05-16 20:06] leahcimto commented on #186
Sorry, no there would be merge conflicts.

[2021-05-16 20:09] gosoccerboy5 commented on #186
Do I wait until you guys finish fixing this, then clone that and add chiroyce/han(...) (to lazy to type 614698)? Or should I go ahead and add them, and then you can make a pr to fix this issue, based off of the edits I made? I feel like trying to simultaneously fix both issues would be a disaster because of potential conflicts

[2021-05-16 20:12] leahcimto commented on #186
Since this isn't in progress yet you can make the add curators PR first.

[2021-05-16 20:13] gosoccerboy5 commented on #186
got it

[2021-05-17 10:00] CodeGuy92 commented on #135
the small text could be white too, actually.

[2021-05-17 10:00] CodeGuy92 commented on #135
Should we also switch the logo to a dark mode version?

[2021-05-17 10:02] CodeGuy92 opened #187 "Idle > Pointer"
Make it so that when the mouse hoves over the "okay" and "leave site" button in the google analytics banner, it turns to a pointer
`cursor: pointer;`

[2021-05-17 11:42] Accio1 commented on #187
In the future, please use the appropriate [Issue Template](https://github.com/theforumhelpers/theforumhelpers.github.io/issues/new/choose) when opening an issue.

[2021-05-17 11:44] CodeGuy92 commented on #187
alr

[2021-05-17 11:44] CodeGuy92 commented on #187
can i be assigned pls

[2021-05-17 13:20] BarelySmooth commented on #135
I think white makes it a little hard to distinguish the headings and the text. Alternatively,  #C5C2B6 could be used for the small text (it's brighter). @Accio1 what do you think?

The logo should be kept the same (for consistency)

[2021-05-17 13:57] gosoccerboy5 commented on #187
A general styling across the site is that cursor is default even when hovering over buttons. You should probably change all the other instances of buttons if you would like to do this (there's buttons on QuickReply, along with the curator/manager search bar on the forum helper list)

[2021-05-17 14:22] BarelySmooth opened #189 "Feature Request: Increase padding for navbar links"
**Is your feature request related to a problem?**
Yes. There isn't enough left and right padding between links in the navigation bar. Currently, it is only 5px.

**Describe alternatives you've considered**
Increase the padding to about 15px. Anywhere between 10px and 15px would be fine.

**Additional context**
Currently, it looks like this:
![image](https://user-images.githubusercontent.com/837280

[2021-05-17 14:37] Accio1 opened #190 "Google Analytics Includes Forks"
As of right now, any data being sent from forks (or any site with the Google Analytics tag that has been added to the header), will send analytics data to the main analytics panel. The newer version has no way to filter this data, so when I look at the data, it is coming from every site that has this tag.

The older version of Analytics does have a filter option but it would take a while to set up

[2021-05-17 14:38] gosoccerboy5 commented on #190
I don't know much about this stuff

[2021-05-17 14:52] BarelySmooth commented on #190
```window.location.host```
I think using this should work. If it is equal to "theforumhelpers.github.io", then you can append the script tag.

Well, in that case, will using a ["Secret"](https://github.com/theforumhelpers/theforumhelpers.github.io/settings/secrets/actions) work? I don't know much about them but I think it should work.

[2021-05-17 16:34] gosoccerboy5 commented on #190
That's a clever idea

[2021-05-17 16:52] gosoccerboy5 commented on #189
One-line fix
from
[code]
to
[code]

[2021-05-17 17:16] BarelySmooth commented on #189
But we'll have to change the ```@media``` part that I mentioned. I have the change implemented in my fork. I'm not sure if I can make a pr with the fix.

[2021-05-17 19:24] gosoccerboy5 commented on #186
would this count as <a href="https://github.com/theforumhelpers/theforumhelpers.github.io/labels/type%3A%20dev-facing">(type: dev-facing)</a>?

[2021-05-17 19:54] gosoccerboy5 commented on #189
True.

Why not?

[2021-05-17 20:22] BarelySmooth commented on #189
Okay then, I'll make one. I didn't make one earlier because the repository didn't have guidelines for contribution (a CONTRIBUTING.md file)

[2021-05-17 20:24] gosoccerboy5 commented on #189
sorry im stupid i forgot
you should wait to be assigned (just request to be assigned)

[2021-05-17 20:27] BarelySmooth commented on #189
Ah yes.

@Accio1, Can I be assigned?

[2021-05-17 20:50] leahcimto commented on #186
Yes, thanks.

[2021-05-17 21:17] leahcimto commented on #190
Kind of like @BarelySmooth said, maybe something like this would work?

[code]

Of course, people could always change it manually though as you said. I'll try to do some research on if it's possible to make something secret in a github repository.

[2021-05-18 19:22] BarelySmooth commented on #190
Putting it in an if statement would be a good temporary fix until a proper fix can be implemented.

One solution could be to obfuscate the JS code. There are online tools to do that but I'm not sure how reliable they are.

[2021-05-18 21:00] leahcimto commented on #190
It might be possible to obfusicate the if statment and the things inside it to prevent altering. Here is something I did with https://obfuscator.io/:

[code]

[2021-05-18 23:06] Accio1 commented on #190
I've thought it over, and I think I am just going to update the Analytics code to the version that allows you to filter based on domain. I think that conditionally adding it wouldn't work because it is supposed to load as soon as the page does, and conditionally adding it would add it after the page has already loaded. Also, if somebody wanted to be malicious, they could easily fork the repo and r

[2021-05-19 00:21] #167 closed

[2021-05-19 01:23] gosoccerboy5 commented on #187
However, adding a `button:hover` rule wouldn't hurt as it gives more of an appearance of interactivity.

[2021-05-19 09:54] BarelySmooth commented on #190
I don't understand. If you will be changing the analytics code to a version that filters based on domain, why would the forks need to remove the analytics code?

[2021-05-19 11:41] Accio1 commented on #190
Sorry that I wasn't clear. I was saying that if we were to conditionally add it, we would have to ask them to delete the code. If we change the Google Analytics code then they will not have to delete it since it won't work anymore.

[2021-05-19 15:31] gosoccerboy5 commented on #186
My branch [remove-helpedcode](https://github.com/gosoccerboy5/theforumhelpers.github.io/tree/remove-helpedcode) may fix this

[2021-05-19 20:27] #190 closed

[2021-05-21 20:56] leahcimto commented on #163
I'm going to un-assign me since I'm a bit busy at the moment and don't want to hold this up. I also am having some trouble with it.

[2021-05-26 02:16] Steve0Greatness commented on #135
I've started making a fork, you can view it [on replit](https://replit.com/@StevesGreatness/theforumhelpersgithubio)

[2021-05-28 16:10] CodeGuy92 commented on #135
omg this is soooo cool

[2021-05-28 16:11] CodeGuy92 commented on #135
underline the "switch theme" & make it pointer, or make it a link (href="javascript:function")

[2021-05-28 16:13] gosoccerboy5 commented on #135
You can leave the tab open without posting it, or just wait to make the PR. Your branch will still be there.

please no, lol. javascript: links are bad

[2021-05-28 16:54] Steve0Greatness commented on #135
Here's what a dark mode logo _could_ look like, _if_ we decide we want to change the logo to dark mode.

[2021-05-30 17:05] Steve0Greatness commented on #135
Is this issue dead?

[2021-05-30 19:18] gosoccerboy5 commented on #135
No, but some of the contributors/members are inactive for a while sometimes

[2021-05-30 20:57] Accio1 commented on #135
@NilsTheBest do you have the original .svg file of the favicon? It would be easier to change the colours on a .svg than on a .png

[2021-05-30 21:49] Steve0Greatness commented on #135
did you put this in the wrong issue, or just @ the wrong person?

[2021-05-30 21:49] leahcimto commented on #135
It's in the right place

[2021-05-30 21:50] Steve0Greatness commented on #135
ok then...

[2021-05-30 21:53] Accio1 commented on #135
NilsTheBest designed the original favicon, so I am pinging them to see if they still have the original .svg file so a dark version can be made.

[2021-05-31 05:43] Steve0Greatness commented on #135
ah, thanks.

[2021-06-01 14:48] Steve0Greatness commented on #135
Here are some questions I have about what to do in dark mode:

1. Should the logo be changed?
2. How long until the cookie should expire?

[2021-06-01 18:28] CodeGuy92 commented on #135
1. Yes.
2. Make it to the year 9999 so it does not expire.

[2021-06-01 18:30] Accio1 commented on #135
1. Yes, I am waiting to get the .svg logo file so it can be changed.
2. localstorage should be used instead of cookies. They don't expire and work when developing locally.

[2021-06-01 18:31] Accio1 commented on #135
I'm also going to make a few colour change recommendations based on Material Design's dark mode guidelines.

[2021-06-01 19:06] Steve0Greatness commented on #135
I'll try that...

[2021-06-02 22:30] Steve0Greatness commented on #135
ok, sounds good.

[2021-06-03 22:36] Steve0Greatness commented on #189
can't you assign yourself?

[2021-06-03 23:19] Steve0Greatness commented on #149
Mockup?
![img](https://user-images.githubusercontent.com/75220768/120723816-50ca5b00-c487-11eb-8bfc-50d6a2efece2.png)

[2021-06-04 05:44] FunctionalMetatable opened #199 "Feature Request: Use consistent element IDs"
**Is your feature request related to a problem?**
Yes - The ids created by FHP.js are not the nicest looking. They could be
ocular-${user}
instead of
Ocular${user}
**Describe alternatives you've considered**
None

**Additional context**
I could be assigned

[2021-06-04 05:49] FunctionalMetatable opened #200 "Feature Request: Use document.createElement instead of pure HTML injection"
**Is your feature request related to a problem?**
Yes. The injection of pure html in imports.js and FHP.js bugs me. To look a bit professional, we should use document.createElement instead.

**Describe alternatives you've considered**
Linting the JS files and Linting the HTML inside it

**Additional context**
I could be assigned

[2021-06-04 05:55] FunctionalMetatable opened #201 "Feature Request: Use Vue as a framework (loading it from a JS file)"
**Is your feature request related to a problem?**
We could get rid of most messy javascript. We could use v-for to iterate over the forum helpers list.

**Additional context**
Vue would make the site easier to maintain

[2021-06-04 05:57] FunctionalMetatable commented on #201
This would close #200.

[2021-06-04 11:45] Accio1 commented on #201
As mentioned [here](https://github.com/theforumhelpers/theforumhelpers.github.io/issues/64#issuecomment-767829408)

"I'd like this site to have as little dependencies as possible so that it is easy for anyone to contribute to."

[2021-06-04 11:46] Accio1 commented on #200
As of right now, we are not accepting any user-generated content, so using .innerHTML is not an issue because it does not raise any security risks.

[2021-06-04 11:50] Accio1 commented on #199
I agree. Related to #161. Camel case is best in my opinion for class and ID names.

[2021-06-04 11:53] FunctionalMetatable commented on #201
But vue is **just a javascript file**, not a **whole framework** like [nuxt](https://nuxtjs.org)

[2021-06-04 11:54] Accio1 commented on #201
It is also unfamiliar to many people who might only be familiar with HTML, CSS, and JS.

[2021-06-04 20:06] FunctionalMetatable commented on #199
Please could I be assigned?

[2021-06-04 20:54] Steve0Greatness commented on #135
@Accio1, did you get the original svg? If they don't respond, someone can always trace the logo.

[2021-06-04 21:36] Steve0Greatness commented on #135
done, you can test it at https://theforumhelpersgithubio.stevesgreatness.repl.co/

[2021-06-05 04:16] Steve0Greatness commented on #135
There's a solution to this, [dark reader](https://darkreader.org/)

[2021-06-05 05:07] TheColaber commented on #201
Not really... Vue is just javascript, but with convenient features. For instance, you could do something like
[code]
instead of
[code]
[code]

I think the first one looks better. Plus vue is epic for a lot more reasons.

[2021-06-05 14:32] gosoccerboy5 commented on #200
I don't think @Accio1 wants to spend time using document.createElement for each element, inserting it, bla bla. InnerHTML may be a bit messy but it's easier to write.

[2021-06-05 14:52] Accio1 commented on #135
I was experimenting a bit with this yesterday, and I don't think we actually need a dark mode icon. Just turning down the saturation on the current icon is enough to make it easier on the eyes, while still preserving most of the original colour. I did the same thing to the Ocular Status colours and people's profile pictures just so that scrolling through the page with a black background isn't so h

[2021-06-05 14:57] Accio1 commented on #199
@FunctionalMetatable Ideally this would be done simultaneously with the fix for #161. Would you like to work on both?

[2021-06-05 14:59] Accio1 commented on #201
@TheColaber Yes, it is JavaScript, but people who wanted to contribute would have to learn how to use Vue, which might discourage them from contributing.

[2021-06-05 15:00] Accio1 commented on #189
Is this change necessary? Why is the additional padding required?

[2021-06-05 15:18] Accio1 commented on #187
@CodeGuy92 @gosoccerboy5 would either of you like to be assigned?

[2021-06-05 15:20] Accio1 commented on #186
@gosoccerboy5 Feel free to submit a PR. This will cut the size of those files which is always a good thing, especially if it isn't being used right now. Something similar might have to be added back if the "helped code" badges are added to the page, but that is not a priority right now.

[2021-06-05 15:23] Accio1 commented on #149
@Steve0Greatness looks good! I would change it to add some more padding between them, similar to the credits page. Also, should the entire project be embedded, or just the thumbnail so that people can click on them and be directed to the actual project?

[2021-06-05 15:23] TheColaber commented on #201
Please explain how my post above is too hard to understand and would discourage people from contributing. As if `v-input` in my example was not easy to understand, you could also just take 3 seconds to look at the docs. I mean yes, it is up to you but Vue and React is the standard way to make websites nowadays. Scratch is made from React by the way... There are a lot of companies that use Vue too.

[2021-06-05 15:25] Accio1 commented on #201
I know Vue. My point is that other people might not, and it could discourage them from contributing. Since this is a community effort, it should be as easy as possible for anyone to work on, and people who are just starting to learn HTML/CSS/JS might be discouraged if they have to read an entire set of documentation just to contribute.

[2021-06-05 15:38] BarelySmooth commented on #189
Currently, the padding is a bit low. The links are too close in my opinion. Increasing the padding would just make the nav-bar look visually better.

[2021-06-05 15:39] Accio1 commented on #189
Alright, seems like a simple fix. @BarelySmooth would you like to submit a fix?

[2021-06-05 16:13] FunctionalMetatable commented on #199
Ok. Can I put them in the same PR?

[2021-06-05 16:19] Accio1 commented on #199
Yep. Please use tabs instead of spaces, and ensure that class/id names are camelCase

[2021-06-05 16:22] CodeGuy92 commented on #135
![f in the chat bois](https://user-images.githubusercontent.com/79767244/120898386-56fd3a80-c633-11eb-800a-5187f89291a3.PNG)
No. It just makes it worse.

[2021-06-05 16:27] Accio1 commented on #135
Here is a mockup that I made
![image](https://user-images.githubusercontent.com/48496940/120898553-50ea6800-c5f9-11eb-8e0e-215f1f6786fb.png)

[2021-06-05 19:39] gosoccerboy5 commented on #186
Ok. I can make a PR, but I think there might be some merge conflicts.. I'll see what I can do

[2021-06-05 19:42] Accio1 commented on #186
It's fine if there are merge conflicts. I can resolve them once you open a PR.

[2021-06-05 19:48] Steve0Greatness commented on #149
it could get laggy with too many project embeds.

[2021-06-05 19:50] Accio1 commented on #149
That's what I was thinking too. Sticking to just the thumbnails would probably be best for now.

[2021-06-05 19:53] Steve0Greatness commented on #135
You haven't adjusted the settings at all... there's no "one size fits all" for dark modes... here's a better version in which I changed the settings to fit the site :)
![Screenshot 2021-06-05 12 52 55 PM](https://user-images.githubusercontent.com/75220768/120903784-0e2a8f00-c5fd-11eb-8772-dc19ac6838e1.png)

[2021-06-05 19:55] Steve0Greatness commented on #135
I'll make it in css!

[2021-06-05 19:56] Accio1 commented on #135
I've already done that. I used CSS variables to switch between light and dark modes instead of creating two separate stylesheets.

[2021-06-05 19:58] Steve0Greatness commented on #135
That's a much better way! I'm pretty new to web development 😅

[2021-06-05 20:05] Accio1 commented on #135
@Steve0Greatness If you don't mind, I'm going to take a shot at implementing this myself. I appreciate the hard work that you put in and I will definitely use your code for inspiration, but since this is such a major feature I want to ensure that it is implemented as effectively as possible. I will tag your for review when I make my PR.

[2021-06-05 20:06] Steve0Greatness commented on #135
I don't mind.

[2021-06-06 15:28] #135 closed

[2021-06-06 16:01] Accio1 commented on #186
Reopened because of #209

[2021-06-06 16:11] leahcimto commented on #186
Looking over what was wrong with #206

[2021-06-06 16:27] #161 closed

[2021-06-06 16:27] #199 closed

[2021-06-06 17:09] #189 closed

[2021-06-07 01:14] Steve0Greatness commented on #121
I made meh mockups:
![Screenshot 2021-06-06 6 13 19 PM](https://user-images.githubusercontent.com/75220768/120946904-e7e71b00-c6f2-11eb-8a11-401a46647776.png)
![Screenshot 2021-06-06 6 11 08 PM](https://user-images.githubusercontent.com/75220768/120946905-e87fb180-c6f2-11eb-9401-fa97f058b23f.png)
They're not that great... but they took forever(mostly the nav bar, it looks so simple... but it's not

[2021-06-07 01:23] Steve0Greatness commented on #186
Is this meant to still be open?

[2021-06-07 01:27] Accio1 commented on #186
@Steve0Greatness Yes, the PR was merged but it broke the site so it was reverted and the issue was reopened.

[2021-06-07 01:28] Steve0Greatness commented on #186
Makes sense.

[2021-06-07 19:32] leahcimto opened #212 "Feature Request: Credit Taco Wizard"
**Is your feature request related to a problem?**
Yes, the taco wizard is used from the Scratch Sprite Library without credit. Credit should be given on the credits page.

**Describe alternatives you've considered**
Not applicable.

**Additional context**
I believe the sprite was made by designerd.

[2021-06-07 21:06] Accio1 commented on #212
Yes, you could probably add the phrase
"Taco Wizard image from the Scratch Costume Library"

[2021-06-08 12:48] Shluffy commented on #121
i think dark mode might be better to use the blue like
https://user-images.githubusercontent.com/75220768/120946904-e7e71b00-c6f2-11eb-8a11-401a46647776.png - although the blue isn't 'dark'

[2021-06-08 12:55] Shluffy opened #215 "Update Codeowners"
Codeowners [Line 2](https://github.com/theforumhelpers/theforumhelpers.github.io/blob/703821874f015dc18c2bae6a390feed52783ce17/.github/CODEOWNERS#L2) and [Line 3](https://github.com/theforumhelpers/theforumhelpers.github.io/blob/703821874f015dc18c2bae6a390feed52783ce17/.github/CODEOWNERS#L3) can be put into one line as `/forumhelpers/*.json @leahcimto`

[2021-06-08 12:59] Shluffy commented on #215
although that would include `/forumhelpers/past.json` not just `/forumhelpers/curators.json` and `/forumhelpers/managers.json`, but that still is forum helpers list

[2021-06-08 15:35] jeffalo commented on #201
but they would be learning, and challenging yourself to learn something new is a good thing isn't it?

[2021-06-08 15:50] Shluffy commented on #201
Yes, but maybe they don't want to take the time to try something for the first time. As well as it could take them a few hours to learn it and they might not have that time

[2021-06-08 17:54] Steve0Greatness commented on #121
That image came from a bug where a part of the page on the main site didn't turn to dark mode.
I thought that I was a feature, but it wasn't, so I fixed the image.

[2021-06-08 18:12] Shluffy opened #216 "Feature Request: [Dark Mode] Change The Search Bar Background Color"
https://user-images.githubusercontent.com/81823039/121236318-d07b6f80-c863-11eb-8806-a51cd5f5549b.mp4

This is what is happening.
A mockup of a possible change:

![image](https://user-images.githubusercontent.com/81823039/121237661-4d5b1900-c865-11eb-8f34-06f21e300c1e.png)

This simply changes `--searchBar:` under the dark mode part to `#222b2e` rather then `#1f1f1f` - pretty much black.
@Accio1 i

[2021-06-08 18:27] Shluffy commented on #216
A mockup of a possible change:

![image](https://user-images.githubusercontent.com/81823039/121237661-4d5b1900-c865-11eb-8f34-06f21e300c1e.png)

This simply changes `--searchBar:` under the dark mode part to `#222b2e` rather then `#1f1f1f` - pretty much black.
@Accio1 if we are changing it (and to this color, or a slightly darker one) could I be assigned?

[2021-06-08 18:58] Shluffy opened #217 "Feature Request: Actually Make `CONTIRBUTING.md` (contrib guidelines)"
The branch that it is currently being made on is not used. Would I be able to make it and you guys will just request changes for things that should be removed, changed, added, etc.

[2021-06-08 18:59] Accio1 commented on #217
@leahcimto is working on this. Just because the branch doesn't have any recent changes doesn't mean that it isn't being developed.

[2021-06-08 18:59] #217 closed

[2021-06-08 19:00] leahcimto commented on #217
Yeah, sorry I've been busy should be able to finish this soon now that summer vacation has started for me.

[2021-06-08 19:02] Accio1 commented on #216
This is by design

[2021-06-08 19:20] Shluffy commented on #216
Maybe still change it? a black/dark grey works better then same as the background

[2021-06-08 19:32] Shluffy opened #218 "Feature Request: Add Code of conduct"
I can do this if I get given a contact email, using the same code of conduct as @scratchaddons - or I will input an email and then manually change it later. The code of conduct for SA:

# Contributor Covenant Code of Conduct

## Our Pledge

In the interest of fostering an open and welcoming environment, we as
contributors and maintainers pledge to making participation in our project and
our commun

[2021-06-08 20:41] #212 closed

[2021-06-08 20:55] Accio1 commented on #186
Aha, I found the issue with #206. After some bios, the comma wasn't removed , which caused it to not be read correctly. Removing these commas should fix the issue. @gosoccerboy5 are you still interested in this?

[2021-06-08 20:56] Shluffy commented on #215
No. But this changes the icon from saying lien 2 and line 3 and also would include past.json

[2021-06-08 21:05] Shluffy commented on #186
@Accio1 if they aren't I can do this

[2021-06-08 21:42] FunctionalMetatable commented on #218
Related: [Community standards page in insights](https://github.com/theforumhelpers/theforumhelpers.github.io/community)

[2021-06-08 21:56] Shluffy commented on #218
we could make a site. scratch messaging (now scratchaddons) was linked on griffpatches site and he linked his site on scratch. It's not very direct anyway. Maybe use discussions or code something to accept a report on a site? that might require a database though

[2021-06-09 12:38] Shluffy commented on #155
@Accio1 is this still needs triage?

[2021-06-09 13:15] Accio1 commented on #155
@Shluffy generally labels on closed issues don't really matter.

[2021-06-09 14:03] Shluffy commented on #155
@Accio1 no, it genarally doesn't. this is to point out about what i was saying on on your profile

[2021-06-09 16:36] CodeGuy92 commented on #187
Yes me

[2021-06-09 16:36] CodeGuy92 commented on #187
@acc

[2021-06-09 16:36] CodeGuy92 commented on #187
@Accio1

[2021-06-09 16:38] CodeGuy92 opened #220 "Feature Request: Make Switch Theme a button instead of a link"
**Is your feature request related to a problem?**
No. I just want the "Switch theme" link to be turned into a button and added into the navbar instead of the footer

**Describe alternatives you've considered**
j

**Additional context**
No additional context.

[2021-06-09 16:51] Steve0Greatness commented on #220
This would be a good idea to put into the [pull request](https://github.com/theforumhelpers/theforumhelpers.github.io/pull/208).

[2021-06-09 17:05] Steve0Greatness commented on #215
What's even the purpose of Codeowners?

[2021-06-09 17:09] Shluffy commented on #215
to automatically request the review of a user if they are a codeowner. see pr #191 and #184

[2021-06-09 20:14] Shluffy opened #223 "Documentation: Add the need triage label automatically to blank issues"
minor thing.

[2021-06-09 20:22] Shluffy opened #224 "Use Actions for stale issues"
Currently there is one stale issue with the stale label (`status: stale`). #121. leahcimto manually added it after about a month and a half. This would mark it as stale after a certain amount of time (you can specify for issue and pr separately) and then can specify how many days until close. You can use labels and milestones to exempt stuff, etc.

**Helpful Links:**
[An example of this in use](ht

[2021-06-09 20:25] Accio1 commented on #224
We tried having an auto labeller in the past and it worked very poorly.

[2021-06-09 20:27] Accio1 opened #225 "Theme Suggestions Issue Template"
There should be an issue template that people can use to suggest new themes for the site. It would include a spot for the theme name as well as a place for them to fill out colours that should be a part of the theme.

I can do this and #223 in one PR sometime this week.

[2021-06-09 20:27] Accio1 commented on #223
I can do this along with #225

[2021-06-09 20:29] Accio1 commented on #220
I'd prefer that it remains in the footer, but I agree that it should be a button. Also, in the future, fill out the issue template properly or it will be closed.

[2021-06-09 20:32] Shluffy commented on #223
@Accio1 while you are at it maybe make a template for documentation

[2021-06-09 21:58] Shluffy commented on #224
You could try probot. Just actions one is easier to configure and has more options

[2021-06-09 21:59] Shluffy commented on #216
@Accio1 are we going to be doing this? if so can i be assigned? if not it would probably be needs discussion

[2021-06-10 00:16] gosoccerboy5 commented on #224
Not that many issues go stale (not that many exist (for very long until they're resolved)), so manually adding the label is fine.

[2021-06-10 00:52] leahcimto commented on #224
+1

[2021-06-10 12:10] Shluffy commented on #224
I guess this is what this is coming to. I am gonna close this

[2021-06-10 12:10] #224 closed

[2021-06-10 12:51] leahcimto opened #227 "Forum Helpers List: New Users"
**Describe the changes needed**

A checkmark means a bio has been provided.

Add the following users to curators list:

- [x] DarthVader4Life

- [x] #254

- [x] linearlemur

- [ ] potatophant

- [ ] Maximouse

Other:

- [x] Change leahcimto's bio
- [x] Change dogsmakemehappy's bio
- [x] Change -Accio-'s bio

**Additional context**
I can do this and will have a pr up by the end of the week.

[2021-06-10 14:53] Shluffy commented on #227
Can you change my bio: `I am not really active on the forums anymore (except for the ATs) and I am mostly on github as shluffy. <i><b>Coding On github</b></i>`

[2021-06-10 22:25] leahcimto commented on #187
@CodeGuy92 I've assigned you.

/cc @Accio1

[2021-06-10 23:55] Steve0Greatness commented on #225
Sounds like a pretty good idea! That way we can have proper discussions for each theme.

[2021-06-11 02:01] Accio1 commented on #218
I don't think that we need a large code of conduct like the one listed above. This is a relatively small repository, and we thankfully have not had issues in the past. I think just stating to follow the Scratch Community Guidelines and report any inappropriate content would be sufficient.

[2021-06-11 02:04] Accio1 commented on #227
Please also change my bio to "Hi there! I'm [at-symbol]-Accio-! I am a Forum Helper with 1000+ posts and the former owner of two stickies. I am also an SDS curator, and I enjoy science and math. The forums which I visit most often are Suggestions, Questions About Scratch, and Advanced Topics. Additionally, I am a lead developer on the site you are viewing right now!"

[2021-06-11 02:24] Accio1 commented on #215
I don't really think that this change is needed. It doesn't have much of an impact, no matter which way you do it. If hundreds of files had to be assigned, then this would obviously be more efficient, but since it is only two, I don't think changing this would even be worth the time.

[2021-06-11 02:24] #215 closed

[2021-06-11 11:25] Shluffy commented on #218
I guess then this should be closed.

[2021-06-11 11:25] #218 closed

[2021-06-11 11:47] BarelySmooth opened #229 "Feature Request: Create CONTRIBUTING.md"
**Is your feature request related to a problem?**
Yes, it should be easier for users to understand the steps to contribute to the repository.

**Describe alternatives you've considered**
An alternative is to add it to the README iteself.

**Additional context**
For example, a new user might not know that you have to wait to be assigned to submit a PR (some repositories allow small changes without

[2021-06-11 11:55] Shluffy commented on #229
See #217. leahcimto should be working on it [here](https://github.com/theforumhelpers/theforumhelpers.github.io/tree/contributing-guidelines)

[2021-06-11 13:03] leahcimto commented on #229
Yep, the pull request should be up now.

[2021-06-11 13:03] #229 closed

[2021-06-11 13:29] BarelySmooth commented on #229
Great! (I thought I searched for closed issues too and that didn't show up)

[2021-06-11 15:59] CodeGuy92 commented on #187
k

[2021-06-11 16:59] Accio1 commented on #187
Please leave issues open until the PR that resolves them has been merged.

[2021-06-12 18:19] leahcimto commented on #223
@Shluffy There isn't much documentation in this repository, but I don't see why not.

[2021-06-12 19:29] #223 closed

[2021-06-12 19:29] #225 closed

[2021-06-12 19:30] Accio1 commented on #220
Closed in #226

[2021-06-12 19:30] #220 closed

[2021-06-13 14:26] linearlemur commented on #227
Set my bio to "I'm a human being obsessed with science, coding, math, history, geography, and linguistics. I'm mostly active in Suggestions, Questions About Scratch, and Advanced Topics."

[2021-06-13 15:24] Shluffy opened #235 "[Labels/milestones] add a backlog label/milestone"
As of ~~writing~~ typing this there are 9 open isssues. Only 1 is in-progress (maybe #227 should also be), and some are just low priority. Maybe create a backlog label/milestone and anyone can submit a fix for something on the backlog. This would require a change to the contrib guidelines

[2021-06-13 15:50] Accio1 opened #236 "Bug: Header doesn't work sometimes on mobile"
**Describe the bug**
The expandable buttons in the header do not expand for some reason on some mobile devices. Clicking on the button that should expand them does nothing

**To Reproduce**
Visit the site on mobile and click the expandable dropdown. On some devices it will not expand.

**Expected behavior**
The dropdown should expand on all devices

**Browser Information**
iOS Safari

**Additional

[2021-06-13 15:53] leahcimto commented on #236
Can reproduce on iPhone safari

[2021-06-13 15:55] Accio1 commented on #236
I think it will probably have to be worked around using JS onclick, because it seems like CSS :hover doesn't work as intended.

[2021-06-13 17:19] gosoccerboy5 opened #237 "nothing to see here.."
will we delete the branch "nothing-to-see-here" or keep it for next year? we will definitely have to do a bit of fetch and merge and fixing merge conflicts if we want to keep it.

[2021-06-13 17:22] BarelySmooth commented on #237
But what is it?

If its some special AFD page, we can easily change the branch from where GitHub Pages builds the website in the repository settings!
From: ***@***.***>
Sent: 13 June 2021 09:19 PM
To: ***@***.***>
Cc: ***@***.***>
Subject: [theforumhelpers/theforumhelpers.github.io] nothing to see here.. (#237)

will we delete the branch "nothing-to-see-here" or keep it for next year? we will defi

[2021-06-13 17:56] Shluffy commented on #237
af 2021 archive. we will probably make a new one for 2022

[2021-06-13 18:15] Accio1 commented on #237
As others have stated, this was the branch for AFD 2021. It was saved for archival purposes. Next year a new branch will be created, since the changes from last year weren't anything that would be too difficult to implement again.

[2021-06-13 18:18] Shluffy commented on #237
are we going to do the same thing as last year? maybe have it be different and possibly allow anyone to make a pr for that branch

[2021-06-13 18:19] Shluffy commented on #216
@Accio1 can i be assigned? this is just priority low and mini, but not needs discussion

[2021-06-13 18:21] Accio1 commented on #216
If you can do it by using CSS Variables that are already declared, go ahead. However, please don't add a new one just for this button.

[2021-06-13 18:21] Shluffy commented on #163
@Accio1 can i pls be assigned

[2021-06-13 18:22] Accio1 commented on #237
AFD 2022 still isn't for another 10ish months, so how about we continue this discussion closer to that time.

[2021-06-13 18:22] #237 closed

[2021-06-13 18:23] Accio1 commented on #163
@Shluffy how would you plan to implement this?

[2021-06-13 18:25] Shluffy commented on #149
Could I be assigned? I would just use the thumbnails with a link under them, and possible make it a scrollable thing rather then a few in a row

[2021-06-13 18:25] Shluffy commented on #149
@Accio1

[2021-06-13 18:45] Shluffy commented on #216
it just changes one of the set things for each theme

[2021-06-13 18:47] Shluffy commented on #163
use `/` rather then the github things in certain cases. I could make a mock-up

[2021-06-13 18:55] Shluffy commented on #235
this might be documentation?

[2021-06-13 19:13] BarelySmooth commented on #236
I think its a problem with how Safari handles ```:hover```. [See the compatibility notes on MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/:hover#browser_compatibility)

[2021-06-13 19:29] Accio1 commented on #236
Thanks, I'll take a look

[2021-06-13 19:31] Shluffy opened #239 "Documentation: issue templates"
**What does this affect?**
Issue Templates

**Changes/Additions**
the name for a documentation issue will start as tfh list

[2021-06-13 19:31] Shluffy commented on #239
@Accio1 could i pls be assigned

[2021-06-13 19:32] Shluffy opened #240 "Documentation: Contributing.md updates"
**What does this affect?**
Contributing.md file

**Changes/Additions**
it doesn't include anything about https://github.com/theforumhelpers/theforumhelpers.github.io/pull/226#issuecomment-860258799

[2021-06-13 19:32] Shluffy commented on #240
@Accio1 could i pls be assigned?

[2021-06-13 19:37] Accio1 commented on #240
I think this should be left out of the contributing guidelines because this was a specific case. In certain cases, adding on to a previous PR would require a new issue to be made, whereas in this case it didn't. Since it depends on the circumstances, that would be hard to describe in a text document.

[2021-06-13 19:37] #240 closed

[2021-06-13 19:39] Accio1 commented on #235
I am against the idea of anyone being able to submit fixes for old issues. Several of these are marked as needs discussion, which means that it hasn't been completely worked out how to be added yet. People asking to be assigned ensures that there is adequate discussion on each issue before it is implemented.

[2021-06-13 19:55] Accio1 commented on #216
Resolved in #238

[2021-06-13 19:55] Shluffy commented on #235
but u choose which is backlog, for anyone to do

[2021-06-13 19:55] #216 closed

[2021-06-13 19:56] Accio1 commented on #235
Then I likely wouldn't end up choosing any, which wouldn't be helpful.

[2021-06-13 19:56] gosoccerboy5 commented on #237
I knew that. Thanks for the other info though.

[2021-06-13 20:02] #239 closed

[2021-06-13 20:04] Accio1 commented on #163
Using / won't work. That means anyone developing locally will have the relative URLS link to the root of their filesystem. Any changes made have to work both locally and on the actual site.

[2021-06-13 20:35] gosoccerboy5 commented on #200
[code]
This should streamline the document.createElement process (if you do end up doing this) so you can do things like:
[code]

[2021-06-13 20:54] Accio1 commented on #200
I'm going to add the wontfix label. There is currently no reason to switch this, so the effort would not be worth it.

[2021-06-13 20:54] #200 closed

[2021-06-14 00:02] Shluffy commented on #235
ok

[2021-06-14 00:02] #235 closed

[2021-06-14 00:03] leahcimto commented on #235
For the future, the help-wanted tag could work.

[2021-06-14 13:52] CodeGuy92 commented on #187
you should do some rules issue or something. These rules are unclear lol

[2021-06-14 21:16] FunctionalMetatable commented on #149
@Shluffy We need to add a bit of styling before adding this to the site.

[2021-06-15 17:04] Steve0Greatness commented on #149
I've started working on an improved mockup for this page.

[2021-06-16 13:42] NilsTheBest commented on #135
I don't have the original .svg anymore as the file is on my old computer, unless it's still on that website that I made it on.

[2021-06-16 14:52] gosoccerboy5 commented on #227
I think @ninjaMAR needs a bio update: #244

[2021-06-16 16:51] ninjamar commented on #227
Please change my bio to "I'm ninjaMAR, a coder who mainly uses python. I am often found it the Advanced Topics helping people. <h1>test plz ignore</h1>"

[2021-06-16 21:45] leahcimto opened #248 "Documentation: Credits page needs to be updated"
**What does this affect?**
Credits page

**Changes/Additions**
The order of users needs to be changed.

gosoccerboy5 should be moved after leahcimto, BarelySmooth should be added after NilsTheBest, FunctionalMetatable should be after BarelySmooth, Shluffy should be after FunctionalMetatable, and TheColaber should be added after Nambaseking01.

The grid should look like this:
<img width="1031" alt=

[2021-06-17 03:38] BarelySmooth commented on #163
@Accio1 Is there a known easy way to do this?

(I think I know how to do it albeit not in a straightforward way)

[2021-06-17 13:36] gosoccerboy5 commented on #163
Not that I can think of

[2021-06-17 13:46] BarelySmooth commented on #163
If no such solution exists, then @Accio1, can I try reloving it?

[2021-06-17 13:52] Accio1 commented on #163
@BarelySmooth what solution do you have in mind?

[2021-06-17 13:57] BarelySmooth commented on #163
Use Javascript to add the “href” attribute to the <base> tag. We can use javascript code to determine what should go in there.

[2021-06-17 16:45] Steve0Greatness commented on #248
Why?

[2021-06-17 16:53] gosoccerboy5 commented on #248
I don't think I deserve to be the 3rd

[2021-06-17 17:28] leahcimto commented on #248
@Steve0Greatness This is how the credits page is set up. Users are placed in order of contributions they make, and users with no commits are placed after them in alphabetical order.

[2021-06-19 12:01] CodeGuy92 opened #252 "Feature Request: Add outline to contributors pfps"
**Is your feature request related to a problem?**
No. I want an outline to be added for all of the contributors' pfps in [The Forum Helpers Page](https://theforumhelpers.github.io/forumhelpers/) and the [Contributors](https://theforumhelpers.github.io/contributors/).

**Describe alternatives you've considered**
None.

**Additional context**
Make sure the outline color is updated if the theme is ch

[2021-06-19 13:09] leahcimto commented on #252
How thick would the outline be? What colors would they be matching with each theme?

[2021-06-20 13:52] CodeGuy92 commented on #252
Honestly, i don't care. You can actually just make the outline color match the color of the pfp.

[2021-06-21 08:21] BarelySmooth commented on #163
@Accio1 Use Javascript to add the “href” attribute to the <base> tag. We can use javascript code to determine what should go in there.

[2021-06-22 16:50] markverb1 commented on #252
is this good?
![image](https://user-images.githubusercontent.com/77983517/122967372-115ea280-d393-11eb-98ef-49ca399a7f16.png)

[2021-06-25 18:17] #187 closed

[2021-06-26 02:32] Accio1 commented on #252
Specifically why do you think outlines are needed?

[2021-06-26 02:33] Accio1 commented on #248
Closed in #249

[2021-06-26 02:33] #248 closed

[2021-06-26 12:48] leahcimto commented on #227
@ninjamar The html tags will not be included.

[2021-06-26 15:24] ninjamar commented on #227
Oh

[2021-06-26 15:50] CodeGuy92 commented on #252
Because it would look better, and also, why not?

[2021-06-26 15:51] CodeGuy92 commented on #252
`border-radius: 5px;`

[2021-06-26 16:22] Accio1 commented on #252
I think that it would look better without a border. That way, people with .png profile pictures won't have a border that looks like it is going around nothing.

[2021-06-26 17:47] leahcimto opened #254 "garnetluvcookie"

[2021-06-26 17:48] leahcimto commented on #254
sorry i have no idea what i pressed

[2021-06-26 17:48] #254 closed

[2021-06-27 15:59] Shluffy opened #255 "inconsistent indentation"
https://github.com/theforumhelpers/theforumhelpers.github.io/blob/e849ebda3cbc306e8cf3b7bdccd5782da5954c4f/resources/stylesheet.css#L18-L53
Again, should this be addressed in a new issue? Anyways, this indentation is inconsistent and rather hurts my eyes. I guess you could get away with it because it's CSS and doesn't require multiple indentation levels, but still, I feel like it should be fixed e

[2021-06-27 16:03] Accio1 commented on #255
@Shluffy it is your PR that adds this indentation issue. Feel free to make another commit to fix it.

[2021-06-27 16:04] Shluffy commented on #255
Possible Labels: `type: themes`, `type: enhancement`, `type: dev-facing`, `type: styling`, Maybe `status: needs-discussion`
Okay.
Also this should be in progress then

[2021-06-27 16:06] Accio1 commented on #255
I'm closing this because it is relating to code that hasn't been committed yet.

[2021-06-27 16:06] #255 closed

[2021-06-27 18:50] BarelySmooth commented on #163
@Accio1 bump? (so that you get notified...)

[2021-06-27 20:15] Accio1 commented on #163
@BarelySmooth feel free to submit a PR. I am interested to see how you implement your solution.

[2021-06-27 20:49] leahcimto commented on #227
PR up

[2021-06-27 21:06] #227 closed

[2021-06-28 08:26] jeffalo opened #257 "Feature Request: fuzzy search at /forumhelpers"
**Is your feature request related to a problem?**
the search bar doesn't do what you expect it to do. it would be neat if it filtered out the list of forum helpers to match your query. a neat way to do this would be fuzzy search, like [fusejs](https://fusejs.io/). you can use some JS to set `display: none;` when a user does not match the search.

**Describe alternatives you've considered**
removin

[2021-06-28 08:31] jeffalo commented on #150
the design looks fine. i've only got one minor complaint, and that's that the navbar is really big, and could probably be a bit smaller.

for example here's a social media i've been making.
![image](https://user-images.githubusercontent.com/40470736/123604983-a8948180-d7fb-11eb-855d-75d9e0946376.png)

the navbar has some padding, but it doesn't really get in the way of content.

on the other hand

[2021-06-28 08:39] jeffalo commented on #163
i'm not sure why you want to make sure the basic HTML files will continue to work. it seems like too much inconvinence for very little reward.

https://stackoverflow.com/questions/40204913/difference-between-localhost-and-opening-html-file

they explain that it's best to match your production environment (github pages). there's so many static file server plugins for many editors, it doesn't make s

[2021-06-28 09:28] LankyBox01 opened #258 "Feature Request: transitions for buttons"
**Is your feature request related to a problem?**
No. I would like a transition to the background color change when a button is being hovered on. Just a little change.
`transition: 2s;`

**Describe alternatives you've considered**
No alternatives.

**Additional context**
Please assign me.

[2021-06-28 09:29] CodeGuy92 commented on #252
~That would look cooler~ ok

[2021-06-28 09:29] #252 closed

[2021-06-28 13:37] Accio1 commented on #257
Similar to what [scratchstats.com](https://scratchstats.com/) does for their search bar?

[2021-06-28 13:44] Accio1 commented on #150
@jeffalo, currently the header is 70px high. What do you think would be a better height?

Here is it at a height of 40px
![image](https://user-images.githubusercontent.com/48496940/123646611-5f413380-d7f5-11eb-868e-fb1265719b8a.png)

[2021-06-28 15:29] jeffalo commented on #257
yeah, except searching in the curator list will hide all users who don't match the query.

[2021-06-28 15:31] jeffalo commented on #150
that looks good.  i think also, some margins on the sides of the header could help

[2021-06-28 15:31] gosoccerboy5 commented on #257
I would support an `onchange` or `oninput` event so the user doesn't have to press the button if this were implemented.

[2021-06-28 15:31] gosoccerboy5 commented on #150
feels kinda squished

[2021-06-29 01:38] Accio1 commented on #236
I'll get to work on this tomorrow.

[2021-06-29 13:29] gosoccerboy5 opened #261 "Do we need the user id?"
If we're fetching from scratchdb then we can use that to get the user id right?

[2021-06-29 13:34] Accio1 commented on #261
We currently fetch from ScratchDB to get post count. I also have it set so that there is a 1s delay between fetches so as to not spam their servers with to many consecutive requests. Therefore, it takes a while for everything to load, and loading profile pictures should (and can) be done instantly by having the user ID hard coded.

[2021-06-29 14:03] gosoccerboy5 commented on #261
wait, no. I guess the scratchdb endpoint for forums doesn't contain the user ID. I'm incredibly stupid

[2021-06-29 14:03] #261 closed

[2021-07-01 01:09] #236 closed

[2021-07-01 19:55] CodeGuy92 opened #263 "Bug: QuickReply doesn't use themes"
**Describe the bug**
QuickReply doesn't use themes. I have the scratch theme on, and it's not showing up.
https://theforumhelpers.github.io/QuickReply/

**To Reproduce**
No.

**Expected behavior**
It should be using themes.

**Browser Information**
Why do i need to enter this, it's no use.

**Additional context**
No.

[2021-07-01 19:55] Accio1 commented on #263
This is currently by design pending QuickReply overhaul.

[2021-07-01 19:55] #263 closed

[2021-07-01 19:56] Accio1 commented on #263
Also, in the future, please open issues involving QuickReply in the [QuickReply repository](https://github.com/theforumhelpers/QuickReply).

[2021-07-06 15:39] Accio1 opened #264 "Application Information Page"
**Is your feature request related to a problem?**
Yes.
Studio managers can no longer change the description of the studio. This means that any future updates to application process, grading process, etc. will not be able to be put in the studio description. Before this change, we updated the description to point to the site, meaning that users wanting to join TFH will be directed here. I think tha

[2021-07-06 15:50] BarelySmooth commented on #264
We might still be able to edit the description for a short while. But we can't guarantee that it won't end up breaking anything.

[2021-07-06 15:54] leahcimto commented on #264
I tried, it isn’t possible.

Where will other things go like pending applicants?

[2021-07-06 15:55] BarelySmooth commented on #264
Uploads take a long time to update so I guess we should wait a little. What did you try changing?

[2021-07-06 16:00] Accio1 commented on #264
@BarelySmooth That is a hacky method that surely will be patched soon.

@leahcimto As for pending applicants, I have an idea in mind but I don't want to share it just yet because I'm not sure if it's actually possible. I would recommend that we just close applications for now. Hopefully after things settle down and people have time to think of solutions, we can make a plan to go forward.

[2021-07-06 17:06] BarelySmooth commented on #264
Unfortunately, that doesn't work. Backend changes were made to prevent that (or maybe they didn't change it). There is no way we can edit the description again without the studio creator.

[2021-07-07 01:57] gosoccerboy5 commented on #264
Should we create a new page outlining the application process? The main page should have simple instructions but otherwise link to the applications page for "further information"

[2021-07-07 13:48] CodeGuy92 commented on #264
I have an idea. Let's just make a new studio where users comment their applications, and i (or someone else) can code an automatic system using the Scratch API to get the latest comments and display them in a secret admin page.
![Capture](https://user-images.githubusercontent.com/79767244/124769918-8f4dac80-df42-11eb-9745-ae54cfc40c0e.PNG)
Then, if an admin clicks reject, the application zaps. If

[2021-07-07 13:48] CodeGuy92 commented on #264
And the entire application proccess could be automated like this.

[2021-07-07 14:21] CodeGuy92 opened #265 "Feature Request: Custom bio"
**Is your feature request related to a problem?**
Yea, kinda. We should have our own dashboard or settings to modify our bio without having to do a PR.
You can use my filter to protect against profanity btw.
https://github.com/CodeGuy92/anti-profanity

**Describe alternatives you've considered**
No alternatives.

**Additional context**
You could also add the switch theme button if you add a settin

[2021-07-07 14:25] BarelySmooth commented on #264
@CodeGuy92 I don't understand how this is possible without a backend

[2021-07-07 14:28] BarelySmooth commented on #264
@Accio1 I think the third paragraph on the front page should be changed to something like this:

### I'm interested in becoming a Forum Helper! How do I apply?
We're glad that you're interested in applying! We are always on the lookout for new members! However, there are a few requirements that you must fulfill in order to be invited. You can learn more about them [here](https://theforumhelpers.gi

[2021-07-07 14:40] gosoccerboy5 commented on #264
@CodeGuy92 Fetching comments from the API alone would require some sort of CORS proxy or something, but people being able to automatically zap or accept applications would be way to difficult.

[2021-07-07 15:04] CodeGuy92 commented on #264
I can make a back-end server on repl.it. This page will only be public to website admins, not users, so i see no reason to do it on github.

[2021-07-07 15:05] CodeGuy92 commented on #264
I'm already working on this lol

[2021-07-07 15:08] gosoccerboy5 commented on #265
That codebase looks a little messy so we might wait a little for it to mature

[2021-07-07 15:12] Accio1 commented on #264
@CodeGuy92 keep in mind that even if you do work on this, there is no guarantee that it will be accepted since you haven't been assigned.

[2021-07-07 15:13] CodeGuy92 commented on #264
I know. But could you please assign me then?

[2021-07-07 15:14] BarelySmooth commented on #264
You'll need an account to invite people. Only managers can do that. But due to the new limits, new managers can't be promoted. You will need to use a script to control an existing manager account. This is not allowed on Scratch.

[2021-07-07 15:15] CodeGuy92 commented on #264
Oh, i just realized that. But that's ok. A manager could firstly accept the application on the website, and then invite the user manually.

[2021-07-07 15:17] Scratchykit-Iz-Github commented on #264
I’m considering an alternative, that being an application project. Via this method people who can’t access GitHub will be still able to apply, without parental controls issues.

[2021-07-07 15:18] CodeGuy92 commented on #264
Bro, that's the best idea ever. Maybe i could combine it with my alternative and people can submit thier applications using cloud instead of a comment.

[2021-07-07 15:19] Scratchykit-Iz-Github commented on #264
That would be nice, but what would the others think?

[2021-07-07 15:19] CodeGuy92 commented on #264
idk

Anyways, here's my mockup (that works)
[code]

[2021-07-07 15:19] gosoccerboy5 commented on #264
That's an interesting idea, considering it would be easier to control an application list

[2021-07-07 15:21] BarelySmooth commented on #264
But if we use cloud variables, it would be disallowed for the same reasons cloud chat projects are not allowed.  (sorry if I misinterpreted what you meant)

[2021-07-07 15:22] CodeGuy92 commented on #264
So, we back to commenting then?

[2021-07-07 15:22] Scratchykit-Iz-Github commented on #264
Project Comment threads could also work.

[2021-07-07 15:24] CodeGuy92 commented on #264
https://scratch.mit.edu/studios/30058522/comments
For anyone that ones to be invited to this studio, please tell me.

[2021-07-07 15:25] Scratchykit-Iz-Github commented on #264
I could, but I’m not a manager… I’m just a curator.

[2021-07-07 15:26] CodeGuy92 commented on #264
Sad :(

[2021-07-07 15:26] Scratchykit-Iz-Github commented on #264
Not really something to be sad about…

[2021-07-07 15:28] CodeGuy92 commented on #264
https://scratch.mit.edu/users/LankyBox01/#comments-149660413
This message was sent automatically, meaning the code works. yay!

[2021-07-07 15:36] CodeGuy92 commented on #264
https://scratch.mit.edu/studios/30058522/comments
These were sent automatically too, lol

[2021-07-07 15:42] CodeGuy92 commented on #264
https://scratch.mit.edu/studios/30058586/comments
Eeeee

[2021-07-07 15:57] CodeGuy92 commented on #264
![1](https://user-images.githubusercontent.com/79767244/124791856-1efc5680-df55-11eb-895b-c23a575086b9.PNG)
![2](https://user-images.githubusercontent.com/79767244/124791862-1f94ed00-df55-11eb-9e2c-31391339d772.PNG)

The comment queue works, yay :D

[2021-07-07 15:57] CodeGuy92 commented on #264
@Accio1 I've made so much progress. Could you please assign me?

[2021-07-07 16:11] Accio1 commented on #264
@CodeGuy92 using a bot account to perform social actions (eg. commenting) is not allowed on Scratch. I would suggest you disable the bot before it gets banned and you get alerted.

[2021-07-07 17:54] CodeGuy92 commented on #264
[offtopic]The last time i've spoken to a scratch team member i agreed with them that instead of alerting me, i get an instant ban.[/offtopic]

I did. Maybe instead, we can make a page where all of the applications show up, and managers can zap them like the report queue?

[2021-07-07 22:10] Shluffy commented on #265
Your Anti-profanity filter seems very sensitive. I don't think filtering something like "booty" is really needed. I think a less sensitive filter is needed for this. Also, if someone uses something that should not be used or is considered offensive, racist, sexist, etc then they can be "banned". This could be done by making a new filter

[2021-07-07 22:11] leahcimto commented on #265
Would there be a way to do this without a server?

[2021-07-07 22:15] Shluffy commented on #264
Maybe do something manual. We will have a user (eg post-tfh-apps-here) and people apply on that profile. The moderator will then manually add it to the site, and managers will check the website and post a response on a different profile (eg tfh-grading) and then that person will manually update the site to see the grading.

[2021-07-07 22:15] leahcimto commented on #264
Maybe just have the managers (assuming studio manager = admin) invite them manually and comment on their profile manually. The page you made could just be to track applications.

[2021-07-07 22:16] Shluffy commented on #264
we can also enable auto merge for these pr's and have a labeler that will label it if the files are changed

[2021-07-07 22:16] Shluffy commented on #264
sounds good

[2021-07-08 08:41] BarelySmooth commented on #264
I don't understand why this is needed. Can't we just follow the current system where someone applies on the main studio, a curator/manager posts it in Special Actions and we discuss there until we hit the reply limit (in which case we'll have to make a new thread).

This issue is for a new application page. Maybe something like theforumhelpers.github.io/apply which contains information from the ol

[2021-07-08 14:13] Accio1 commented on #264
@BarelySmooth that is exactly why I opened this issue. I agree that the application system doesn't really have to change that much, and all the website is really needed for at this point is to display application information. I will get to work on this today.

[2021-07-09 15:26] #257 closed

[2021-07-10 15:02] CodeGuy92 commented on #265
I can add a function to filter only custom words if you want.

[2021-07-11 09:18] CodeGuy92 commented on #265
That's actually genius!
Also, for the server part, i can just make a custom node,js server on repl.it and then we could insert a form in the forum helpers website to make a post request there.

[2021-07-11 15:34] leahcimto opened #268 "Forum Helpers List:"
**Describe the changes needed**
new users that commented on tfh-bios need to be added

**Additional context**

[2021-07-14 06:51] BarelySmooth commented on #268
@leahcimto can I be renamed to BarelySmooth since that is my username on Scratch?

[2021-07-14 12:46] leahcimto commented on #268
@Accio1 ^

[2021-07-14 14:25] Accio1 commented on #268
@leahcimto @BarelySmooth
Since the username was changed on Scratch, it would be okay to change on the site as well. Please make sure to also update the user ID.

[2021-07-14 15:01] BarelySmooth commented on #268
The user id had no change

[2021-07-15 19:58] #264 closed

[2021-07-16 13:30] gosoccerboy5 commented on #150
Since we added a bunch of cool themes (Scratch is my personal fav :star:), I'm inclined to say we don't have too much of a need to revamp any CSS

[2021-07-16 14:25] Accio1 opened #271 "Feature Request: Improve Privacy Policy"
**Is your feature request related to a problem?**
Recently there have been a few concerns or misconceptions about the use of Google Analytics on this site. An improved Privacy Policy could help mitigate these concerns.

**Describe alternatives you've considered**
When creating the Privacy Policy initially, I tried to keep it nice and short because I know that I don't like reading long Privacy Poli

[2021-07-16 14:48] gosoccerboy5 commented on #271
maybe a [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) element?

[2021-07-16 16:19] CodeGuy92 opened #272 "Feature Request: Bruh add an option to not collect data"
**Is your feature request related to a problem?**
Yes. Could you add an option for users to not get their data collected? I can make a PR if you assign me.

**Describe alternatives you've considered**
Why?

**Additional context**
No thanks.

[2021-07-16 16:20] CodeGuy92 commented on #271
~~Oh my god that's an actual tag?~~

@Accio1 Please assign me, i have so much experience writing privacy policies & terms of uses.

[2021-07-16 16:21] CodeGuy92 commented on #271
i can improve it and send it here too

[2021-07-16 18:04] CodeGuy92 opened #273 "Feature Request: So..."
**Is your feature request related to a problem?**
No. I was experimenting with node.js a little, and...
https://www.theforumhelpers.tk/

I somehow implemented a sign-up button to the site. It has some flaws (like, you can leave the boxes blank and they will remain like that) but i can fix them if you think that this is a good idea.

The account system actually works, and the API data is stored as

[2021-07-16 19:18] Accio1 commented on #273
We are not allowed to collect email addresses in websites shared on Scratch (although the Scratch Wiki does, which I think is an exception). I am working on something similar using PHP, and it should be ready soon. In the future, please open show and tell topics like this in the discussions tab instead of the issues tab, as it doesn't seem like you are suggesting a specific feature here.

[2021-07-16 19:18] #273 closed

[2021-07-16 20:33] Shluffy commented on #273
we could do scratch account and use something like fluffyscratch

[2021-07-16 20:59] gosoccerboy5 commented on #273
seems like overkills to me

[2021-07-17 09:17] CodeGuy92 commented on #273
I am. I am suggesting to add an account feature, but ok. We can stop collecting this extra info if you want. Also nodejs is a lot better

[2021-07-17 15:16] Accio1 commented on #273
I'm pretty sure that is a subjective opinion. Is there any official source that actually states that NodeJS is better?

[2021-07-18 00:54] Steve0Greatness commented on #272
Are you suggesting to stop using google analytics?

[2021-07-18 08:03] CodeGuy92 commented on #272
...no
I am suggesting to add an option to the user where they can decide if their data is collected or not

[2021-07-18 08:32] CodeGuy92 commented on #273
NodeJS only has npm, so you do not need to work out how the tools work and how to install one simple fricking module.
PHP blocks the process until it's entirely calculated, meaning slower load time.
NodeJS is built on javascript, meaning it's more familiar to the contributors of this project. (The project is 28.4% javascript)
If you have big codes with PHP, it will be harder to manage.
NodeJS is m

[2021-07-18 14:45] gosoccerboy5 commented on #273
<sub>did you just like your own comment</sub>

[2021-07-19 03:28] Steve0Greatness commented on #272
@CodeGuy92, what data are you saying is collected? IPs? Locations? Browsing history?

[2021-07-19 03:36] Steve0Greatness commented on #271
@CodeGuy92 where can  find one of these?

[2021-07-19 05:18] BarelySmooth commented on #272
I believe they are collected, but not shown

Yes, it is collected and shown.

There is no way a normal website could collect that.

[2021-07-19 05:32] Steve0Greatness commented on #272
All I'm asking of them is what data they think is being collected.

[2021-07-20 01:22] Steve0Greatness commented on #272
Not sure if it's possible to just stop using google analytics on some users.

[2021-07-20 06:20] BarelySmooth commented on #272
I think, yes. But like the website's privacy policy says, users wishing to opt out can just install [this extension](https://support.google.com/analytics/answer/181881), right?

[2021-07-20 06:45] Steve0Greatness commented on #272
yeah.

[2021-07-20 07:13] Steve0Greatness opened #276 "Bug: The footer isn't at the bottom of the page on the home screen"
**Describe the bug**
Not 100% sure if it is a bug, but on the homepage, for some reason on (my device at least)
![Screenshot 2021-07-17 5 57 42 PM](https://user-images.githubusercontent.com/75220768/126276929-c608dbc8-d056-43dd-a752-7cf629d0bb9e.png)
###### note: this is with the apply alert closed

**To Reproduce**
Head to the homepage, open dev tools, switch device toolbar on, and then set the d

[2021-07-20 12:55] Accio1 commented on #272
They can also just block cookies for the site, which should stop the majority of data from being collected since Google Analytics uses cookies to track site visits.

[2021-07-20 14:25] gosoccerboy5 commented on #276
Either we make a way for it to stick to the bottom, or we stretch it so it at least reaches the bottom

[2021-07-20 14:59] Steve0Greatness commented on #276
@gosoccerboy5, I think I came up with a way to do that on #266.

[2021-07-20 15:06] gosoccerboy5 commented on #276
oh, ok. However, I tried that out earlier, and it works for your problem, but it backfires by blocking a bunch of the content.
video:
<video src="https://user-images.githubusercontent.com/82768218/126347757-256b1711-99f3-41ba-9c82-89deaccd522b.mov">

The bouncing on the screen is me trying to scroll, but I can't, and the footer now blocks the rest of the content from being viewed

[2021-07-22 11:36] Quantum-Codes commented on #272
U know which city im in?!

[2021-07-22 11:57] BarelySmooth commented on #272
I think no, because your location information is **not** linked to **you**. Read [this](https://scratch.mit.edu/studios/3688309/comments/#comments-156478825).

[2021-07-23 04:09] Quantum-Codes commented on #272
That was a great comment!

[2021-07-23 04:09] Quantum-Codes commented on #272
Using incognito will block most tracking?

[2021-07-23 05:11] BarelySmooth commented on #272
No, I think it depends on the browser you are using.

[2021-07-23 05:19] Quantum-Codes commented on #272
Incognito blocks cookies right

[2021-07-23 05:20] BarelySmooth commented on #272
Yes, but that is a whole different topic (which I don't know much about)

[2021-07-23 15:43] Steve0Greatness commented on #272
kinda, it deletes all data from the incognito window, including cookies, local storage, and cashe, and browsing history. However, it will still run google analytics.

[2021-07-24 10:13] CodeGuy92 commented on #276
The best solution for the footer problem is:
`position: fixed;
bottom: 0;
`

I tested it locally and it works.

Why is there `height: 110px;` when there's `height: auto`?

[2021-07-24 10:16] CodeGuy92 commented on #272
No. Google analytics will still collect data. It's just that everything from _your_ side will be deleted, not the google analytics'

[2021-07-24 10:17] #265 closed

[2021-07-28 18:45] Steve0Greatness commented on #276
it still has the same issued

[2021-07-29 16:08] FunctionalMetatable commented on #272
also im wondering why tfh site is advertising browser extensions

[2021-07-29 17:52] CodeGuy92 commented on #271
find _what_?

[2021-07-29 17:54] CodeGuy92 commented on #276
Maybe for some devices only

[2021-07-29 19:59] CodeGuy92 opened #278 "Feature Request: Add this project in the application info page"
**Is your feature request related to a problem?**
No. I just think it would be a good idea to add this project in the application info page.
https://scratch.mit.edu/projects/556797590/

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-07-29 20:43] Shluffy commented on #278
why poop?

[2021-07-29 20:54] Steve0Greatness commented on #271
@CodeGuy92 yes.

[2021-07-29 20:58] Steve0Greatness commented on #276
@CodeGuy92, wait, are you saying that every single device that may or may not be affected by this should be checked in the code? Or do you know a better way?

[2021-07-29 22:12] gosoccerboy5 commented on #278
In my opinion the project doesn't feel very formal. Also, are you sure you can consistently keep up with the codeword? I feel like an application page is good for now, or maybe a different project..

[2021-07-29 23:09] Accio1 commented on #272
Good point. I just removed that in a commit to master.

[2021-07-30 04:56] Quantum-Codes commented on #278
Idont know the point... the website explains better.... and if you embed a light mode project in dark mode website(I have dark mode) then it looks horrible... if I was some animation showing stuff/ an application generator, then I think it would be better

**I AM NOT A PART OF TFH..  I am speaking my opinion**

[2021-07-30 13:01] FunctionalMetatable commented on #268
and also could somebody change my bio to `<marquee>wheee</small>`

[2021-07-30 14:59] CodeGuy92 commented on #272
I guess this is fixed with the new commit then. A button would be easier, but... eeehhhh

[2021-07-30 14:59] #272 closed

[2021-07-30 15:00] CodeGuy92 commented on #276
![image](https://user-images.githubusercontent.com/79767244/127672394-df5caa94-5d70-42bc-92cd-b696a9e6e258.png)

[2021-07-30 15:01] CodeGuy92 commented on #278
nvm

[2021-07-30 15:01] #278 closed

[2021-07-30 15:07] Steve0Greatness commented on #276
in no way does that answer my question.

[2021-07-30 16:06] gosoccerboy5 commented on #276
Open the developer tools and click the button that looks like that.

[2021-07-30 20:24] Shluffy commented on #272
@Accio1 I think this is fine and allowed. see griffpatch.co.uk

[2021-07-30 20:26] Accio1 commented on #272
Do they share that site on Scratch?

[2021-07-30 20:27] Steve0Greatness commented on #272
@Accio1, no, it doesn't seem like they did.

[2021-07-30 20:28] Accio1 commented on #272
Our site is shared on Scratch so it is important that it follows the rules.

[2021-08-01 11:46] CodeGuy92 commented on #271
ok I'll provide some when i get on my pc

[2021-08-01 11:48] CodeGuy92 opened #279 "No need to make a different folder for each page"
If you have github pages turned on, you can actually just delete the folders and move every page to the root folder, and you can still access it without the .html at the end. Github won't redirect it :)

[2021-08-02 07:03] CST1229 commented on #276
Or you can just zoom out.

[2021-08-02 14:46] Accio1 opened #280 "Update To New Studio"
**Is your feature request related to a problem?**
The Forum Helpers has moved to a new studio, meaning that this site needs to be updated to reflect that! I have made a checklist below of what needs to be changed and features related to this that should be added. Feel free to discuss these features or request new ones!

- [ ] Update our studio link (Both on the homepage and in the header)
- [ ] Af

[2021-08-02 14:47] Accio1 commented on #279
How would this impact local development?

[2021-08-02 14:50] Accio1 commented on #276
If no one else has a better solution, adding `min-height: calc(100vh - 305px);` to .homeContent will fix this. However, it will have to be updated if the height of the footer or header changes.

Would anyone like to be assigned?

[2021-08-02 15:27] CST1229 commented on #276
Maybe that solution but using a CSS variable for the footer height so you don't have to change it in 2 places?

[2021-08-02 17:11] Steve0Greatness commented on #276
@Accio1, yep, that seems to fix it.

[2021-08-02 17:16] leahcimto commented on #268
ok sorry i've been lazy to do this working on it now

[2021-08-03 03:54] BarelySmooth commented on #268
This is only for the new bios and not something for a Past managers section, right?

[2021-08-03 12:56] Accio1 commented on #268
Yes

[2021-08-03 15:03] CodeGuy92 commented on #279
Haven't thought of it, tough...

[2021-08-03 15:07] CodeGuy92 commented on #271
In order for me to write the privacy policy, i just need some info:

1. What info do you collect? (location data, device data, etc.)
2. Do i have the rights to delete my data?
3. Why are you collecting data and how does it help you?

[2021-08-03 16:02] gosoccerboy5 commented on #279
Making a folder for pages means:
 - the link works even with a `/` at the end of the url
 - you can add [extra files in the same folder](https://github.com/theforumhelpers/theforumhelpers.github.io/tree/master/forumhelpers) without cluttering the root folder

[2021-08-03 16:07] gosoccerboy5 opened #282 "Feature Request: .editorconfig file"
**Is your feature request related to a problem?**
Sorta. Since the repo uses tabs, and Github views the tabs as 8 spaces by default, we should add an editorconfig file similar to [this one](https://github.com/MystPi/python-calculator/blob/bddd3fe/.editorconfig). That way, we can look at the file without our eyes hurting from indentation that looks like it's 8 spaces.

**Describe alternatives you'v

[2021-08-03 16:35] CodeGuy92 commented on #280
I've got an idea. Why, instead of manually updating the members list, don't we just use a GET request to https://api.scratch.mit.edu/studios/30136012/curators?

[2021-08-03 16:47] CodeGuy92 commented on #280
Run this:
[code]
and then run this:
[code]

[2021-08-03 16:48] CST1229 commented on #280
That only gets the first 20 members since it's paginated.

[2021-08-03 16:50] CodeGuy92 commented on #280
oh well, what if we do a run on both?