[2021-08-03 16:52] CST1229 commented on #280
Both what? Managers and curators?

[2021-08-03 16:52] CodeGuy92 commented on #280
pages :)

[2021-08-03 16:55] CST1229 commented on #280
And also we can GET from the API multiple times, with increasing `?offset`s (increasing by 20) repeating until the response is `[]`.

[2021-08-03 16:55] CST1229 commented on #280
Then for each response we store them in the array and iterate through each item of each response to add the members.

[2021-08-03 16:57] CodeGuy92 commented on #280
ok all needed is now to get assigned

[2021-08-03 17:09] Accio1 commented on #280
1. Making API requests to Scratch requires a CORS Proxy.
2. I don't want to spam Scratch's servers by making multiple requests each time someone loads the page.

[2021-08-03 18:32] gosoccerboy5 commented on #280
sigh. that would be blocked because they're not the same url

[2021-08-04 13:50] CodeGuy92 commented on #280
oh

[2021-08-04 13:51] #279 closed

[2021-08-04 22:23] Shluffy opened #285 "Feature Request: Change Codeword By Button"
**Is your feature request related to a problem?**
Have managers able to change codeword without having to use

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-08-04 22:23] Shluffy commented on #285
Can I do this?

[2021-08-04 22:24] Accio1 commented on #285
This is in the works behind the scenes. Stay tuned! :)

[2021-08-04 22:24] #285 closed

[2021-08-05 13:57] jeffalo commented on #280
I don't want to spam Scratch's servers by making multiple requests each time someone loads the page.

how about a github actions workflow to automatically create the curator list?

[2021-08-07 18:55] FunctionalMetatable commented on #280
pretty easy thing to do, i could do this if you guys allowed me to

[2021-08-10 05:45] Steve0Greatness opened #286 "Feature Request: Merge QuickReply Style Sheet into this."
**Is your feature request related to a problem?**
Sorta. It will just make developing _themes for QuickReply_(see 38, in the QuickReply repo, or go to https://quickreply.stevesgreatness.repl.co) easier.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
No addition context should really be needed.

[2021-08-12 22:01] Accio1 commented on #282
@gosoccerboy5 If you want to implement this, go ahead.

[2021-08-12 22:01] Accio1 commented on #268
Resolved in #281

[2021-08-12 22:01] #268 closed

[2021-08-12 22:33] Shluffy opened #288 "Documentation: Forum Helpers List Megathread"
**What does this affect?**
issues

**Changes/Additions**
a pinned tfh list megathread

[2021-08-12 22:45] Accio1 commented on #288
What?

[2021-08-13 17:50] CodeGuy92 commented on #273
yes, and i did it again

[2021-08-13 19:29] Shluffy commented on #288
exactky

[2021-08-13 19:33] Accio1 commented on #288
Individual issues keep things more organised because then a PR to update the Forum Helpers list can resolve the entire issue, and it is easy to see what changes have been made and which ones haven't.

[2021-08-16 15:15] gosoccerboy5 opened #290 "Make CONTRIBUTING.md more visible"
I didn't even know we had the file on the repo until just now. We should at least mention it in the README or issue templates to get the most out of it, or else it's not that helpful to us if we want certain standards.

[2021-08-17 01:20] Accio1 commented on #290
This is a good idea. As you mentioned, we can't expect people to read the file if they don't know it exists. I think adding it to the README is a good idea, and potentially also the PR Template?

[2021-08-17 01:21] Accio1 commented on #276
@Steve0Greatness would you like to submit a PR?

[2021-08-17 01:32] Accio1 commented on #258
2s is too long. Something along the lines of 0.5 seconds would be better. Feel free to work on this @CodeGuy92

[2021-08-17 01:36] #201 closed

[2021-08-17 01:47] gosoccerboy5 commented on #258
Hmm, what about a CSS variable for hover transitions?
We could add (or add on to) a CSS rule for `:root`, add a variable like `--hover-transition`, and use that variable in both button hover and link hover.

That, or we could add a specific rule for both links and buttons
[code]

That way, we can update both at the same time and maintain consistency.

[2021-08-17 01:49] Accio1 commented on #121
@FunctionalMetatable is this still something you are interested in implementing?

[2021-08-17 10:03] CodeGuy92 commented on #258
o i got assigned ok ill work

[2021-08-17 19:54] Steve0Greatness commented on #276
@Accio1, sure. Can you assign me?

[2021-08-17 20:10] #290 closed

[2021-08-17 22:19] Accio1 commented on #276
Resolved by #292

[2021-08-17 22:19] #276 closed

[2021-08-25 00:12] Accio1 opened #297 "TFH Dashboard Down for Maintenance"
TFH Dashboard is down for maintenance

Reason(s):
- Creating a testing database for local development that will not impact the production database.
- Rewriting some parts to make it easier for others to contribute.
- Moving some things around in my own local filesystem to make it easier for me to develop this going forward.

Impact:
- Visiting any part of the dashboard will result in a maintenance

[2021-08-25 01:22] gosoccerboy5 commented on #297
when will it be open-sourced, if at all?

[2021-08-25 01:26] Accio1 commented on #297
@gosoccerboy5 eventually. I don't have a set date yet but it will probably be some time after the next major update is released, which will include curators being able to sign in as well.

[2021-08-25 01:27] gosoccerboy5 commented on #297
alright. I would love to see what goes on behind the scenes.

[2021-08-25 01:31] Accio1 commented on #297
It is a big mishmash with little to no documentation (part of the reason why I haven't released it - it is very unorganized). The single dependency it has took me around a day to set up on my Raspberry Pi, which is where I have done the majority of work on it.

[2021-08-25 02:42] gosoccerboy5 commented on #297
wait, so the server is a raspberry pi?

[2021-08-25 02:49] Accio1 commented on #297
No. I coded it on a Raspberry Pi because I like Linux better than Windows for coding.

[2021-08-29 21:58] leahcimto commented on #280
The site should also be updated accordingly with the new thumbnail.

[2021-09-02 14:09] #258 closed

[2021-09-02 14:12] gosoccerboy5 commented on #297
@Accio1 don't mean to be bothersome but would it be possible to post at least a mirror of TFH Dashboard's source code? maybe in github gists?

[2021-09-08 01:33] gosoccerboy5 commented on #297
Ok, neat.

[2021-09-17 17:46] FunctionalMetatable commented on #163
I'll like to note that filesystems shouldn't support 404.html files. Also, can I be assigned?

[2021-09-17 18:51] Accio1 commented on #163
@FunctionalMetatable I've assigned you. Feel free to build off @BarelySmooth's code in #260

[2021-09-17 19:53] CST1229 commented on #163
There's also some static file servers that don't depend on a code editor, like http-server for node.js. All you need is 2 commands (plus an extra install if you don't have node.js already, minus one command if you have http-server installed already) to get a server up and running.

[2021-09-18 07:04] FunctionalMetatable commented on #163
Oops, i dont know much about this 404.html relative files so i probably shouldnt do this (Sorry @accio1)

[2021-09-23 13:29] Secret-chest opened #298 "Better styling."
I would like to make the website look better. Some ideas:
* Change all fonts to Roboto or something
* Add a shadow to the navigation menu and make it fixed
* Remove the various themes (light, dark, scratch, terminal) and replace them with only light and dark
* Cleaner background (use white instead of light blue)
* Make links some cyan color, #0000ff looks awful
* Vectorize the logo

[2021-09-23 13:44] Secret-chest commented on #298
@Accio1 Could you please assign me?

[2021-09-24 01:19] Steve0Greatness commented on #298
I'm not a fan.

1. Arial is fine, as they say, "if it ain't broke, don't fix it"
2. I'm not a mobile user, so I really can't comment on this.
3. Why? They look awesome!
4. That's... awful... why do people think white looks "cleaner"
5. Blue isn't that bad, and doing both that and the white background makes the links blend into the background when hovered over in light mode.
6. But it'll look exact

[2021-09-24 05:55] Secret-chest commented on #298
Arial is not available on Linux and looks unprofessional.

I promise it'll be better like this.

Ok, fine, but I don't understand why should we have such themes.

Because it is cleaner. The text color will be #212121 so it dosen't have too much contrast.

#0000ff looks outdated
The hover color can be something different from a lighter version of the color.

Oh ok.

[2021-09-29 22:48] DawnRooney27 commented on #149
I support! And when you click the project, it show an embed of the project.

[2021-10-11 02:30] Dhuls-Scratch commented on #298
1. We can just upload a ttf file or something for Arial. the [CSS font-face](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face) exists for this purpose.
2. No opinion
3. Why should we remove them? For the sake of removing them? Some people might like the themes
4. Light blue matches the studios
5. No, it doesn't
6. The logo needs to be updated entirely, so this is pointless

[2021-10-19 10:51] Secret-chest commented on #298
Arial looks awful still. It's unproffesional

[2021-10-19 21:18] Dhuls-Scratch commented on #298
I'm a Windows user, so i copies of a few fonts
[Untitled document (1).pdf](https://github.com/theforumhelpers/theforumhelpers.github.io/files/7376710/Untitled.document.1.pdf)
A few sans-serif fonts. Which one should we use, since Arial is too unprofessional.

[2021-10-20 05:35] Secret-chest commented on #298
They are copyrighted still. We should use Roboto, Lato, Source Sans Pro or something open source.

[2021-10-21 01:49] Accio1 opened #299 "Bug: Codeword and application status doesn't load right away"
**Describe the bug**
On the application instructions page, the codeword and application status doesn't load right away. This is because TFH Dashboard is hosted on Heroku and it goes to sleep if it hasn't been accessed recently. This means that the page can't display the codeword and application status until TFH Dashboard wakes up and the main site is able to receive a response from the API. This c

[2021-10-21 13:36] gosoccerboy5 commented on #299
I hate to be pushy and off-topic, but any plans for open sourcing or at least posting the source of TFH Dashboard?

[2021-10-21 14:14] gosoccerboy5 commented on #299
Oh. Sorry to bother you.

[2021-11-29 21:21] leahcimto commented on #299
In the meantime, it might be helpful to add something along the lines of "Loading, please wait" to the places that are blank while loading.

[2021-11-29 21:25] leahcimto opened #300 "Forum Helpers List: Bios need updating"
**Describe the changes needed**
Users that have requested on the TFH-Bios Scratch account need bio updates, and new forum helpers need to be added.

**Additional context**
I am marking this as good first issue. If anyone wants to implement this, feel free to ask.

[2021-12-04 22:59] leahcimto commented on #300
I'm going to implement this now.

[2021-12-04 23:33] leahcimto commented on #300
Nevermind, as stated in #280, the bio list should be frozen, and a new one needs to be created with the new studio.

[2021-12-04 23:33] #300 closed

[2021-12-06 22:48] leahcimto commented on #299
I think the dashboard might be down right now

[2021-12-06 23:39] Accio1 commented on #299
It's up for me. What is making you think that it is down?

[2021-12-10 21:28] leahcimto commented on #299
It was a blank page that was taking a long time to load and the codeword on the website wasn't showing.

[2021-12-10 21:28] leahcimto opened #302 "Move all members currently on the List of Forum Helpers page to another page (Past Members)."
The forum helpers list page needs to be moved to another json file and a new files need to be created.

I will implement this ASAP.

Two new files will be created, pastmanagers.json and pastcurators.json and will be displayed on another page (this issue is just for making the files, not the new page)

The managers.json and curators.json files will have a `original: false` or `original: true` which

[2021-12-10 21:31] leahcimto commented on #302
Because of this new users can't be added, so it needs to be implemented ASAP.

Users that were in the original forum helpers will have the same bios unless a new one was requested.

[2021-12-11 00:57] Accio1 commented on #299
It might have been an issue with Heroku.

[2021-12-11 00:59] Accio1 commented on #302
@leahcimto feel free to work on this. It will also make populating the dashboard with current members a lot easier.

[2021-12-24 10:18] webdev03 commented on #121
I could try to implement this if you would like.

[2021-12-25 02:08] webdev03 commented on #121
@Accio1 Can I please be assigned?

[2021-12-25 17:52] FunctionalMetatable commented on #121
When you think about it, it may take a long time to be assigned as Accio hasn't been active for 2 months now

[2021-12-27 14:50] leahcimto commented on #302
Sorry this is taking so long, I hope to have it done soon.

[2021-12-28 14:07] leahcimto commented on #121
@webdev03 I think that this might be a feature that needs a little more discussion before implementing it, including why it's useful, and the steps we plan taking to implement it.

[2021-12-28 16:14] LankyBox01 commented on #271
^

[2021-12-31 14:04] leahcimto commented on #302
I've finished the new managers file.

[2021-12-31 22:03] leahcimto commented on #302
@Accio1 A user in the studio has an account that is deleted, but it still shows in the studio because of the new update. Should I add them to the list?

[2022-01-10 21:14] webdev03 opened #304 "Google Analytics link when declining analytics"
**What does this affect?**
privacy policy and notice

**Changes/Additions**
originally posted at https://scratch.mit.edu/studios/30136012/comments/#comments-171455099
Your website which alerts the user to Google Analytics, when you press "Leave Site" it takes you to scratch, which (fun fact) has Google Analytics, so instead make it `window.history.back()` or `about:blank`.

[2022-01-10 23:20] gosoccerboy5 commented on #304
Anyone interested in TFH is probably from Scratch, so this wouldn't make much of a difference.
`window.history.back()` might not work if they don't have browser history for that tab (for example, if they command+clicked a link to get here).

maybe a tooltip?

[2022-01-11 00:04] webdev03 commented on #304
Your button to return isn't an anchor tag and so you can't see that you are going to Scratch.

[2022-01-11 00:05] webdev03 commented on #304
[code]
this works

[2022-01-11 02:11] gosoccerboy5 commented on #304
i think that force redirects to about:blank even if you have history for that atb

[2022-01-11 02:17] gosoccerboy5 commented on #304
[code]
maybe?

[2022-01-11 02:54] Chiroyce1 commented on #304
@gosoccerboy5 `document.referrer` doesn't seem to work very well. In most cases people visit the TFH site from Scratch, I tried doing that and it returns blank...

https://user-images.githubusercontent.com/97374054/148873163-d9cf1111-064e-4582-ae47-c56ec131e411.mov

[2022-01-11 03:10] gosoccerboy5 commented on #304
oh :/ i didnt read the mdn page fully 😕

[2022-01-11 03:10] gosoccerboy5 commented on #304
oh wait i just realized u have a github account now

[2022-01-13 16:30] derter-menter opened #305 "Forum Helpers List: Changes"
**Describe the changes needed**
Some users need to be added to the page. This includes @rayli1123, @god286, @TheGlassPenguin, @prime689, @b1048546, @exphire, @helloworldbyeworld and @mrcreatorlugi

@chiryoce and @maximouse should be moved to the manager section

[2022-01-13 16:31] derter-menter commented on #305
Feel free to assign this to me

[2022-01-15 07:44] Chiroyce1 commented on #304
`about:home` in Firefox takes you to the homepage, but you aren't allowed to use it in JavaScript

<img width="578" alt="image" src="https://user-images.githubusercontent.com/97374054/149614044-1e7158a0-6883-4368-bf1a-bfe88e9ab301.png">

is it the same for Chrome?

[2022-01-15 07:49] Chiroyce1 commented on #305
I'll make a Python Script to make it easier, so we don't have to manually add the names to the JSON files.

[2022-01-15 08:11] webdev03 commented on #304
`window.location.replace('about:blank')` is the easiest solution

[2022-01-15 08:44] Chiroyce1 commented on #304
That'll make people scared - wondering why their entire browser screen went black/white without an address in the URL bar...

[2022-01-15 16:29] leahcimto commented on #305
Duplicate of #302

[2022-01-15 16:31] #305 closed

[2022-01-17 19:08] leahcimto opened #306 "Feature Request: Opt Out of Google Analytics option"
**Is your feature request related to a problem?**
Not really, however some users have shown concerns for the use of Google Analytics on this website. This suggestion is a way to opt out of it.

**Describe alternatives you've considered**
I can't really think of any.

**Additional context**
None

[2022-01-19 23:54] gosoccerboy5 commented on #306
cookies? localstorage? how would this option be stored

[2022-01-21 00:37] leahcimto commented on #306
I think localstorage would be best

[2022-01-22 17:10] leahcimto commented on #299
A way to fix this might be having a pinger ping the site on a schedule. I know this works with replit.

[2022-02-25 02:24] #288 closed

[2022-03-02 23:06] webdev03 commented on #304
Or just remove the `Leave Site` button and replace it with "by continuing to use the site you agree to have your data sold by google" or something like that

[2022-03-16 23:17] leahcimto opened #308 "Bug: Typo in theme switcher button"
**Describe the bug**

<img width="292" alt="Screen Shot 2022-03-16 at 6 58 37 PM" src="https://user-images.githubusercontent.com/68165163/158704923-2b7bc383-27ac-44a9-bec8-33604dab21c4.png">
In this text, "Scratch" is not capitalized. It should be because Scratch is a proper noun in this context.

**To Reproduce**
Change theme to Scratch, then look at the theme switcher button.

**Expected behavio

[2022-03-23 15:06] Chiroyce1 opened #309 "Feature Request: Bulit-in form for applications"
So right now we're only providing instructions to the user to make their own application, but we could have a form built-in to the website that makes an application that they can copy and paste into the studio, here's a mock-up

<img width="875" alt="image" src="https://user-images.githubusercontent.com/97374054/159730361-4ac4e6fc-d927-4227-90b2-00973ea9bf26.png">

And it would generate a string o

[2022-03-23 17:42] leahcimto commented on #309
If this was implemented I would be opposed to having a code word section because it causes the user to look back at the page searching for a code word. Maybe the application page could tell the user to include the code word in an “Additional Information” section, because the point of the code word is to see if the user read the full page, not read how to apply and then quickly looked back for a co

[2022-03-24 02:43] gosoccerboy5 commented on #309
This sounds like it could solve some issues with applications not being filled out properly, but if leahcimto's idea was added then it wouldn't solve the problem with users not adding codewords. Which can be inconvenient, but probably for the best

[2022-03-24 08:15] Chiroyce1 commented on #309
I agree that the code word shouldn't be included, so the user has to manually post the codeword along with the application.

Yeah, and it can automatically reject users with less than 500 posts (it can use the fetch API to get their post count via ScratchDB) and also not allow users to select unconstructive subforums for their application.

[2022-03-24 08:20] Chiroyce1 commented on #309
Oh and we could also check each and every post to make sure it isn't on an unconstructive subforum, and we could remove the recent post textbox since we can use ScratchDB for that (it would be 100% accurate if their latest post was made at least 5 minutes before they apply)

[2022-03-26 14:55] Chiroyce1 commented on #299
Yeah, I can implement one with very little downtime. I've been testing out always on repls with a non-paid account and it works really well (with only few minutes of downtime in 24-30 hours)... so an HTTP get request would be good as a ping to the server, right?

[2022-03-26 22:10] leahcimto commented on #299
Yes, I'm pretty sure that would keep the site up. To keep my repls up, instead of having my repl ping itself, I use https://uptimerobot.com/. It works really well.

[2022-03-27 00:40] Mbrick2 commented on #309
**Suggestion**
Instead of a copy-paste thing it could send it to a GitHub bot which could open a issue in a repo for it.
**Issues I've found**
Not everyone has a GitHub account to reply. This would also be hard to add

[2022-03-27 04:21] Chiroyce1 commented on #309
@Mbrick2 that wouldn't work well - remember that we need some way to know that the user is actually the one posting it. So we could use FluffyScratch to authenticate the user and then implement your idea, but GitHub pages doesn't have a back-end service so that wouldn't work... and the only way to identify the user correctly is by asking themselves to post a comment on the studio, this way we can

[2022-03-27 04:26] Chiroyce1 commented on #299
@leahcimto should I implement it or are you going to be doing it?

[2022-03-27 13:17] leahcimto commented on #299
@Chiroyce1 It depends if we are implementing an external pinger or having the dashboard ping itself. If we go forward with the latter, this could be implemented in the next dashboard update. Or we could go ahead with an external pinger.
@Accio1, thoughts?

[2022-03-27 13:18] leahcimto commented on #309
@Mbrick2 Also, discussion should take place in the studio, not on Github.

[2022-03-27 13:28] leahcimto opened #310 "Theme Suggestion: Default Light Theme should be updated to new studio color scheme"
### Theme Title
It is currently called light.

### Colours

**Needs Discussion**
--primary:

--secondary: #7c84ba

--secondaryHover: #485189

--textPrimary: #e6e7ec

--textSecondary:

--linkHover:

--searchBar:

--saturation:

--tertiary:

--tertiaryHover:

--textTertiary:

### Additional context

This theme is inspired by the new thumbnail.

[2022-03-27 15:54] leahcimto commented on #280
@Accio1 this is a main priority right now, correct?

[2022-04-11 03:30] Steve0Greatness commented on #308
All elements in the array could be an object.
`{ name: "scratch", display: "Scratch" }`
But this likely isn't the best solution.

[2022-04-12 19:11] qloakongithub commented on #309
Couldn't we technically just make a bot that comments in SA when somebody applies?

[2022-04-12 19:15] BarelySmooth commented on #309
That is against ToS

[2022-04-13 11:13] qloakongithub commented on #309
Can you please link that?

[2022-04-13 11:31] BarelySmooth commented on #309
I just checked again and the ToS does not explicitly disallow bots. But multiple Scratch team members have said that bots are not allowed on the website.

[2022-04-13 11:33] qloakongithub commented on #309
Those state bots that do social actions and spam, and stuff relating to that variety. A bot that comments rarely unless there's a storm of people applying isn't any of those.

[2022-04-13 11:35] scratchcat commented on #309
Hello. I don't know how or why I got added to this thread, but I shouldn't be here. I have tried to unsubscribe but with no luck. Can you please remove me from this thread. Thanks.

[2022-04-13 11:58] Chiroyce1 commented on #309
Still, it has been stated that they would still be banned, even if they don't spam.

[2022-04-13 19:50] Accio1 commented on #309
Sorry about that. It looks like someone had @'ed you in the original comment when they meant to refer to the Scratch Cat character on the scratch.mit.edu coding site. I've edited their post to remove their @.

[2022-04-13 20:17] leahcimto commented on #309
@Chiroyce1 In the future best to not comment with an at-symbol in front of a word/scratch username because it sends an email to the github user.

[2022-04-13 21:37] Steve0Greatness commented on #308
Could I be assigned?

[2022-04-19 09:32] Mbrick2 commented on #299
Maybe just lag the whole thing till it comes.

[2022-04-21 01:51] gosoccerboy5 commented on #299
That sounds like a pretty bad UX.

Perhaps, have a placeholder saying `{Loading...}` for the codeword until you can get it to load. Not pretty, but it would work.
However, this problem doesn't seem too bad, as I can't instantly locate the codeword and application status anyway, so I doubt users will notice this little 'error'.

[2022-04-23 20:29] Steve0Greatness commented on #306
Yeah, Cookies are hard to work with in browser JS.

[2022-04-23 20:35] Steve0Greatness commented on #304
I'd just like to clarify this to you: Google does not "sell" you data. They keep it to themselves, selling it to other ad agencies would defeat their entire way of making money.
Also, when using Google analytics, Google gives the site's admin the ability to disable Google tracking their users. However, there's no way to prove if they are actually turning it off.

[2022-04-24 00:05] leahcimto commented on #299
If we made a pinger, it could be as simple as a GitHub action running every 10 minutes. https://github.com/leahcimto/randomJokeAPI/blob/main/.github/workflows/ping.yml

Loading placeholder text could be a temporary fix I guess.

[2022-04-24 00:18] webdev03 commented on #304
I was joking! Sorry. (You can mark this as offtopic)

[2022-04-24 11:56] CST1229 commented on #299
Or using uptimerobot or another pinger.

[2022-04-30 13:14] leahcimto commented on #299
e2f3028 adds loading messages to where it is blank, thoughts?

[2022-04-30 14:46] Chiroyce1 commented on #299
I'd say hide the entire sentence until the codeword loads, this way people won't think `[Loading, please wait...]` is the codeword. You could change the `display` CSS property to hide the sentence at first, and then after it loads, show it.

[2022-05-08 18:31] Shluffy commented on #306
I believe this would have to be done on their side. I believe that an admin of an organization can turn it off for everyone, so this may be possible on the visitor's side. Not sure what we could do here, other then just removing it.

[2022-05-08 19:59] Weredime commented on #306
what the heck are you talking about

[2022-05-08 20:05] Weredime commented on #306
To be honest when you press the leave site button you are redirected to scratch.mit.edu which also has google analytics lol

[2022-05-08 22:13] leahcimto commented on #306
I don't really understand your comment, could you elaborate on what you mean?

[2022-05-08 22:14] leahcimto commented on #306
#304

[2022-05-09 21:51] Shluffy commented on #306
To explain here, I believe in a google organization (like a school or buisness) the organizations admins can turn off google analytics for the entire organization. It may be possible to do without an organization, I am not sure tho. The other option if this doesn't work would be to plain remove it.

[2022-05-09 21:52] Shluffy commented on #306
Would a vpn work to block google analytics?

[2022-05-10 06:13] Weredime commented on #306
Nope, the script still runs.

Probably better to use an extension for blocking analytics

[2022-05-15 17:59] Shluffy opened #314 "Forum Helpers List: I would like to change my bio"
**Describe the changes needed**
Please change it to "Hi! I am dogsmakemehappy, also known as Shluffy or ShluffyMonster on other sites. I am currently inactive and I work on modding minecraft Java Edition"
**Additional context**
I can make the change

[2022-05-16 00:51] leahcimto commented on #314
This will be added to the current pull request.

[2022-05-16 00:51] #314 closed

[2022-06-26 00:53] leahcimto opened #316 "deleted"
I thought I could delete issues... anyways deleted

[2022-06-26 01:01] #316 closed

[2022-07-16 22:35] leahcimto commented on #309
I've asked @Chiroyce1 if he wants to work on this.

[2022-07-16 22:40] leahcimto commented on #308
To be honest this really isn't that big of a deal and the solutions will be overly complex, so I will close this.

[2022-07-16 22:40] #308 closed

[2022-07-16 22:51] Accio1 commented on #309
For now, if someone is working on this, feel free to just create an unstyled/minimally styled version as we can work out the styling after the page is actually set up.

[2022-07-17 00:05] Accio1 opened #319 "Update TFH header icon, and what should it be?"
### Discussed in https://github.com/theforumhelpers/theforumhelpers.github.io/discussions/318

<div type='discussions-op-text'>

<sup>Originally posted by **penguinmoose** July 16, 2022</sup>
On the TFH website, the header icon is still from the old studio. I think it would be nice if we update the icon to something like the current (new studio) thumbnail.

Since the text in the studio thumbnail i

[2022-07-17 00:13] penguinmoose commented on #319
Ok thanks for making it for me (I'm still kinda new to this stuff)

[2022-07-17 00:14] leahcimto commented on #319
Slightly related to #310

[2022-07-17 00:20] penguinmoose commented on #319
Right. I was also going to say that we should update the theme too.

[2022-07-17 00:25] penguinmoose commented on #310
Maybe linkHover should be #4a5185 ('Helpers' background?)

[2022-07-17 00:29] Accio1 commented on #310
I agree that it should be updated to the new style, but the old style should be kept as a theme (probably called "old") so that people can use it if they want.

[2022-07-17 00:30] penguinmoose commented on #310
Agree. We don't have to (and shouldn't) delete the old one, so we'll just make a new theme.

[2022-07-17 00:31] leahcimto commented on #310
that would be cool.

[2022-07-17 00:32] Accio1 commented on #310
Using some fancy JS/CSS, it might also be possible to switch the header icon based on theme, so the old theme can have the old icon. Or would we prefer that the header icon just remains the same regardless of theme?

[2022-07-17 00:33] leahcimto commented on #310
Changing the icon would be cool too when switched to old mode, nostalgia you know?

[2022-07-17 01:04] penguinmoose commented on #310
The easiest way would be to use JS (based on my experience). Whenever the user selects either theme, use JS to change the src attribute of the icon (at least I think that works).

[2022-07-17 01:05] penguinmoose commented on #310
It wouldn't be super important to make the icon update based on the theme, though it would look cool if it does.

[2022-07-17 01:07] penguinmoose commented on #310
Having the old studio theme reminds me of "old timey mode" in april fools 2022

[2022-07-17 01:34] penguinmoose commented on #309
@Chiroyce1

I think we shouldn't check if they post in an unconstructive forum because to have some posts in unconstructive forums is perfectly fine in my opinion, as long as they have more posts in constructive ones.

[2022-07-17 01:37] penguinmoose commented on #309
I feel like this isn't strictly needed, but it would be nice (it makes it more convenient).

[2022-07-17 05:00] Chiroyce1 commented on #309
Yeah, I can work on a proof of concept and get it ready by 20th July, sounds good?

[2022-07-17 11:51] penguinmoose commented on #300
I think adding new forum helpers is pretty important right now. Not everyone can access the dashboard right now.

[2022-07-17 12:32] leahcimto commented on #300
See #303, I've been updating the list and it will be pushed soon.

[2022-07-17 14:09] leahcimto commented on #309
@Chiroyce1 Yep, sounds good!

[2022-07-17 15:39] leahcimto commented on #306
Closing as GA will be removed in the next update.

[2022-07-17 15:39] #306 closed

[2022-07-17 15:41] leahcimto commented on #302
Blocked pending dashboard update.

[2022-07-17 21:46] penguinmoose commented on #309
When we put it on the website, where should it go? I'm thinking there should be a dropdown at the bottom of the application instructions in which you can show/hide the application generator.

[2022-07-17 22:03] Accio1 opened #322 "Change the font of header text "The Forum Helpers" (just right of the icon)?"
### Discussed in https://github.com/theforumhelpers/theforumhelpers.github.io/discussions/321

<div type='discussions-op-text'>

<sup>Originally posted by **penguinmoose** July 17, 2022</sup>
I feel like the title ("The Forum Helpers") in the header's font is a bit odd. It looks different than the normal body text. It seems a bit too thin and I think it would look better if we change the font to s

[2022-07-17 22:11] Accio1 opened #324 "TFH Dashboard Down for Maintenance 17/7/22"
TFH Dashboard is down for maintenance starting July 17th 2022 at 6:10 PM EST.

Reason(s):
- Adding the ability for curators to log in
- Converting the list of Forum Helpers from a JSON file to a database
    - This also includes the feature of being able to change your bio
- Adding a few new api endpoints

Impact:
- Visiting any part of the dashboard will result in a maintenance page.
- Applicatio

[2022-07-17 22:55] #302 closed

[2022-07-18 00:40] leahcimto commented on #322
For reference the font is currently Montserrat.

[2022-07-18 01:23] gosoccerboy5 commented on #319
Set border-radius to 10px. Not bad, but the text is proportionally a little too small in the image.
![Screen Shot 2022-07-17 at 8 21 47 PM](https://user-images.githubusercontent.com/82768218/179433297-8d51ba50-1f53-4b4b-a765-945bf51bc930.png)

[2022-07-18 01:23] gosoccerboy5 commented on #319
doesn't really match the site's theme tho.

[2022-07-18 01:29] Accio1 commented on #319
I think it would be good to do a condensed version of the thumbnail similar to the one that we have now, which took the old thumbnail and focused on only a few elements of it in order to make it smaller but recognizable.

[2022-07-18 01:32] Accio1 commented on #319
For reference, these are the colours in the thumbnail:

Far Left Pea Green - #d8d934
Middle Orange - #fc9745
Right Yellow - #ffcd5d
Far Right Blue - #46a3ff
Top Speech Bubble - #7c84ba
Bottom Speech Bubble - #485189
Text - #f2f2f2

[2022-07-18 01:32] gosoccerboy5 commented on #319
If you need any JS help I might be able to chip in

[2022-07-18 01:53] Accio1 commented on #319
How about something like this?
![TFHLogo1](https://user-images.githubusercontent.com/48496940/179434899-ed9b58d8-f67a-44f0-95a5-89dcc17c31f9.png)
Or this:
![TFHLogo2](https://user-images.githubusercontent.com/48496940/179434902-32f98574-28f0-4e8f-af72-093de70eb8e9.png)

[2022-07-18 01:57] gosoccerboy5 commented on #319
![Screen Shot 2022-07-17 at 8 56 20 PM](https://user-images.githubusercontent.com/82768218/179435091-b8f21a32-68e9-4348-be6c-322d1e96661c.png)
![Screen Shot 2022-07-17 at 8 56 41 PM](https://user-images.githubusercontent.com/82768218/179435116-76bdc1a9-8db0-42da-bb08-b362222c809b.png)

[2022-07-18 02:01] Accio1 commented on #319
In #310 we're discussing updating the site's light theme in order to match the theme colours of the current thumbnail.

[2022-07-18 02:02] gosoccerboy5 commented on #319
cool.

[2022-07-18 02:06] Accio1 commented on #310
This is how it looks with the two colours from the thumbnail speech bubbles as primary and secondary colours. I'm not sure if I like it.
![image](https://user-images.githubusercontent.com/48496940/179435611-79f8a91c-71de-49a2-ab99-d31c83ea30d9.png)

[2022-07-18 03:29] Accio1 commented on #298
I think it is pretty agreed upon that this might be unnecessary, especially since we are planning to redo the site's colours in #310.

@Secret-chest If you want to come up with mockups or sample code for your ideas, feel free as that might give people a better understanding of why these style changes are being requested. In the meantime though, I'm going to close this issue as it has gone stale. I

[2022-07-18 03:30] #298 closed

[2022-07-18 03:42] Accio1 commented on #286
QuickReply is being discontinued, see #325

[2022-07-18 03:42] #286 closed

[2022-07-18 18:36] penguinmoose commented on #310
100% agree. It doesn't feel like the thumbnail at all. Maybe primary would be F8CEF7 and secondary would be EE9D56, using the orangish colors?

[2022-07-18 18:59] penguinmoose commented on #310
Wait, what if we make the background a light(er) version of the background of the thumbnail? In other words, I think it would look nice if we make the background the thumbnail without the text with much lighter colors.

[2022-07-18 19:01] penguinmoose commented on #319
I love the second one @Accio1 listed too. We'll round the corners. I think that is the best option.

[2022-07-18 19:09] leahcimto commented on #310
I was thinking that could be possible too, maybe even blurred? I don't know how the text would look on that though.

[2022-07-18 19:40] penguinmoose commented on #310
I thought I said we would remove the text should we set the background to a really light version of the thumbnail.

Blurring might look nice, though I would not say for sure that it would be benificial and look good, because without the text, it is simply a geometric background.

Also, I think we need to make the background thumbnail thing lighter than the actual thumbnail because using the thumbn

[2022-07-18 19:46] penguinmoose commented on #324
Will this update also add new users so the newest managers can use the dashboard?

[2022-07-18 19:47] Accio1 commented on #310
A desaturated version of the thumbnail as the background could be cool. Does anyone want to create a mockup? My concern would be how to do this on longer pages such as the list of Forum Helpers.

[2022-07-18 19:56] leahcimto commented on #324
Yes, it will.

[2022-07-18 19:58] MaterArc commented on #324
This seems like a pretty cool update!

[2022-07-18 20:18] penguinmoose commented on #310
Something like this?

![TFH](https://user-images.githubusercontent.com/67451414/179608966-3b80d526-137c-46cf-93ac-c67421a0ccfb.png)

I'm thinking we can just make the background not move while scrolling. It should work fine even on really long pages.

[2022-07-18 20:24] leahcimto commented on #310
I think that's a good idea and it looks cool. We would need to remember to credit the thumbnail artist on the credits page as well.

[2022-07-18 20:41] penguinmoose commented on #310
@Accio1 @leahcimto

## Mockups

We need to decide how to fit the image. We really don't want the image to tile. Tiling looks very odd and unprofessional. Not what we want.

### If we scale

We don't want the background to tile, so we need to choose some other way to fit it. If we make it scale (`background-size: 100% 100%`):

<img width="1000" alt="Screen Shot 2022-07-18 at 1 25 19 PM" src="https:

[2022-07-18 20:42] penguinmoose commented on #310
Also, we should make it even lighter, judging from my mockups.

[2022-07-18 22:12] Accio1 commented on #324
Yep, that's fine.

[2022-07-18 22:13] Accio1 commented on #324
Downtime is over! See #329 for more information!

[2022-07-18 22:13] #324 closed

[2022-07-19 10:29] BarelySmooth commented on #319
The header icon would also be the favicon, so it shouldn't have a lot of text on it. (FH or TFH would be fine, like the current one does).

This is how it would look (on Chrome)
<img width="617" alt="image" src="https://user-images.githubusercontent.com/83728060/179727940-49c4267a-4c74-490a-b74f-09f36fe8aff4.png">

In my opinion, the second one Accio sent would be a better choice:
<img width="612"

[2022-07-19 16:24] leahcimto commented on #309
That looks great, @Chiroyce1! I think one thing you could add is something explaining how to get post links, since I often see that is a common issue.

[2022-07-19 20:01] #304 closed

[2022-07-20 03:34] penguinmoose commented on #310
@Accio1 @leahcimto Can you please look at it and reply? https://github.com/theforumhelpers/theforumhelpers.github.io/issues/310#issuecomment-1188289258

[2022-07-20 17:12] leahcimto commented on #310
I've seen your post, I just don't really have anything to say that would add on to the discussion because of the points you already stated.

[2022-07-20 18:09] penguinmoose commented on #310
(sorry if I sounded too harsh; I sometimes get too urgent)

Here you go:

<img width="1000" alt="Screen Shot 2022-07-20 at 11 07 39 AM" src="https://user-images.githubusercontent.com/67451414/180052306-5b60f2c7-a7af-4a8a-9e4b-4903a4c9dfda.png">

It looks pretty much the same as scaling because the aspect ratio of a computer is about the same as the thumbnail's (at least on my computer).

[2022-07-20 18:16] penguinmoose commented on #310
Oh, and the other option that can tile is `background-size: contain`. This makes it so that the thumbnail enlarges (but does not stretch or squeeze) as big as possible to still fit within the window, then it tiles that to fill up the missing space.

Computer:

<img width="500" alt="Computer with background-size: contain" src="https://user-images.githubusercontent.com/67451414/180053391-6edc6e35-f7

[2022-07-20 18:21] penguinmoose commented on #310
@leahcimto I'd say `cover` is the best option. Also here's a more desaturated version:

<img width="150" src="https://user-images.githubusercontent.com/67451414/180054485-ae4fbbce-1dc4-49f6-b0e9-97b9aa6d016a.png">

[2022-07-20 19:56] Accio1 commented on #319
If no one disagrees, I think we can go ahead with this.

Good catch. It wasn't centred so I fixed it and it is now.

[2022-07-20 20:02] Accio1 commented on #319
Does this rounded version look good to everyone?
![TFHLogoRound](https://user-images.githubusercontent.com/48496940/180071226-1c12129a-f3cd-4541-82ec-d8ce3f32843e.png)

[2022-07-20 20:19] leahcimto commented on #310
I agree that with our options `cover` sounds like the best one.

[2022-07-20 21:01] penguinmoose commented on #310
I mean, having only 2 colors on mobile is still ok (definitely better than having it all squeezed up and deformed).

[2022-07-20 21:02] penguinmoose commented on #310
Ok, then I guess `background-size: cover` it is, right?

[2022-07-20 21:52] penguinmoose opened #332 "Forum Helpers List: Escape < and > in user bios rather than removing them"
**Describe the changes needed**
I think it would be better to escape < and > in user bios instead of simply removing them. That way, people can insert < and > without them being removed and still not interfering with the webpage.

Also, this is the standard way of handling special characters (by escaping them).

`<` can be replaced with &lt to escape
`>` can be replaced with &gt to escape

**Addit

[2022-07-20 21:58] penguinmoose commented on #309
@Chiroyce1 Also, I think there should also be Project Ideas and New Scratchers as an option for active sub-forums, although those are not strictly constructive, but posts there can still be constructive.

[2022-07-20 22:01] leahcimto commented on #332
These characters are used barely at all so this is low priority.

[2022-07-20 22:27] penguinmoose commented on #332
Got it.

[2022-07-21 03:11] penguinmoose commented on #297
Good to know

[2022-07-21 14:08] leahcimto commented on #299
Hiding the whole sentence could make it so someone reads the whole thing and then misses the codeword because it didn't load in time, or the dashboard is blocked on their device making it never come up.

[2022-07-21 15:41] penguinmoose opened #333 "Feature Request: Make the “The Forum Helpers” text in the header also link to the hompage"
I feel like that when on a page on the website, it is not obvious how to go back to the hompage. Usually, the name of the website in the hompage links to the hompage when clicked. I think it would be better and more intuitive to make it so that both the text (“The Forum Helpers”) and the icon link to the hompage.

Even better, when they (the icon and the text, as a whole) are hovered on, there wil

[2022-07-21 15:59] penguinmoose opened #334 "Remove subheadings in the hompage and change the title to “The Scratch Forum Helpers”"
**Remove subheadings in the hompage**

I feel like the subheadings (“Who are we?”, “What forums are we most active in?”, and “How can I join The Forum Helpers”?) are unneeded and I think a plain description would be better and seem more professional (Q&A style of delivering information is a bit indirect and unneeded in my opinion: we can make a FAQ if needed).

At least, I really think the “What f

[2022-07-21 16:12] penguinmoose opened #335 "Feature Request: Make the theme changing button into a dropdown select"
I think it would be better to turn the theme changing button into a dropdown menu/select. That way, someone can view all the available themes and jump to a desired one without having to cycle through all of them. Also, this is the usual way of choosing a theme - I thought that the change theme button actually opens a dropdown.

Also, it isn’t hard to style a dropdown. I’m pretty sure there are CSS

[2022-07-21 16:28] leahcimto commented on #299
This is more urgent now as the entire list of forum helpers depends on the dashboard now. @Accio1 do you have any suggestions? I think a pinger (either GitHub Actions or dashboard pinging itself) running with placeholder text so when the dashboard is down there isn't just nothing would be a good idea. Anyone else have thoughts?

[2022-07-21 17:45] Steve0Greatness commented on #332
I know exactly how this would be done. On line `13` of [`forumhelpers/FHP.js`](../../blob/master/forumhelpers/FHP.js) before the semicolon, add `.replace(/</g, "&lt;").replace(/>/g, "&gt;")`, it's very easy to pull off.

[2022-07-21 17:46] Steve0Greatness commented on #334
Yeah, headings being wordy isn't the best idea.

[2022-07-21 19:17] penguinmoose commented on #334
@Steve0Greatness ”Welcome to the website for” in the title doesn’t even convey any additional information and makes it sound a bit unprofessional.

[2022-07-21 19:42] leahcimto commented on #332
The Dashboard currently just ignores < and >. If someone's bio has < or > the dashboard simply will remove it. also &lt; and &gt; automatically make < and > in HTML as far as I know.

[2022-07-21 19:44] penguinmoose commented on #319
@Accio1 Looks great. I think we can go ahead.

[2022-07-21 21:23] leahcimto commented on #334
Maybe just "Welcome!"?

[2022-07-21 22:42] penguinmoose commented on #334
@leahcimto That's also an option, though it doesn't say what the website is. I think it would be best if it's either "The Scratch Forum Helpers" or "Welcome!"

[2022-07-21 22:44] penguinmoose commented on #332
@leahcimto What do you mean by "also < and > automatically make < and > when the webpage is displayed as far as I know"?

[2022-07-21 23:33] penguinmoose opened #336 "Make “Curators” and “Managers” (the headings) in the list of forum helpers into normal ones"
I think the headings in the list of forum helpers (“Managers” and “Curators”) should become normal headings consistent with the rest of the website. The headings there is like the odd one out.

This is pretty important because the way the headings in the list are styled (rounded background with a border) makes it look exactly like a button that does something when clicked. Even though I know that

[2022-07-21 23:44] penguinmoose commented on #319
@Accio1 But we shouldn’t delete the old icon (we should put it somewhere). The old icon will probably show up with the “old” theme (discussed in #310), but that will come later.

[2022-07-21 23:48] penguinmoose commented on #299
@leahcimto Agree. A placeholder would be good. Also, can someone add or remove some tag to let people know that this might need some attention? Right now there’s a stale tag.

[2022-07-22 00:03] Accio1 commented on #336
This was done intentionally to make the heading more noticeable as scrolling quickly through the list, it was easy to miss the headings if they were styled normally. I am open to ways to make them stand out more without looking like buttons though.

[2022-07-22 00:06] Accio1 commented on #332
Currently, these characters are removed automatically by the dashboard when someone submits a bio. This was implemented alongside other measures to prevent XSS.

[2022-07-22 00:36] leahcimto commented on #332
Edited, Markdown even displayed them as < and >

[2022-07-22 00:38] leahcimto commented on #319
I could replace the icon and make a  PR if we are good to go ahead with that.

[2022-07-22 00:39] leahcimto commented on #319
Yeah that would be a good idea. We could move it to a file like icon_old.png

Yeah that would be a good idea. We could move it to a file like icon_old.png

that awkward moment when you edit someone's comment instead of quoting it 😳

[2022-07-22 00:41] Accio1 commented on #319
I've already got it set up on a branch but I'm not at home right now so I can get to it tomorrow.

[2022-07-22 12:20] penguinmoose commented on #336
@Accio1 I see. Then maybe make them span full width? That should still be pretty noticeable (if not more), and it probably won't look like buttons.

[2022-07-22 12:24] penguinmoose commented on #334
@Accio1, could I be assigned? I know we haven't discussed this to a conclusion, but when we do, can I be assigned? It's kinda a small change, but I just want to contribute a bit.

[2022-07-22 12:43] penguinmoose opened #337 "Feature Request: In the forum helpers list, make "Ocular status" show a tooltip when clicked or hovered upon"
**Is your feature request related to a problem?**
Not really. In the list of forum helpers, on the top, where it says "Below is a list of current ... ... biography, and **Ocular status**", "Ocular status" links to the homepage of Ocular. Instead, I think it would be more helpful if we make hovering or clicking on it show a tooltip that describes what an Ocular status is (the tooltip can have a lin

[2022-07-22 12:49] penguinmoose commented on #332
@Accio1 I was just bringing this up as an alternative. I agree that it isn't very high priority.

[2022-07-22 17:27] penguinmoose commented on #319
@Accio1 @leahcimto Also, I think it would be good to change the GitHub organization icon to the new one.

[2022-07-22 19:57] penguinmoose commented on #299
@Accio1 If it’s priority high, why aren’t we fixing it?

[2022-07-23 02:27] Accio1 commented on #333
Most sites seem to have it so that if you click the general area of the title or icon it directs to the homepage, so I would like to do something similar. If they are both wrapped in a `<span>` tag which is the height of the header it should be easy to turn them all into a link.

[2022-07-23 02:32] Accio1 commented on #334
Honestly the main point of this website is not to be "professional". It is to be friendly and welcoming to users who may want to find out more about the Forum Helpers or the process of applying. Since this is the landing page of the site, it should have this type of information so that people can quickly see what the site is about. The Q&A format makes this more conversational, which makes the sit

[2022-07-23 02:38] Accio1 commented on #337
Perhaps adding a title attribute of "an ocular status is a short message and favourite colour, which is displayed across ocular and other sites" and changing the link to https://ocular.jeffalo.net/docs/about#what-is-an-ocular-status would be more helpful?

[2022-07-23 02:44] Accio1 commented on #335
Standard dropdown elements (`<select>` tags) are actually a pain to style and end up looking like garbage if you view them on a device other than the one the styling was developed on. More likely if this were to be implemented, a custom dropdown that does not use the `<select>` element similar to the one currently used in the header on mobile devices.

[2022-07-23 02:48] Accio1 commented on #299
Because I need to think of the best way to do this without spamming my own servers, since I am using a free tier of the service that hosts the dashboard so there are certain limits in place about the number of hours that it is allowed to run. If it is kept "awake" by a pinger constantly then these limits could be reached and then it wouldn't work for the rest of the month.

I agree that placeholde

[2022-07-23 13:10] leahcimto commented on #299
Would it be okay if I made a PR with placeholder text?

[2022-07-23 14:24] Accio1 commented on #299
Yes, that would be great thanks!

[2022-07-23 15:58] #319 closed

[2022-07-23 20:32] penguinmoose commented on #337
@Accio1 I think that would be even better.

[2022-07-23 20:37] penguinmoose commented on #337
@Accio1 I put your suggestion in alternatives. Also, I'm not a huge fan of long titles (the attribute), so maybe we can shorten it to something like "an ocular status is a short message and color set using ocular.jeffalo.net" or something like that?

[2022-07-23 20:45] penguinmoose commented on #334
@Accio1 True. (also my assignment request was kinda for later)

I agree that this needs more discussion. I understand that we are trying to make the homepage as friendly as possible. I guess we can leave the Q&A format as is, but I think the how to join section does need to be changed to "To join, please read the application instructions" or something like that (read my original post for reasons w

[2022-07-23 20:54] penguinmoose commented on #335
@Accio1 Right. I mean styling the dropdown opener (you can just style it like any other element).

Each browser has a different select option style, so I think we can forget about styling the interior (the options) of the select dropdown. The opener can be easily styled (at least from my experience; I might have forgotten).

Also, it might be worth checking out https://www.geeksforgeeks.org/how-to

[2022-07-23 20:55] penguinmoose commented on #335
@Accio1 Also, I think this needs some discussion (maybe add the tag?).

[2022-07-23 20:58] penguinmoose commented on #333
@Accio1 Right. Wrapping them in a `<span>` tag would be good because they don't really have many default properties (unlike `<div>`).

[2022-07-24 21:21] leahcimto opened #341 "Feature Request: Website Contributor Icons/Emojis"
**Is your feature request related to a problem?**
No, however this has been discussed before and I think it would be a good idea to have contributor badges of some sort on the forum helpers list page. Also possibly for dashboard admins. It could be just an emoji next to their username, and I think it would be okay if it was hardcoded instead of being updated by the dashboard.

**Describe alternati

[2022-07-24 21:48] #299 closed

[2022-07-24 22:10] Accio1 commented on #341
I like this idea, and think that we could expand it to maybe have a few different badges, similar to the ones on GitHub profiles, based on certain requirements.

Here are some that I have come up with so far, does anyone else have any ideas for other badges?
![SiteBadges](https://user-images.githubusercontent.com/48496940/180667780-1798af85-fe52-4c84-aed3-6055519bef73.png)

[2022-07-24 22:18] Accio1 commented on #299
I believe that the placeholder loading text is the best option that we have at the moment, because after doing more research, a pinger would definitely cause problems with the dashboard and therefore should not be used. If anyone has an idea that is different than just placeholder text but does not involve a pinger, feel free to suggest it.

[2022-07-24 23:59] leahcimto commented on #341
Those look really cool!

[2022-07-25 00:01] Accio1 commented on #341
@leahcimto do you have any suggestions for others that could be displayed?

[2022-07-25 00:02] leahcimto commented on #341
At the moment no, but I'll try to think of some more.

[2022-07-25 00:09] leahcimto commented on #341
Possibly a top 25 badge for being in the top 25 of having the most posts (https://postpercent.rirurin.com/forum/0/1). I was going to suggest post count badges but that might encourage post farming.

[2022-07-25 00:29] penguinmoose opened #343 "In the application instructions, it says to leave a bio on the TFH-Bios account, not using the dashboard."
In the application instructions, under "I've been accepted! Now what?", it tells you to leave a bio on the TFH-Bios Scratch account. Since changing and adding bios has moved to the dashboard, I think we should change it to tell you to use the dashboard. I know that the account will tell you to use the dashboard, but it's still outdated information and might be a bit of an additional hassle.

[2022-07-25 00:30] penguinmoose commented on #343
Also, if this gets implemented, @Accio1, can I be assigned?

[2022-07-25 15:08] Accio1 commented on #343
Good catch @penguinmoose!

The text can probably be changed to something along the lines of:

Congratulations! You will know that you have been accepted because you will receive an invite to the studio and a comment on your profile with the good news. Within a week of your acceptance, you should gain access to [The Forum Helpers Dashboard](https://theforumhelpers.herokuapp.com/), which you can use

[2022-07-25 16:52] leahcimto commented on #343
@Accio1 Maybe we can add "Please wait a week before contacting admins if you haven't received access to the dashboard yet."?

[2022-07-25 18:50] leahcimto commented on #149
Hi everyone, I am closing this issue now because I don't think it's a really important thing to add and now there are 50+ projects in the studio and some most of them are not "helpful" at all. If anyone else really wants this though let me know and I'll re-open it.

[2022-07-25 18:50] #149 closed

[2022-07-25 19:53] penguinmoose commented on #343
@Accio1 That sounds great. I'll create a PR.

[2022-07-25 20:06] penguinmoose commented on #343
@Accio1 sorry, but how do you fork the repo?

[2022-07-25 20:22] penguinmoose commented on #343
@Accio1 Actually, I think I figured it out.

[2022-07-25 21:13] leahcimto commented on #343
@penguinmoose Our [CONTRIBUTING.md](https://github.com/theforumhelpers/theforumhelpers.github.io/blob/master/CONTRIBUTING.md) file is very helpful if you need help with any of that :)

[2022-07-25 22:05] penguinmoose commented on #343
@Accio1 I read that. Just found out how to fork - I might ask you some more questions if I need help

Right now I'm making the changes on my fork.

[2022-07-25 22:20] penguinmoose commented on #343
@Accio1 I made some minor changes to your suggested text:

...biography on list of forum helpers... -> biography on **the** list of forum helpers (grammar)
Incorporating @leahcimto's suggestion, at the end of the text, I added "Please only contact admins if you haven't received access to the Dashboard for 1 week."

I made all the links in your post links.

[2022-07-25 22:46] penguinmoose commented on #343
@Accio1 Ok, made the PR (#347) - can you take a look at it?

[2022-07-27 02:14] Dhuls-Scratch opened #348 "Bug: Codeword doesn't load"
**Describe the bug**
A clear and concise description of what the bug is. Please use screenshots if applicable.

The codeword (and application status) don't load

**To Reproduce**
Steps to reproduce the bug

Go to https://theforumhelpers.github.io/apply/

**Expected behavior**
A clear description of what you expected to happen.

The codeword loads

**Browser Information**
Include details about your

[2022-07-27 02:20] Accio1 commented on #348
Sorry about that. Should be working now.

[2022-07-27 02:20] #348 closed

[2022-07-27 20:34] Weredime opened #349 "Use uploads.scratch.mit.edu rather than cdn2"
Scratch recently created a redirect from images at `cdn2.scratch.mit.edu` to `uploads.scratch.mit.edu`. We should save them a redirect.
https://github.com/theforumhelpers/theforumhelpers.github.io/blob/57f024c5c64ba6832cdd3e39d175ade3e7b2826f/forumhelpers/FHP.js#L19

@Accio1 Could I be assigned? I have a branch at https://github.com/Weredime/tfh-site.fork/blob/chore/update-profile-images/forumhelp

[2022-07-27 20:47] Weredime opened #350 "Simplify FHP.js and use code supporting modern browsers"
We currently implement the `fetch` standard, which is present starting Chromium 42 and Firefox 39.
In FHP.js, we can really simplify it a LOT, and use better code practices supported in these versions, such as:

- `document.createElement` instead of Element.innerHTML - XSS could be a thing, but moderation is implemented in the main website. Really, you should just use `.innerText`, It's supported

[2022-07-27 21:38] gosoccerboy5 commented on #350
document.createElement in FHP.js would make it a lot more verbose, and I don't think XSS is as much of a risk for such a simple, relatively low-traffic site like this

[2022-07-27 23:10] penguinmoose commented on #310
@Accio1 @leahcimto Can someone get this implemented?

[2022-07-27 23:12] penguinmoose commented on #350
Yeah, I’ve heard that `let` is sometimes better than `var`

[2022-07-27 23:13] penguinmoose commented on #350
And I always use `const` for things that don’t change - it’s just better (it doesn’t let you change it I think) in my opinion.

[2022-07-28 00:10] leahcimto commented on #349
@Weredime Since this is such a small change feel free to submit a PR. I could have sworn we changed from cnd2 to uploads a while ago (#45), but I guess it was changed back. I will assign you now.

[2022-07-28 00:26] leahcimto opened #351 "Documentation: TFH Dashboard Issue Template"
**What does this affect?**
Issue templates

**Changes/Additions**
There should be an issue template for the dashboard

[2022-07-28 01:18] gosoccerboy5 commented on #350
does it really matter in the case of this repo tho?

[2022-07-28 12:49] leahcimto opened #352 "Bug: Spelling mistake on the dashboard"
**Describe the bug**
The dashboard says "Recent Codwords" instead of "Recent Codewords"

**To Reproduce**
Open the dashboard as a manager

**Expected behavior**
The spelling should be correct.

**Browser Information**
Include details about your browser and OS here. If possible, please identify if this is happening on just your browser and OS, or other ones as well.

**Additional context**
Add any

[2022-07-28 16:59] BarelySmooth commented on #351
The dashboard isn't part of this repository. Feedback for the dashboard should have its own repo (when it eventually becomes public in the future)

[2022-07-28 17:05] leahcimto commented on #351
True... so what you are saying is create a blank repo for the dashboard and when it becomes open source move it's code there? @Accio1

[2022-07-28 18:11] BarelySmooth commented on #351
it would be a better idea to wait until the code is open-sourced (moving the code to a new repository wont preserve things like commit history)

[2022-07-29 01:15] penguinmoose commented on #352
That should be a simple fix.

[2022-07-29 01:16] penguinmoose commented on #351
@BarelySmooth Right. We can put that repo in the same organization. But it needs to get open sourced first, of course

[2022-07-29 12:37] leahcimto commented on #351
@Accio1 Is the code for the dashboard in a GH private repo somewhere or are you working on it somewhere else than github?

[2022-07-30 21:09] penguinmoose commented on #351
@Accio1 If it's a private repo, it shouldn't be hard to make it public and move it here.

[2022-07-31 00:55] penguinmoose commented on #341
@leahcimto I think a top 25 badge would not be super important, but it might be nice.

@Accio1 Also, I suppose we will manually update the badges (making it auto will probably be pretty hard), right? If so, it shouldn't be too hard.

[2022-07-31 01:53] leahcimto commented on #341
These things don't change very often (if at all) so they would likely be hardcoded.

[2022-07-31 17:50] Adzboy opened #354 "Feature Request: Link to TFH GitHub in the header"
Link to https://github.com/theforumhelpers/theforumhelpers.github.io/ in the header of the website so people can see where to contribute.

[2022-07-31 18:00] gosoccerboy5 commented on #354
I think it's in the website's footer.

[2022-07-31 19:56] #354 closed

[2022-07-31 20:20] Adzboy commented on #354
Whoops, didn't notice that. Nevermind then

[2022-08-01 19:51] penguinmoose commented on #350
@gosoccerboy5 It probably won't impact the actual site. I guess it's just a code improvement.

[2022-08-01 20:08] penguinmoose commented on #310
@Accio1 @leahcimto Can we get going?

The background would be something like this:
[code]

[This is the link to the background.](https://user-images.githubusercontent.com/67451414/180054485-ae4fbbce-1dc4-49f6-b0e9-97b9aa6d016a.png)

I'm thinking that Secondary could be #2b315c. The rest we can leave as is until we test it.

Can someone at least make a PR? Since I don't know how our CSS variables w

[2022-08-01 20:11] penguinmoose commented on #309
@Chiroyce1 How's it going? I wouldn't worry too much about what subforums to include. We can always change that later.

Validation of posts via ScratchDB isn't very important in my opinion. By post validation, you mean checking if the posts exist and are not deleted, dustbinned, or otherwise removed from the public forums?

[2022-08-01 20:13] leahcimto commented on #310
Coming up with a complete mockup now.

[2022-08-01 20:18] leahcimto commented on #310
Hm, I'm trying to use the image as the background but I'm having some trouble doing that with the CSS variables.

[2022-08-02 00:57] penguinmoose commented on #310
@leahcimto hmm.

If `—primary` controls more than just the background, we probably need to make a new CSS variable that controls just the background. Maybe something like `—background`.

For the `background-size:`, hopefully we can just set the background size to `cover` in `body` hardcoded. After all, all the other themes use solid colors so `background-size` should not affect the apperence, exce

[2022-08-02 00:59] penguinmoose commented on #310
@leahcimto Also, does `—secondary: #2b315c` look good? I tested only the header with that color (I don’t know how to do anything with css variables).

[2022-08-02 10:13] BarelySmooth commented on #310
This is only my opinion, but having the thumbnail as the website background makes it look a little odd. If this background is only going to be added to the "light theme", it would not remain consistent with the other themes (which do not have a background image).

Also, the blue secondary color `rgb(49, 172, 186)` (used on the header and other elements) looks out of place with the thumbnail set as

[2022-08-02 12:48] leahcimto commented on #310
I see what you are saying. Maybe the thumbnail background isn't our best option.

[2022-08-02 13:12] Chiroyce1 commented on #309
@penguinmoose  I'm sorry I sort of forgot about this 😭

Yeah, thats an easily modifiable array, I just need to make sure that the checkboxes also hide/show according to the list.

Basically just making sure that they were posted by the user they are claiming to be, just in case they grab a wrong link or something. But yeah, I agree that it isn't too necessary.

I think this makes the most sense. I

[2022-08-02 13:57] gosoccerboy5 commented on #309
quick note: If you're doing ScratchDB verification along with that, I think you need to properly spell and capitalize the names of each subforum. My code had a little bug with case sensitivity and one of the items in the subforums list.

I think ScratchDB verification is a good idea. As long as we make sure these posts are in constructive subforums, are the applier's posts and not someone else's,

[2022-08-02 19:48] penguinmoose commented on #310
@BarelySmooth Right. Ok, let's go back a step. Maybe we should just do regular colors.

Or we can maybe make `--secondary` a semitransparent version of that color. That color can be made lighter. Since I still don't know how to use those variables, I can't test, but it's just an idea.

[2022-08-02 19:51] penguinmoose commented on #310
@BarelySmooth I see what you mean. That color as secondary doesn't go well with the lightened thumbnail background as background. It looks like it fits more of a dark theme.

Instead, what about a semitransparent version of `rgb(70, 80, 158)`?

[2022-08-08 23:35] penguinmoose commented on #310
@leahcimto @BarelySmooth What do you think ^^^?

[2022-08-09 23:52] leahcimto opened #356 "Bug: Add Project and Save Level codes to unconstructive forums list"
**Describe the bug**
New forum needs to be added to the list of unconstrucitve forums

**To Reproduce**
See the list on the apply page

**Expected behavior**
It should have the new forum

**Browser Information**
Not applicable

**Additional context**
Marking as help wanted, and proposal approved here: https://scratch.mit.edu/studios/30136703/comments/#comments-192574436

[2022-08-09 23:53] leahcimto commented on #356
Has pr: #355

[2022-08-10 00:26] penguinmoose commented on #356
@leahcimto Just wondering, why is there a help wanted tag when there is already a PR? Should there be a in progress tag?

[2022-08-10 14:16] David-Ottache commented on #356
Hi...
I am a first-timer.
I would like to work on this.

[2022-08-10 21:34] penguinmoose commented on #356
@David-Ottache Sorry, but the task is already being done (sorry for the confusion caused by the tags).

[2022-08-11 02:13] #333 closed

[2022-08-11 02:22] #343 closed

[2022-08-11 02:27] Accio1 commented on #356
@David-Ottache as mentioned above, this issue currently has a fix in progress. However, feel free to contribute to other open issues within this repository!

[2022-08-11 02:28] #349 closed

[2022-08-11 02:36] Accio1 commented on #349
Strange. I remember making that change so it must have been changed back mistakenly between then and now.

[2022-08-24 00:43] leahcimto opened #357 "Dashboard down?"
The dashboard is currently down for me. Is anyone else experencing this issue? I'm getting this:

<img width="789" alt="Screen Shot 2022-08-23 at 8 42 59 PM" src="https://user-images.githubusercontent.com/68165163/186290233-d523bcdc-aa24-4175-85cf-30b5c4db2258.png">
?

@Accio1

[2022-08-24 02:01] Accio1 commented on #357
Try it again now. It worked for me but had an unusually long loading time so maybe your computer timed out before it loaded?

[2022-08-24 12:39] leahcimto commented on #357
Working now. I guess it could have been an issue with Heroku or my internet connection.

[2022-08-24 12:39] #357 closed

[2022-08-26 23:20] leahcimto opened #358 "History page with notable milestones and dates for our studio(s)"

[2022-08-26 23:25] leahcimto commented on #341
Does anyone have any ideas on how to implement this?

[2022-08-27 14:03] BarelySmooth commented on #341
We could add entries containing badge information to the JSON files that contain manager/curator data

[2022-08-31 00:47] Accio1 commented on #351
I'm working on it off GitHub using Git so it does have a Git history. However, I'm still not quite ready to open source it. In the meantime, I agree that there should be an issue template for dashboard issues. It should include the policy that any security issues with the dashboard are not shared publicly and rather posted in the comments of one of my older Scratch projects.

@leahcimto or @pengui

[2022-08-31 00:54] Accio1 commented on #337
Is the title attribute even required if we change the link to the one mentioned above? If not then you can go ahead and submit a PR to change the link @penguinmoose

[2022-08-31 01:11] Accio1 commented on #121
@FunctionalMetatable are you still interested in implementing this? It hasn't had much discussion in a while but if you are still interested in it then the discussion could probably be revived.

One thing that I am concerned about is that this could encourage post grinding/farming just to move past other Forum Helpers in the rankings. The point of The Forum Helpers is to provide others with qualit

[2022-08-31 07:25] Weredime commented on #121
@Accio1 I think the API should be implemented with the tfh dashboard.

I am @FunctionalMetatable (its literally everywhere on my old profile)

[2022-08-31 21:27] leahcimto commented on #351
@Accio1 Would it be okay if I did? @penguinmoose if you want to do it that's fine too!

[2022-08-31 21:30] Accio1 commented on #351
@leahcimto, yes you can go ahead and work on it. @penguinmoose left a comment in TFH studio saying they would be inactive for a few days starting today so they won't be able to work on it yet anyway.

[2022-09-03 20:55] penguinmoose commented on #358
I’m thinking that a link to the timeline would be in the footer, along with the other links. Here are some events:

- Studio gets created - everything starts.
- (Certain events I am unaware of)
- We change from the old studio to the new one.

I will update this when I find more.

[2022-09-03 21:29] penguinmoose commented on #337
@Accio1 True. Changing the link is good enough. I’ll make a PR when I have time.

[2022-09-04 17:01] #341 closed

[2022-09-04 20:55] penguinmoose commented on #351
@Accio1 Actually, I’d love to work on it. I’m more active now.

[2022-09-04 20:56] Accio1 commented on #351
@penguinmoose you'll have to ask leahcimto, he was already assigned and may have started working on it already.

[2022-09-04 20:58] penguinmoose commented on #351
@leahcimto Is it okay if I work on it? If you are already working on it, no problem.

[2022-09-04 21:01] penguinmoose commented on #358
@Accio1 I think it should be sorted in order from latest to oldest. Should semi-unrelated stuff like “trend cult gets created”? How about major SAs?

[2022-09-05 19:43] leahcimto opened #362 "Studio hosts list (suggested by xXRedTheCoderXx )"

[2022-09-05 19:49] leahcimto commented on #362
I was thinking the badge could be something like a key? Kind of like this: https://svgsilh.com/image/311986.html

[2022-09-05 20:31] leahcimto commented on #351
@Accio1 should there be separate issue templates for dashboard bugs and dashboard feature requests, or should they be the same?

[2022-09-05 21:36] penguinmoose commented on #351
@leahcimto Thanks!

Wait, so the dashboard code and issues relating to that would be put in this repo? If so, here’s a draft:

 _If this is about a security vulnerability, please do not post it publicly here. Instead, comment about it on one of -Accio-‘s old projects._

### Is this issue related to a dashboard problem?
_If so, please describe the problem here._

### What feature, solution, or chan

[2022-09-05 21:39] penguinmoose commented on #362
Looks good. Alternatively, instead of a orange gradient background, the background could be a desaturated version of the TFH background, similar to the code contributor badge.

[2022-09-05 23:36] leahcimto commented on #351
That looks great! One thing you might want to do is clarify "Scratch project" in the disclaimer at the top.

[2022-09-06 23:33] penguinmoose commented on #351
@leahcimto Ok, fixed.

[2022-09-11 20:30] penguinmoose commented on #309
@Chiroyce1 Sorry for the delay, but I actually now think ScratchDB verification is not nessasary. If one of the posts is deleted or dustbinned etc (which is actually very unlikely), the studio people can just alert the person - although verification would be a low priority good addition in my opinion. If there’s an error, we can just assume that the post is valid - the chance that someone has an i

[2022-09-12 21:38] leahcimto commented on #358
I will make a discussion of notable events to add.

[2022-09-12 21:42] leahcimto commented on #358
Created at #363